<lg-title>Vous avez oublié votre mot de passe ?</lg-title>
<sign-form>
	<form>
		<comment>Pas de problème ! Il vous suffit d'entrer votre adresse e-mail ci-dessous et nous vous enverrons un lien pour le réinitialiser.</comment>
		<input type="email" placeholder="Email" ng-model="$ctrl.user.forgottenPasswordData.email" />
		<lg-error error="$ctrl.user.error"></lg-error>
		<div class="bouton">
			<button ng-click="$ctrl.user.forgottenPassword($ctrl.updatePasswordData);">Envoyer</button>
		</div>
	</form>
</sign-form>