<style>
.profil {
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 20px 0px 10px;
}

.profil i {
    font-size: 70px;
}

.profil h1 {
    font-size: 30px;
    margin: 10px 0;
}

.profil h2 {
    font-size: 30px;
    margin: 10px 0;
}

.edit-profil {
    width: 100%;
    padding: 20px 10px;
    text-align: center;
}
</style>


<title-icon><i class="fa fa-user-circle-o" aria-hidden="true"></i></title-icon>
<title>Bienvenue</title>
<subtitle>{{$ctrl.user.account.content.firstname}} {{$ctrl.user.account.content.lastname | uppercase }}</subtitle>

<section class="edit-profil">
		<form name="updateCtrl">
			<input type="text" placeholder="Nom" ng-model="$ctrl.updateData.content.lastname"/><br/>
			<input type="text" placeholder="Prenom" ng-model="$ctrl.updateData.content.firstname" /><br/><br/>
			<input type="text" placeholder="Pseudo" ng-model="$ctrl.updateData.content.pseudo" />
			<input type="email" placeholder="Email" ng-model="$ctrl.updateData.email" />
			<br/><br/>
			<input type="text" placeholder="Adresse" ng-model="$ctrl.updateData.content.address.street" /><br/>
			<input type="text" placeholder="Code postal" ng-model="$ctrl.updateData.content.address.zipcode" /><br/>
			<input type="text" placeholder="Ville" ng-model="$ctrl.updateData.content.address.city" /><br/>
			<input type="text" placeholder="Pays" ng-model="$ctrl.updateData.content.address.country" /><br/>
			<input type="text" placeholder="Téléphone" ng-model="$ctrl.updateData.content.phone" /><br/><br/>

			<div class="segmented-control" style="width: 100%; color: #223c5d; border-radius: 5px;">
				<input type="radio" name="sc-1-1" id="sc-1-1-1" checked>
				<input type="radio" name="sc-1-1" id="sc-1-1-2">
				<label for="sc-1-1-1" data-value="Chargeur">Chargeur</label>
				<label for="sc-1-1-2" data-value="Transporteur">Transporteur</label>
			</div>
			<br/><br/>
			<lg-error error="$ctrl.user.error"></lg-error>
			<div class="bouton">
				<button ng-click="$ctrl.user.update($ctrl.updateData);">Modifier</button>
			</div>
			<lg-hr>ou</lg-hr>
			<a ui-sref="user:updatePassword">Modifier mot de passe</p>
			<lg-hr>ou</lg-hr>
			<a ui-sref="user:confirmDelete" class="critical">Supprimer mon compte</p>
		</form>
</section>
