<title-icon><i class="fa fa-user-circle-o" aria-hidden="true"></i></title-icon>
<title>Bienvenue</title>
<subtitle>{{$ctrl.user.account.content.firstname}} {{$ctrl.user.account.content.lastname | uppercase }}</subtitle>

<form class="edit-profile" name="updateCtrl">
	<input type="text" placeholder="Nom" ng-model="$ctrl.user.updateData.content.lastname" />
	<input type="text" placeholder="Prenom" ng-model="$ctrl.user.updateData.content.firstname" />
	<br/>
	<input type="text" ui-mask="A***?*?*?*?*?*?*?*?*?*?*?*?*?*?*?*?*?*?*" placeholder="Identifiant" ui-mask-placeholder ui-mask-placeholder-char="space"
		ng-model="$ctrl.user.updateData.content.login" />
	<input type="email" placeholder="Email" ng-model="$ctrl.user.updateData.email" /><br/>
	<lg-select ng-model="$ctrl.user.signupData.content.profile">
		<lg-option value="loader" selected>Chargeur</lg-option> 
		<lg-option value="carrier" selected>Transporteur</lg-option>
		<lg-option value="both" selected>Les deux</lg-option>
	</lg-select>
	<br/>
	<input type="text" name="street" placeholder="Adresse" ng-model="$ctrl.user.updateData.content.address.street" />
	<input type="text" name="zipcode" placeholder="Code postal" ng-model="$ctrl.user.updateData.content.address.zipcode" />
	<input type="text" name="city" placeholder="Ville" ng-model="$ctrl.user.updateData.content.address.city" />
	<input type="choice" choices="$root.config.countries" title="Pays d\'origine" placeholder="Pays" ng-model="$ctrl.user.updateData.content.address.country"
	/>
	<input type="text" placeholder="Téléphone" ng-model="$ctrl.user.updateData.content.phone" />
	<br/>
<lg-error error="$ctrl.user.error"></lg-error>
<div class="bouton">
	<button ng-click="$ctrl.user.update();">Modifier</button>
</div>
<lg-hr>ou</lg-hr>
<a ng-show="$ctrl.user.account.password !== ''" ui-sref="user:updatePassword">Modifier mot de passe</a>
<a ng-hide="$ctrl.user.account.password !== ''" ui-sref="user:initiatePassword">Initialiser mot de passe</a>
<lg-hr>ou</lg-hr>
<a ui-sref="user:confirmDelete" class="critical">Supprimer mon compte</a>
</form>