<lg-title>S'identifier</lg-title>
<sign-form>
	<div class="table">
		<div class="row">
			<div class="cell">
				<img class="cell-fb" src="img/facebook.svg" />
			</div>
			<div class="cell">
				<img class="cell-go" src="img/google-plus.svg" />
			</div>
		</div>
	</div>
	<lg-hr>ou</lg-hr>
	
	<form name="signinCtrl" ng-submit="$ctrl.user.signin();">
		<input type="text" placeholder="email, n°tel, pseudo" ng-model="$ctrl.user.signinData.email" />
		<input type="eyepassword" placeholder="Mot de passe" ng-model="$ctrl.user.signinData.password" />
		<p ng-show="$ctrl.user.isSigninError" class="errorMsg">Mot de passe incorrect.</p>
		
		<div class="bouton">
			<button>Se connecter</button>
		</div>
	</form>
	<div class="creer-compte">
		<lg-hr>ou</lg-hr>
		<a ui-sref="user:signup">Créer un nouveau compte</a>
	</div>
</sign-form>