<lg-title>S'identifier</lg-title>
<sign-form>
	<div class="table">
		<div class="row">
			<div class="cell">
				<img class="cell-fb" src="img/facebook.svg" />
			</div>
			<div ng-click="$root.goto('./ws/oauth2/google.php')" class="cell">
				<img class="cell-go" src="img/google-plus.svg" />
			</div>
		</div>
	</div>
	<lg-hr>ou</lg-hr>
	
	<form name="signinCtrl" ng-submit="$ctrl.user.signin();">
		<input type="text" placeholder="email, n°tel, pseudo" ng-model="$ctrl.user.signinData.email" />
		<input type="eyepassword" placeholder="Mot de passe" ng-model="$ctrl.user.signinData.password" />
		<lg-error error="$ctrl.user.error"></lg-error>
		
		<div class="bouton">
			<button>Se connecter</button>
		</div>
	</form>
	
	<lg-hr>ou</lg-hr>
	<create-account>
		<a ui-sref="user:signup">Créer un nouveau compte</a>
	</create-account>
</sign-form>