<lg-title>Créer un compte</lg-title>
<sign-form>
	<div class="table">
		<div class="row">
			<div class="cell">
				<img class="cell-fb" src="img/facebook.svg" />
			</div>
			<div class="cell">
				<img class="cell-go" src="img/google-plus.svg" />
			</div>
		</div>
	</div>
	<lg-hr>ou</lg-hr>
	<form name="signupCtrl" ng-submit="$ctrl.user.signup();">
		<input type="text" placeholder="Nom" ng-model="$ctrl.user.signupData.content.lastname" />
		<input type="text" placeholder="Prenom" ng-model="$ctrl.user.signupData.content.firstname" /><br/>
		<input type="text" ui-mask="A***?*?*?*?*?*?*?*?*?*?*?*?*?*?*?*?*?*?*" placeholder="Identifiant" ui-mask-placeholder ui-mask-placeholder-char="space"
			ng-model="$ctrl.user.signupData.content.login" />
		<input type="text" placeholder="Email" ng-model="$ctrl.user.signupData.email" /><br/>
		<input type="text" placeholder="Adresse" ng-model="$ctrl.user.signupData.content.address.street" />
		<input type="text" placeholder="Code postal" ng-model="$ctrl.user.signupData.content.address.zipcode" />
		<input type="text" placeholder="Ville" ng-model="$ctrl.user.signupData.content.address.city" />
		<input type="choice" choices="$root.config.countries" title="Pays d\'origine" placeholder="Pays" ng-model="$ctrl.user.signupData.content.address.country"
		/>
		<input type="text" placeholder="Téléphone" ng-model="$ctrl.user.signupData.content.phone" /><br/>
		<input type="eyepassword" placeholder="Mot de passe" ng-model="$ctrl.user.signupData.password" />
		<br/>
		<div class="segmented-control" style="width: 100%; color: #223c5d; border-radius: 5px;">
<input type="radio" name="sc-1-1" id="sc-1-1-1" checked>
<input type="radio" name="sc-1-1" id="sc-1-1-2">
<label for="sc-1-1-1" data-value="Chargeur">Chargeur</label>
<label for="sc-1-1-2" data-value="Transporteur">Transporteur</label>
</div>
<lg-error error="$ctrl.user.error"></lg-error>

<button>Créer le compte</button>

</form>
</sign-form>