<div class="ad-title">
	<left>
		<img class="title lg-svg" src="img/delivery-trolley.svg" />
	</left>
	<right>
		<title>Chargeur</title>
		<subtitle>Déposer une annonce</subtitle>
	</right>
</div>
<form class="ad" name="loaderCtrl">
	<section class="dark">
		<big-label>Origine</big-label>
		<label>Ville</label>
		<lg-city title="Ville du chargement" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.loader.createData.departureCity"></lg-city>
		<label>Date et heure de chargement</label>
		<input type="lgDate" title="Date et heure" placeholder="Choisir une date" ng-model="$ctrl.loader.createData.departureDatetime"
			options="{position: 'next-days', constraint: 'only-future'}" />
	</section>
	<section>
		<big-label>Destination</big-label>
		<label>Ville</label>
		<lg-city title="Ville de la livraison" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.loader.createData.arrivalCity"></lg-city>
		<label>Date et heure de livraison</label>
		<input type="lgDate" title="Date et heure de livraison" placeholder="Date de départ" ng-model="$ctrl.loader.createData.arrivalDatetime"
			options="{position: 'next-days', constraint: 'only-future'}" />
	</section>
	<section class="dark">
		<big-label>Marchandise</big-label>
		<label>Type</label>
		<input type="choice" options="{icon: $root.config.getLoaderTypesIcon}" choices="$root.config.typeOfGoods" title="Type de marchandise" placeholder="Ex : Classique, Dangereux, etc."
			ng-model="$ctrl.loader.createData.typeOfGoods" />
		<label>Conditionnement</label>
		<input type="choice" choices="$root.config.conditioningTypes" title="Type de conditionnement" placeholder="Ex : Colis, Palettes, etc."
			ng-model="$ctrl.loader.createData.conditioning" />
	</section>
	<section>
		<big-label>Transport</big-label><br/>
		<lg-select ng-model="$ctrl.loader.createData.transportCategory">
			<lg-option value="Camion" selected><i class="fa fa-truck" aria-hidden="true"></i><span>Camion</span></lg-option> 
			<lg-option value="Avion" selected><i class="fa fa-plane" aria-hidden="true"></i><span>Avion</span></lg-option>
			<lg-option value="Bateau" selected><i class="fa fa-ship" aria-hidden="true"></i><span>Bateau</span></lg-option>
		</lg-select>

		<div ng-show="$ctrl.loader.createData.transportCategory === 'Camion'">
			<label>Type de camion</label>
			<input type="choice" choices="$root.config.transportTruckTypes" title="Type de camion" placeholder="Ex : Benne, Bâché, etc."
				ng-model="$ctrl.loader.createData.transportTruckType" />
		</div>
		<div ng-show="$ctrl.loader.createData.transportCategory === 'Bateau'">
			<label>Type de bateau</label>
			<input type="choice" choices="$root.config.transportBoatTypes" title="Type de bateau" placeholder="Ex : Barge, Navire  Lo-Lo, etc."
				ng-model="$ctrl.loader.createData.transportBoatType" />
		</div>
		<div ng-show="$ctrl.loader.createData.transportCategory === 'Avion'">
			<label>Type d'avion</label>
			<input type="choice" choices="$root.config.transportPlaneTypes" title="Type d\'avion" placeholder="Ex : Cargo, Passagers, etc."
				ng-model="$ctrl.loader.createData.transportPlaneType" />
		</div>
	</section>
	<section class="dark">
		<big-label>Chargement</big-label>
		<label>Poids</label>
		<input type="choice" options="{icon: $root.config.getWeightIcon}" choices="$root.config.weightIntervals" title="Poids du chargement" placeholder="Ex: De 100 à 200 kilos"
			ng-model="$ctrl.loader.createData.weightInterval" />
		<label>Poids précis si connu (en kg)</label>
		<input type="number" placeholder="Ex: 1500" ng-model="$ctrl.loader.createData.preciseWeight" pattern="[0-9]*" />
		<label>Dimensions en mètre</label>
		<dimension>
			<div class="no-zoom">
				<img class="box" src="img/box-hauteur.png" />
				<p>Hauteur</p>
				<input type="num" placeholder="H." vertical ng-model="$ctrl.loader.createData.height" options="{format: 2, step: 0.1}" />
			</div>
			<div class="no-zoom">
				<img class="box" src="img/box-profondeur.png" />
				<p>Profondeur</p>
				<input type="num" placeholder="P." vertical ng-model="$ctrl.loader.createData.deep" options="{format: 2, step: 0.1}" />
			</div>
			<div class="no-zoom">
				<img class="box" src="img/box-largeur.png" />
				<p>Largeur</p>
				<input type="num" placeholder="L." vertical ng-model="$ctrl.loader.createData.width" options="{format: 2, step: 0.1}" />
			</div>
		</dimension>
		<label>Volume résultant</label>
		<my-input readonly class="filled" ng-bind="$ctrl.volumeStr"></my-input>
		<label>Photo du chargement</label>
		<lg-upload form-data="{suffix: '_ad123'}"></lg-upload>
		<comment>Votre annonce sera davantage consultée si elle contient une photo.</comment>
	</section>
	<section>
		<big-label>Prix</big-label>
		<label>Tarif souhaité en DZD (facultatif)</label>
		<input type="number" placeholder="Ex: 200" pattern="[0-9]*" ng-model="$ctrl.loader.createData.priceWanted" />

		<label>Durée d'affichage max. de l'annonce</label>
		<input type="choice" choices="$root.config.times" title="Durée d\'affichage" placeholder="Ex: 1 semaine, 15 jours" ng-model="$ctrl.loader.createData.adTimes"
		/>
	</section>
	<section class="dark">
		<big-label>Finaliser</big-label>
		<label>Attention</label>
		<comment>En appuyant sur le bouton "Enregistrer", j'accepte les conditions d'utilisations du site.</comment>
		<lg-error error="$ctrl.loader.error"></lg-error>
		<button ng-click="$ctrl.loader.create()">Déposer votre annonce</button>
	</section>
</form>
<script>
	$('.no-zoom').bind('touchend', function (e) {
		e.preventDefault();
	});
</script>