<div class="ad-title">
	<left>
		<img-svg src="/img/delivery-trolley.svg"></img-svg>
	</left>
	<right>
		<title>Chargeur</title>
		<subtitle>Déposer une annonce</subtitle>
	</right>
</div>
<formx class="ad" name="loaderCtrl">
	<section class="dark">
		<big-label>Trajet</big-label>
		<label>Départ</label>
		<lg-city title="Ville du chargement" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.loader.createData.departureCity"></lg-city>
		<label>Arrivée</label>
		<lg-city title="Ville de la livraison" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.loader.createData.arrivalCity"></lg-city>
		<info ng-bind-html="$ctrl.loader.createData.infoRoute"></info>
	</section>
	<section>
		<big-label>Horaires</big-label>
		<label>Date et heure de chargement</label>
		<lg-datetime title="Date et heure" placeholder="Choisir une date" ng-model="$ctrl.loader.createData.departureDatetime" options="{defaultHour: 14}">
		</lg-datetime>
		<label>Date et heure de livraison</label>
		<lg-datetime title="Date et heure de livraison" placeholder="Date de départ" ng-model="$ctrl.loader.createData.arrivalDatetime"
			options="{defaultHour: 14}" after="$ctrl.loader.createData.departureDatetime" offset="$ctrl.loader.createData.minDuration">
			</lg-datetime>
			<info ng-bind-html="$ctrl.loader.createData.infoDuration"></info>
			<br/>
	</section>
	<section class="dark">
		<big-label>Marchandises</big-label>
		<lg-select class="conditioning" ng-model="$ctrl.loader.createData.conditioning">
			<lg-option value="Indifférent">
				<img-svg src="/img/questions.svg"></img-svg><span>Indifférent</span></lg-option>
			<lg-option value="Colis">
				<img-svg src="/img/package.svg"></img-svg><span>Colis</span></lg-option>
			<lg-option value="Palette">
				<img-svg src="/img/pallet.svg"></img-svg><span>Palette</span></lg-option>
			<lg-option value="Vrac">
				<img-svg src="/img/vrac.svg"></img-svg><span>Vrac</span></lg-option>
		</lg-select>
		<label>Type</label>
		<input type="choice" options="{icon: $root.config.getLoaderTypesIcon}" choices="$root.config.typeOfGoods" title="Type de marchandise"
			placeholder="Ex : Classique, Dangereux, etc." ng-model="$ctrl.loader.createData.typeOfGoods" />

	</section>
	<section>
		<big-label>Transport</big-label>
		<lg-select ng-model="$ctrl.loader.createData.transportCategory">
			<lg-option value="Camion"><i class="fa fa-truck" aria-hidden="true"></i><span>Camion</span></lg-option>
			<lg-option value="Avion"><i class="fa fa-plane" aria-hidden="true"></i><span>Avion</span></lg-option>
			<lg-option value="Bateau"><i class="fa fa-ship" aria-hidden="true"></i><span>Bateau</span></lg-option>
		</lg-select>

		<div ng-show="$ctrl.loader.createData.transportCategory === 'Camion'">
			<label>Type de camion</label>
			<input type="choice" options="{icon: $root.config.getTruckTypesIcon}" choices="$root.config.transportTruckTypes" title="Type de camion"
				placeholder="Ex : Benne, Bâché, etc." ng-model="$ctrl.loader.createData.transportTruckType" />
		</div>
		<div ng-show="$ctrl.loader.createData.transportCategory === 'Bateau'">
			<label>Type de bateau</label>
			<input type="choice" choices="$root.config.transportBoatTypes" title="Type de bateau" placeholder="Ex : Barge, Navire  Lo-Lo, etc."
				ng-model="$ctrl.loader.createData.transportBoatType" />
		</div>
		<div ng-show="$ctrl.loader.createData.transportCategory === 'Avion'">
			<label>Type d'avion</label>
			<input type="choice" choices="$root.config.transportPlaneTypes" title="Type d\'avion" placeholder="Ex : Cargo, Passagers, etc."
				ng-model="$ctrl.loader.createData.transportPlaneType" />
		</div>
	</section>
	<section class="dark">
		<big-label>Chargement</big-label>
		<label>Poids</label>
		<input type="choice" options="{icon: $root.config.getWeightIcon}" choices="$root.config.weightIntervals" title="Poids du chargement"
			placeholder="Ex: De 100 à 200 kilos" ng-model="$ctrl.loader.createData.weightInterval" />
		<label>Poids précis si connu (en kg)</label>
		<input type="number" placeholder="Ex: 1500" ng-model="$ctrl.loader.createData.preciseWeight" pattern="[0-9]*" />
		<label>Dimensions en mètre</label>
		<dimension ng-click="$ctrl.editDimension()">
			<div class="box no-zoom">
				<img-svg src="/img/box/box-width.svg"></img-svg>
			</div>
			<div class="box no-zoom">
				<img-svg src="/img/box/box-height.svg"></img-svg>
			</div>
			<div class="box no-zoom">
				<img-svg src="/img/box/box-depth.svg"></img-svg>
			</div>
		</dimension>
		<lg-dimension title="Dimensions du chargement" ng-model="$ctrl.loader.createData.dimension">
		</lg-dimension>
		<br/>
		<br/>
		<label>Photo du chargement</label>
		<lg-upload form-data="{suffix: '_ad123'}"></lg-upload>
		<comment>Votre annonce sera davantage consultée si elle contient une photo.</comment>
	</section>
	<section>
		<big-label>Prix</big-label>
		<label>Tarif souhaité en DZD (facultatif)</label>
		<input type="number" placeholder="Ex: 200" pattern="[0-9]*" ng-model="$ctrl.loader.createData.priceWanted" />
		<label>Titre de l'annonce</label>
		<input type="text" placeholder="Ex: Chargement de 12 veaux" ng-model="$ctrl.loader.createData.title" />
		<label>Commentaire</label>
		<textarea ng-model="$ctrl.loader.createData.comments"></textarea>
	</section>
</formx>
<formx class="ad">
	<section class="dark">
		<big-label>Finaliser</big-label>
		<label>Attention</label>
		<comment>En appuyant sur le bouton "Enregistrer", j'accepte les conditions d'utilisations du site.</comment>
		<lg-error error="$ctrl.loader.error"></lg-error>
		<button ng-click="$ctrl.loader.create()">Déposer votre annonce</button>
	</section>
</formx>

<script>
	$('.no-zoom').bind('touchend', function (e) {
		e.preventDefault();
	});

</script>
