<div class="ad-title">
	<title>Chargeurs</title>
	<img class="title lg-svg" src="img/delivery-trolley.svg" />
	<subtitle>Déposer une annonce</subtitle>
</div>

<form class="ad" name="loaderCtrl">
	<section class="dark">
		<big-label>Origine</big-label>
		<label>Ville</label>
		<input type="choice" choices="$root.config.cities" title="Ville du chargement" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.loader.createData.DepartureCity"
		/>
		<label>Date et heure de chargement</label>
		<input type="lgDate" title="Date et heure de chargement" placeholder="Choisir une date" ng-model="$ctrl.loader.createData.departureDatetime"
			options="{position: 'next-days', constraint: 'only-future'}" />
	</section>
	<section>
		<big-label>Destination</big-label>
		<label>Ville</label>
		<input type="choice" choices="$root.config.cities" title="Ville de la livraison" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.loader.createData.arrivalCity"
		/>
		<label>Date et heure de livraison</label>
		<input type="lgDate" title="Date et heure de livraison" placeholder="Date de départ" ng-model="$ctrl.loader.createData.arrivalDatetime"
			options="{position: 'next-days', constraint: 'only-future'}" />
	</section>
	<section class="dark">
		<big-label>Marchandise</big-label>
		<label>Type</label>
		<input type="choice" choices="$root.config.typeOfGoods" title="Type de marchandise" placeholder="Ex : Classique, Dangereux, etc."
			ng-model="$ctrl.loader.createData.typeOfGoods" />
		<label>Conditionnement</label>
		<input type="choice" choices="$root.config.conditioningTypes" title="Type de conditionnement" placeholder="Ex : Colis, Palettes, etc."
			ng-model="$ctrl.loader.createData.conditioning" />
	</section>
	<section>
		<big-label>Transport</big-label>
		<label>Moyen de transport</label>
		<input type="choice" choices="$root.config.transportCategories" title="Moyen de transport" placeholder="Ex : Camion, Bateau, etc."
			ng-model="$ctrl.loader.createData.transportCategory" />


		<div ng-show="$ctrl.loader.createData.transportCategory === 'Camion'">
			<label>Type de camion</label>
			<input type="choice" choices="$root.config.transportTruckTypes" title="Type de camion" placeholder="Ex : Benne, Bâché, etc."
				ng-model="$ctrl.loader.createData.transportTruckType" />
		</div>
		<div ng-show="$ctrl.loader.createData.transportCategory === 'Bateau'">
			<label>Type de bateau</label>
			<input type="choice" choices="$root.config.transportBoatTypes" title="Type de bateau" placeholder="Ex : Barge, Navire  Lo-Lo, etc."
				ng-model="$ctrl.loader.createData.transportBoatType" />
		</div>
		<div ng-show="$ctrl.loader.createData.transportCategory === 'Avion'">
			<label>Type d'avion</label>
			<input type="choice" choices="$root.config.transportPlaneTypes" title="Type d\'avion" placeholder="Ex : Cargo, Passagers, etc."
				ng-model="$ctrl.loader.createData.transportPlaneType" />
		</div>
	</section>
	<section class="dark">
		<big-label>Chargement</big-label>
		<label>Poids</label>
		<input type="choice" choices="$root.config.weightIntervals" title="Poids du chargement" placeholder="Ex: De 100 à 200 kilos" ng-model="$ctrl.loader.createData.weightInterval"
		/>
		<label>Poids précis si connu (en kg)</label>
		<input type="number" placeholder="Ex: 1500" ng-model="$ctrl.loader.createData.preciseWeight" pattern="[0-9]*"/>
		<label>Dimensions en mètre</label>
		<dimension>
			<div class="no-zoom">
				<img src="img/box-hauteur.png" />
				<p>Hauteur</p>
				<input type="num" placeholder="H." vertical ng-model="$ctrl.loader.createData.height" options="{format: 2, step: 0.1}" />
			</div>
			<div class="no-zoom">
				<img src="img/box-profondeur.png" />
				<p>Profondeur</p>
				<input type="num" placeholder="P." vertical ng-model="$ctrl.loader.createData.deep" options="{format: 2, step: 0.1}" />
			</div>
			<div class="no-zoom">
				<img src="img/box-largeur.png" />
				<p>Largeur</p>
				<input type="num" placeholder="L." vertical ng-model="$ctrl.loader.createData.width" options="{format: 2, step: 0.1}" />
			</div>
		</dimension>
		<label>Volume résultant</label>
		<input type="text" readonly />
		<label>Prix souhaité (facultatif)</label>
		<input type="choice" choices="$root.config.prices" title="Prix souhaité" placeholder="Ex: 200, 455, 2300" ng-model="$ctrl.loader.createData.priceWanted"
		/>
		<div class="photo">
			<label>Inserer une photo</label>
			<lg-upload form-data="{suffix: '_ad123'}"></lg-upload>
		</div>
		<label>Durée d'affichage max. de l'annonce</label>
		<input type="choice" choices="$root.config.times" title="Durée d\'affichage" placeholder="Ex: 1 semaine, 15 jours" ng-model="$ctrl.loader.createData.adTimes"
		/>
	</section>
	<section>
		<lg-error error="$ctrl.loader.error"></lg-error>
		<button ng-click="$ctrl.loader.create()">Enregistrer ></button>
	</section>
</form>
<script>
$('.no-zoom').bind('touchend', function(e) {
	e.preventDefault();
});
</script>