<section class="filter">
	<div class="qty-ad">
		<span>1 203 annonces de chargement</span>
	</div>
	<div>
		<i class="fa fa-filter" aria-hidden="true"></i>
		<i class="fa fa-calendar" aria-hidden="true"></i>
	</div>
</section>
<ad-list>
	<ad-block ng-repeat="loader in $ctrl.loader.loaders" ng-click="$root.goToState('loader:retrieve({ id: loader.id })')">
		<header>
			<title>Livraison de 12 veaux</title>
			<subtitle>
				<date>Jeudi 10 mars à 11h</date>
				<distance>1120km - 15h20</distance>
			</subtitle>
			<places>
				<labels>
					<from><i class="fa fa-map-marker" aria-hidden="true"></i> Origine :</from>
					<to><i class="fa fa-map-marker" aria-hidden="true"></i> Destination :</to>
				</labels>
				<values>
					<from>Abdelmalek Ramdane</from>
					<to>Abi Youcef</to>
				</values>
			</places>


		</header>
		<content>
			<content-left>
				<img src="img/loader-default.svg">
			</content-left>
			<content-right>
				<conditioning>Colis - Classique</conditioning>
				<transport-category>Camion</transport-category>
				<transport-subcategory>Bâché</transport-subcategory>
				<rate-km>0.4 DZD/km</rate-km>
				<rate>300 DZD</rate>
			</content-right>
		</content>
	</ad-block>
</ad-list>
<section class="write-ad">
	<button ui-sref="loader:create"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
</section>
