sign-form {
    display: block;
    text-align: left;
    width: 100%;
    padding: 0px;
    .table {
        display: table;
        width: 100%;
    }
    .row {
        display: table-row;
    }
    .cell {
        display: table-cell;
        text-align: center;
    }
    img {
        display: inline-block;
        width: 60px;
    }
    a {
        margin: 0px;
        text-decoration: none;
        font-size: 20px;
    }
    comment {
        text-align: center;
    }
}

create-account {
    display: inline-block;
    text-align: center;
    width: 100%;
}

lg-user-signup-success-route {
    display: block;
    margin: 0px 10px;
}

.profil {
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 20px 0px 10px;
    i {
        font-size: 70px;
    }
    h1 {
        font-size: 30px;
        margin: 10px 0;
    }
    h2 {
        font-size: 30px;
        margin: 10px 0;
    }
}

.edit-profile a {
    display: block;
    text-align: center;
    width: 100%;
}