RewriteEngine On
RewriteRule cities json/cities.json
RewriteRule accounts rest.php
RewriteRule carriers rest.php
RewriteRule loaders rest.php
RewriteRule trucks rest.php
RewriteRule users rest.php
RewriteRule proposals rest.php
