<my-input id="lgCalendarInput{{$ctrl.id}}" ng-click="$ctrl.start()"></my-input>
<span ng-click="$ctrl.start()" class="icon"><i ng-click="$ctrl.toggle();" class="fa fa-calendar" aria-hidden="true"></i></span>


<lg-datetime-content ng-show="$ctrl.state !== 'outsideState'">
	<my-head>
		<head-left ng-click="$ctrl.cancel()">
			<i class="fa fa-times" aria-hidden="true"></i>
		</head-left>
		<head-center>
			<p>{{$ctrl.title}}</p>
		</head-center>
		<head-right ng-show="$ctrl.selectedDate" ng-click="$ctrl.stop()">
			<i class="fa fa-check" aria-hidden="true"></i>
		</head-right>
		<head-right ng-hide="$ctrl.selectedDate">
		</head-right>
	</my-head>
	<month-list ng-show="$ctrl.state === 'dateState'">
		<lg-dt-month ng-repeat="month in $ctrl.months track by $index" month-date="month" selected-date="$ctrl.selectedDate" action="$ctrl.setDate">
		</lg-dt-month>
	</month-list>
	<lg-dt-hour></lg-dt-hour>
	<retroaction-msg>
		{{$ctrl.selectedDate || '&nbsp;' | date : $ctrl.format }}
		<br/>
		Durée : 6j 15h
	</retroaction-msg>
</lg-datetime-content>
<script>
	$('lg-datetime').bind('touchend', function (e) {
		var t2 = e.timeStamp;
		var t1 = $(this).data('lastTouch') || t2;
		var dt = t2 - t1;
		var fingers = e.originalEvent.touches.length;
		$(this).data('lastTouch', t2);
		if (!dt || dt > 500 || fingers > 1) return; // not double-tap

		e.preventDefault(); // double tap - prevent the zoom
		// also synthesize click events we just swallowed up
		//$(this).trigger('click').trigger('click');
	});
</script>