<my-input id="lgCalendarInput{{$ctrl.id}}" ng-click="$ctrl.start()"></my-input>
<span ng-click="$ctrl.start()" class="icon"><i ng-click="$ctrl.toggle();" class="fa fa-calendar" aria-hidden="true"></i></span>


<lg-datetime-content ng-show="$ctrl.state !== 'outsideState'">
	<my-head>
		<head-left ng-click="$ctrl.cancel()">
			<i class="fa fa-times" aria-hidden="true"></i>
		</head-left>
		<head-center>
			<p>{{$ctrl.title}}</p>
		</head-center>
		<head-right ng-show="$ctrl.selectedDate" ng-click="$ctrl.stop()">
			<i class="fa fa-check" aria-hidden="true"></i>
		</head-right>
		<head-right ng-hide="$ctrl.selectedDate">
		</head-right>
	</my-head>
	<retroaction-msg ng-show="$ctrl.selectedDate">{{$ctrl.selectedDate | date : $ctrl.format }}</retroaction-msg>
	<month-list ng-show="$ctrl.state === 'dateState'">
		<lg-dt-month ng-repeat="month in $ctrl.months track by $index" month-date="month" selected-date="$ctrl.selectedDate" action="$ctrl.setDate">
		</lg-dt-month>
		<lg-dt-hour action="$ctrl.setHours" selected-hours="$ctrl.selectedHours">
		</lg-dt-hour>
	</month-list>
</lg-datetime-content>
<script>
	$('my-head, head-center, retroaction-msg, month-list, lg-dt-month').bind('touchend', function (e) {
		e.preventDefault();
	});
</script>