<?php

	$cfg = new stdClass();
	$cfg->appName = '<%= appName %>';

	$cfg->host = '<%= host %>';
	$cfg->user = '<%= user %>';
	$cfg->mdp = '<%= mdp %>';
	$cfg->bdd = '<%= bdd %>';
	$cfg->prefix = '<%= prefix %>';

	$cfg->oauth2GoogleClientId = '<%= oauth2GoogleClientId %>';
	$cfg->oauth2GoogleClientSecret = '<%= oauth2GoogleClientSecret %>';

	$cfg->oauth2FacebookClientId = '<%= oauth2FacebookClientId %>';
	$cfg->oauth2FacebookClientSecret = '<%= oauth2FacebookClientSecret %>';

	$cfg->smtpServerHost = '<%= smtpServerHost %>';
	$cfg->smtpServerPort = '<%= smtpServerPort %>';
	$cfg->smtpSecure = '<%= smtpSecure %>';
	$cfg->smtpServerUsername = '<%= smtpServerUsername %>';
	$cfg->smtpServerPassword = '<%= smtpServerPassword %>';
	$cfg->smtpServerFrom = '<%= smtpServerFrom %>';

