module.exports = {
	// all deployment stuff (gulp deploy)
	deploy: {
		default: 'jlgc',
		jlgc: {
			ftp: {
				host: 'xxxxx',
				user: 'xxxxx',
				pass: 'xxxxx',
				remotePath: 'xxxxx',
			},
			ws: {
				appName: 'xxxxx',
				host: 'xxxxx',
				user: 'xxxxx',
				mdp: 'xxxxx',
				bdd: 'xxxxx',
				prefix: 'xxxxx',

				oauth2GoogleClientId: 'xxxxx',
				oauth2GoogleClientSecret: 'xxxxx',

				oauth2FacebookClientId: 'xxxxx',
				oauth2FacebookClientSecret: 'xxxxx',

				smtpServerHost: 'xxxxx',
				smtpServerPort: 'xxxxx',
				smtpSecure: 'xxxxx',
				smtpServerUsername: 'xxxxx',
				smtpServerPassword: 'xxxxx',
				smtpServerFrom: 'xxxxx',

				routeGoogleAPIKey: 'xxxxx',
			},
			url: 'xxxxx'

		},
		jlgc2: {
			ftp: {
				host: 'xxxxx',
				user: 'xxxxx',
				pass: 'xxxxx',
				remotePath: 'xxxxx',
			},
			ws: {
				appName: 'xxxxx',
				host: 'xxxxx',
				user: 'xxxxx',
				mdp: 'xxxxx',
				bdd: 'xxxxx',
				prefix: 'xxxxx',

				oauth2GoogleClientId: 'xxxxx',
				oauth2GoogleClientSecret: 'xxxxx',

				oauth2FacebookClientId: 'xxxxx',
				oauth2FacebookClientSecret: 'xxxxx',

				smtpServerHost: 'xxxxx',
				smtpServerPort: 'xxxxx',
				smtpSecure: 'xxxxx',
				smtpServerUsername: 'xxxxx',
				smtpServerPassword: 'xxxxx',
				smtpServerFrom: 'xxxxx',

				routeGoogleAPIKey: 'xxxxx',
			},
			url: 'xxxxx'

		},
	},
	dev: {
		default: 'jlgdev',
		// dev platform with express
		jlgdev: {
			proxyUrl: 'xxxxx',
			ws: {
				appName: 'xxxxx',
				host: 'xxxxx',
				user: 'xxxxx',
				mdp: 'xxxxx',
				bdd: 'xxxxx',
				prefix: 'xxxxx',

				oauth2GoogleClientId: 'xxxxx',
				oauth2GoogleClientSecret: 'xxxxx',

				oauth2FacebookClientId: 'xxxxx',
				oauth2FacebookClientSecret: 'xxxxx',

				smtpServerHost: 'xxxxx',
				smtpServerPort: 'xxxxx',
				smtpSecure: 'xxxxx',
				smtpServerUsername: 'xxxxx',
				smtpServerPassword: 'xxxxx',
				smtpServerFrom: 'xxxxx',

				routeGoogleAPIKey: 'xxxxx',
			}
		},
		jlgdev2: {
			proxyUrl: 'xxxxx',
			ws: {
				appName: 'xxxxx',
				host: 'xxxxx',
				user: 'xxxxx',
				mdp: 'xxxxx',
				bdd: 'xxxxx',
				prefix: 'xxxxx',

				oauth2GoogleClientId: 'xxxxx',
				oauth2GoogleClientSecret: 'xxxxx',

				oauth2FacebookClientId: 'xxxxx',
				oauth2FacebookClientSecret: 'xxxxx',

				smtpServerHost: 'xxxxx',
				smtpServerPort: 'xxxxx',
				smtpSecure: 'xxxxx',
				smtpServerUsername: 'xxxxx',
				smtpServerPassword: 'xxxxx',
				smtpServerFrom: 'xxxxx',

				routeGoogleAPIKey: 'xxxxx',
			}
		},
	},


};

