module.exports = {
	// all deployment stuff (for gulp config and gulp deploy)
	deploy: {
		// deployment parameters for gulp deploy.

		// default: put the key of the default deployment.
		default: 'myDefaultDeployment',
		myDefaultDeployment: {
			ftp: {
				// ftp host/user/password/remotePath of the 
				// location where to deploy.
				host: 'ftp.my-target-site.com',
				user: 'mylogin',
				pass: 'mypassword',
				remotePath: 'my/dir',
			},
			ws: {
				// All the config parameters the web services requires.
				appName: 'My Beautiful App',
				// The mySQL database parameter
				host: 'xxxxx',
				// The default MySQL port is 3306
				port: 'xxxxx',
				// Check the config of your database to get the proper user name
				user: 'xxxxx',
				// the MySQL password (sometimes it is an empty string)
				password: 'xxxxx',
				// The data base to use
				bdd: 'xxxxx',
				// All the tables in the database will be prefixed by the following
				prefix: 'lg_',

				oauth2GoogleClientId: 'xxxxx',
				oauth2GoogleClientSecret: 'xxxxx',

				oauth2FacebookClientId: 'xxxxx',
				oauth2FacebookClientSecret: 'xxxxx',

				smtpServerHost: 'xxxxx',
				smtpServerPort: 'xxxxx',
				smtpSecure: 'xxxxx',
				smtpServerUsername: 'xxxxx',
				smtpServerPassword: 'xxxxx',
				smtpServerFrom: 'xxxxx',

				routeGoogleAPIKey: 'xxxxx',
			},
			url: 'xxxxx'

		},
		jlgc2: {
			ftp: {
				host: 'xxxxx',
				user: 'xxxxx',
				pass: 'xxxxx',
				remotePath: 'xxxxx',
			},
			ws: {
				appName: 'xxxxx',
				host: 'xxxxx',
				port: 'xxxxx',
				user: 'xxxxx',
				password: 'xxxxx',
				bdd: 'xxxxx',
				prefix: 'xxxxx',

				oauth2GoogleClientId: 'xxxxx',
				oauth2GoogleClientSecret: 'xxxxx',

				oauth2FacebookClientId: 'xxxxx',
				oauth2FacebookClientSecret: 'xxxxx',

				smtpServerHost: 'xxxxx',
				smtpServerPort: 'xxxxx',
				smtpSecure: 'xxxxx',
				smtpServerUsername: 'xxxxx',
				smtpServerPassword: 'xxxxx',
				smtpServerFrom: 'xxxxx',

				routeGoogleAPIKey: 'xxxxx',
			},
			url: 'xxxxx'

		},
	},
	dev: {
		default: 'jlgdev',
		// dev platform with express
		jlgdev: {
			proxyUrl: 'xxxxx',
			ws: {
				appName: 'xxxxx',
				host: 'xxxxx',
				port: 'xxxxx',
				user: 'xxxxx',
				password: 'xxxxx',
				bdd: 'xxxxx',
				prefix: 'xxxxx',

				oauth2GoogleClientId: 'xxxxx',
				oauth2GoogleClientSecret: 'xxxxx',

				oauth2FacebookClientId: 'xxxxx',
				oauth2FacebookClientSecret: 'xxxxx',

				smtpServerHost: 'xxxxx',
				smtpServerPort: 'xxxxx',
				smtpSecure: 'xxxxx',
				smtpServerUsername: 'xxxxx',
				smtpServerPassword: 'xxxxx',
				smtpServerFrom: 'xxxxx',

				routeGoogleAPIKey: 'xxxxx',
			}
		},
		jlgdev2: {
			proxyUrl: 'xxxxx',
			ws: {
				appName: 'xxxxx',
				host: 'xxxxx',
				port: 'xxxxx',
				user: 'xxxxx',
				password: 'xxxxx',
				bdd: 'xxxxx',
				prefix: 'xxxxx',

				oauth2GoogleClientId: 'xxxxx',
				oauth2GoogleClientSecret: 'xxxxx',

				oauth2FacebookClientId: 'xxxxx',
				oauth2FacebookClientSecret: 'xxxxx',

				smtpServerHost: 'xxxxx',
				smtpServerPort: 'xxxxx',
				smtpSecure: 'xxxxx',
				smtpServerUsername: 'xxxxx',
				smtpServerPassword: 'xxxxx',
				smtpServerFrom: 'xxxxx',

				routeGoogleAPIKey: 'xxxxx',
			}
		},
	},


};

