* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	color: hsla(214, 46%, 25%, 1);
}

h1,
h2,
h3 {
	display: block;
	width: 100%;
	padding: 8px 0;
}

h1 {
	text-align: center;
	color: #0275d8;
	margin: 10px 0;
}

h2 {
	width: 95%;
	margin: 10px 0;
	text-align: left;
	font-size: 20px;
	background-color: #0275d8;
	color: $secondaryColor;
	border-radius: 0 0 100px 0;
}

h2>.fa {
	color: $secondaryColor;
	padding: 5px 10px;
}

h3>.fa {
	padding: 5px 10px 5px 0;
}

label {
	font-size: 13px;
	color: #0275d8;
	line-height: 25px;
}

input {
	display: block;
	border: 1px solid black;
	width: 300px;
	padding: 10px;
	margin-bottom: 12px;
}

div {
	display: block;
	width: 100%;
	padding: 10px;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type=checkbox] {
	display: inline-block;
	border: 1px solid black;
	width: 20px;
	padding: 10px;
	margin-bottom: 20px;
}

button {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
}

.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .5rem 1rem;
	font-size: 1rem;
	border-radius: .25rem;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.btn-primary {
	color: #fff;
	background-color: #0275d8;
	border-color: #0275d8;
}

.btn-primary:hover {
	color: #fff;
	background-color: #025aa5;
	border-color: #01549b;
}

.btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d9534f;
}

.btn-danger:hover {
	color: #fff;
	background-color: #c9302c;
	border-color: #c12e2a;
}

.btn-link {
	font-weight: 400;
	color: #0275d8;
	border-radius: 0;
	border-color: transparent;
	padding: 0;
}

.success-msg h3,
.success-info h3,
.success-error h3 {
	text-align: center;
	font-size: 20px;
}

.success-msg i,
.success-info i,
.success-error i {
	display: block;
	width: 100%;
	font-size: 50px;
	text-align: center;
	padding: 10px;
}

.success-msg i {
	color: lightgreen;
}

.success-info i {
	color: #0275d8;
}

.success-error i {
	color: #c9302c;
}

.link {
	display: table;
	table-layout: fixed;
}

.link a {
	display: table-cell;
	width: 30%;
	background-color: hsl(120, 60%, 50%);
	color: $secondaryColor;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	margin: 0 20px;
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	margin: 10px 0;
}

.link .critical {
	background-color: red;
}

.link span {
	display: table-cell;
	width: 60%;
}
