@import '../../../css/color';
$headCalendarColor: gray(85%);
$monthColor: $fontColor;
lg-datetime {
    position: relative;
    display: block;
    my-input.filled {
        color: black;
    }
    .icon {
        position: absolute;
        top: 10px;
        right: 19px;
        font-size: 25px;
        i.fa {
            font-size: 25px;
            line-height: 18px;
            color: $selectedColor;
        }
    }
}

lg-datetime-content {
    display: block;
    height: 0;
    width: 0;
    my-head {
        z-index: 102;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
    }
    retroaction-msg {
        z-index: 102;
        display: table;
        position: fixed;
        cursor: pointer;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        text-align: center;
        background-color: $selectedColor;
        padding: 5px;
        span {
            display: table-cell;
            vertical-align: middle;
            color: $selectedColorCmpl;
        }
    }
    month-list {
        z-index: 101;
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        top: 59px;
        left: 0;
        padding-bottom: 200px;
        background-color: $secondaryColor;
    }
}

lg-dt-month {
    text-align: center;
    padding: 0 0 10px;
    background: $secondaryColor;
    border-bottom: 1px solid gray(66%);
    header {
        position: relative;
    }
    h2 {
        text-transform: uppercase;
        font-size: 22px;
        margin: 20px 0 0;
        color: $monthColor;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        margin-bottom: 20px;
        td {
            border: 2px solid transparent;
            display: inline-block;
            line-height: 38px;
            text-align: center;
            width: 14%;
            span {
                display: block;
                line-height: 38px;
                height: 100%;
            }
        }
        thead {
            font-weight: 600;
            text-transform: uppercase;
            td {
                color: gray(66%);
                font-size: 17px;
                line-height: 22px;
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid $borderColor;
                font-size: 16px;
                td {
                    font-weight: 400;
                }
                td.week-end span {
                    color: $transparentFontColor;
                }
                td.other-month {
                    opacity: 0;
                }
                td.selected {
                    span {
                        border-radius: 84%;
                        line-height: 48px;
                        font-size: 22px;
                        font-weight: bold;
                        background-color: $selectedColor;
                        color: $secondaryColor;
                    }
                }
                td.week-end.selected {
                    opacity: 1;
                }
                td.other-month.selected {
                    background-color: transparent;
                    border: 1px solid $selectedColor;
                    color: gray(80%);
                }
                td.disabled span {
                    color: $disabledFontColor;
                }
                td.current-day {
                    background: $selectedColor;
                    color: blue;
                }
                td.interval {
                    background-color: $transparentSelectedColor;
                }
                td.other-month.interval {
                    background-color: transparent;
                    border: 1px solid $transparentSelectedColor;
                    color: gray(80%);
                }
                td.interval-start {
                    border-radius: 84% 0% 0% 84%;
                    background-color: $transparentSelectedColor;
                }
                td.interval.selected {
                    border-radius: 0% 84% 84% 0%;
                    background-color: $transparentSelectedColor;
                }
                td.interval-start.selected {
                    border-radius: 84% 84% 84% 84%;
                    background-color: $transparentSelectedColor;
                }
            }
        }
    }
}
