<div class="filter-bar clearfix loader">
	<div class="left">
		<div>
			<span id="noAds" ng-show="$ctrl.filteredlist.length === 0" ng-init="$ctrl.list">Aucune annonce de chargeur</span>
			<span ng-show="$ctrl.filteredlist.length === 1" ng-init="$ctrl.list">1 annonce de chargeur</span>
			<span ng-show="$ctrl.filteredlist.length > 1" ng-init="$ctrl.list">{{$ctrl.filteredlist.length}} annonces de chargeur</span>
			<br>
			<span ng-show="$ctrl.removedByFilterLength === 0"></span>
			<span ng-show="$ctrl.removedByFilterLength === 1" class="total-filtered">1 annonce filtrée</span>
			<span ng-show="$ctrl.removedByFilterLength > 1" class="total-filtered">{{$ctrl.removedByFilterLength}} annonces filtrées</span>
		</div>
	</div>
	<div class="right">
		<lg-filter filter="$ctrl.filter"></lg-filter>
		<lg-orderby order="$ctrl.order"></lg-orderby>
	</div>
</div>
<loader-list>
	<ad-block ng-repeat="ad in $ctrl.filteredlist | limitTo: $ctrl.limit" ng-click="$root.goToState('loader:retrieve({ id: '+ ad.id +'})')">
		<header ad-id="{{ad.id}}">
			<h1>{{ad.content.title}}</h1>
			<span class="created">
				Publié le {{ad.content.created_t | ts2date | date : "EEEE d LLLL yyyy à H'h'" | ucfirst}} par {{ad.content.login | ucfirst}}
			</span>
			<div>
				<date>Chargement le {{ad.content.departureDatetime | date : "EEEE d LLLL yyyy à H'h'" | ucfirst}}</date>
				<distance>{{ad.content.distance}}km - {{ad.content.minDuration | duration}}</distance>
			</div>
			<places>
				<div class="from">
					<labels>
						Départ
					</labels>
					<values>
						<city>
							<i class="fa fa-map-marker" aria-hidden="true"></i> {{ad.content.departureCity.city}}</city>
						<region>{{ad.content.departureCity.region}}</region>
					</values>
				</div>
				<div class="to">
					<labels>
						Arrivée 
					</labels>
					<values>
						<city>
							<i class="fa fa-map-marker" aria-hidden="true"></i> {{ad.content.arrivalCity.city}}</city>
						<region>{{ad.content.arrivalCity.region}}</region>
					</values>
				</div>
			</places>
		</header>
		<content>
			<content-left>
				<img-svg ng-show="ad.content.image === undefined" src="/img/loader-default.svg"></img-svg>
				<img ng-show="ad.content.image.thumbnailUrl" ng-src="{{ad.content.image.thumbnailUrl}}">
			</content-left>
			<content-right>
				<conditioning>{{ad.content.conditioning}} - {{ad.content.typeOfGoods}}</conditioning>
				<transport-category>{{ad.content.transportCategory}} - {{ad.content.transportTruckType}}</transport-category>
				<rate-km>0.4 DZD/km</rate-km>
				<span>Rémunération proposée</span>
				<rate>{{ad.content.priceWanted}} DZD</rate>
			</content-right>
		</content>
	</ad-block>
	<button ng-show="$ctrl.filteredlist.length > 50" class="transparent" ng-click="$ctrl.loadMore()">
		<i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
		Annonces suivantes
	</button>
</loader-list>
