<div class="ad-title">
	<left>
		<img-svg src="/img/delivery-trolley.svg"></img-svg>
	</left>
	<right>
		<title>Chargeur</title>
		<subtitle>Modifier une annonce</subtitle>
	</right>
</div>
<form class="ad" name="loaderCtrl">
	<section>
		<big-label>Transport</big-label>
		<lg-select name="transportCategory" ng-model="$ctrl.loader.updateData.transportCategory" required>
			<lg-option value="Camion"><i class="fa fa-truck" aria-hidden="true"></i><span>Camion</span></lg-option>
			<lg-option value="Avion"><i class="fa fa-plane" aria-hidden="true"></i><span>Avion</span></lg-option>
			<lg-option value="Bateau"><i class="fa fa-ship" aria-hidden="true"></i><span>Bateau</span></lg-option>
		</lg-select>

		<div ng-show="$ctrl.loader.updateData.transportCategory === 'Camion'">
			<label>Type de camion</label>
			<lg-choice name="transportTruckTypes" options="{icon: $root.config.getTruckTypesIcon}" choices="$root.config.transportTruckTypes"
			    title="Type de camion" placeholder="Ex : Benne, Bâché, etc." ng-model="$ctrl.loader.updateData.transportTruckType"></lg-choice>
		</div>
		<div ng-show="$ctrl.loader.updateData.transportCategory === 'Bateau'">
			<label>Type de bateau</label>
			<lg-choice name="transportBoatTypes" choices="$root.config.transportBoatTypes" title="Type de bateau" placeholder="Ex : Barge, Navire  Lo-Lo, etc."
			    ng-model="$ctrl.loader.updateData.transportBoatType"></lg-choice>
		</div>
		<div ng-show="$ctrl.loader.updateData.transportCategory === 'Avion'">
			<label>Type d'avion</label>
			<lg-choice name="transportPlaneTypes" choices="$root.config.transportPlaneTypes" title="Type d'avion" placeholder="Ex : Cargo, Passagers, etc."
			    ng-model="$ctrl.loader.updateData.transportPlaneType"></lg-choice>
		</div>
	</section>
	<section class="dark">
		<big-label>Trajet</big-label>
		<label>Départ</label>
		<lg-city name="departureCity" title="Ville du chargement" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.loader.updateData.departureCity"
		    required></lg-city>
		<label>Arrivée</label>
		<lg-city name="arrivalCity" title="Ville de la livraison" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.loader.updateData.arrivalCity"
		    required></lg-city>
		<info ng-bind-html="$ctrl.loader.updateData.infoRoute"></info>
	</section>
	<section>
		<big-label>Horaires</big-label>
		<label>Date et heure de chargement</label>
		<lg-datetime title="Date et heure" placeholder="Choisir une date" ng-model="$ctrl.loader.updateData.departureDatetime" options="{defaultHour: 14}"
		    required>
		</lg-datetime>
		<label>Date et heure de livraison</label>
		<lg-datetime title="Date et heure de livraison" placeholder="Date et heure de livraison" ng-model="$ctrl.loader.updateData.arrivalDatetime"
		    options="{defaultHour: 14}" after="$ctrl.loader.updateData.departureDatetime" offset="$ctrl.loader.updateData.minDuration"
		    required>
		</lg-datetime>
		<info ng-bind-html="$ctrl.loader.updateData.infoDuration"></info>
		<br/>
	</section>
	<section class="dark">
		<big-label>Marchandises</big-label>
		<lg-select name="conditioning" class="conditioning" ng-model="$ctrl.loader.updateData.conditioning" required>
			<lg-option value="Indifférent">
				<img-svg src="/img/questions.svg"></img-svg><span>Indifférent</span></lg-option>
			<lg-option value="Colis">
				<img-svg src="/img/package.svg"></img-svg><span>Colis</span></lg-option>
			<lg-option value="Palette">
				<img-svg src="/img/pallet.svg"></img-svg><span>Palette</span></lg-option>
			<lg-option value="Vrac">
				<img-svg src="/img/vrac.svg"></img-svg><span>Vrac</span></lg-option>
		</lg-select>
		<label>Type</label>
		<lg-choice name="typeOfGoods" options="{icon: $root.config.getLoaderTypesIcon}" choices="$root.config.typeOfGoods" title="Type de marchandise"
		    placeholder="Ex : Classique, Dangereux, etc." ng-model="$ctrl.loader.updateData.typeOfGoods"></lg-choice>
	</section>
	<section>
		<big-label>Définir le chargement</big-label>
		<label>Poids total</label>
		<lg-choice name="weightIntervals" options="{icon: $root.config.getWeightIcon}" choices="$root.config.weightIntervals" title="Poids du chargement"
		    placeholder="Ex: De 100 à 200 kilos" ng-model="$ctrl.loader.updateData.weightInterval" is-mandatory="true"></lg-choice>
		<label ng-hide="$ctrl.loader.updateData.conditioning === 'Vrac' || $ctrl.loader.updateData.conditioning === 'Indifférent'">Poids unitaire (ex : poids d’une palette)</label>
		<div>
			<input name="preciseWeight" type="number" ng-hide="$ctrl.loader.updateData.conditioning === 'Vrac' || $ctrl.loader.updateData.conditioning === 'Indifférent'"
			    placeholder="Ex: 1500" ng-model="$ctrl.loader.updateData.preciseWeight" pattern="[0-9]*" />
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(loaderCtrl.preciseWeight)" class="fa fa-check" aria-hidden="true"></i>
			</message-form-validator>
		</div>

		<label>Dimensions en mètre</label>
		<dimension ng-click="$ctrl.editDimension()">
			<div class="box no-zoom">
				<img-svg src="/img/box/box-width.svg"></img-svg>
			</div>
			<div class="box no-zoom">
				<img-svg src="/img/box/box-height.svg"></img-svg>
			</div>
			<div class="box no-zoom">
				<img-svg src="/img/box/box-depth.svg"></img-svg>
			</div>
		</dimension>
		<lg-dimension title="Dimensions du chargement" ng-model="$ctrl.loader.updateData.dimension">
		</lg-dimension>
		<br/>
		<comment>Votre annonce sera davantage consultée si elle contient une photo.</comment>
		<lg-upload form-data="{suffix: '_ad' + $ctrl.loader.updateData.imageId}" ng-model="$ctrl.loader.updateData.image"></lg-upload>
	</section>
	<section class="dark">
		<big-label>Prix</big-label>
		<div class="checkbox">
			<input type="checkbox" id="negociate" ng-show="$ctrl.loader.updateData.conditioning === 'Indifférent'" ng-model="$ctrl.loader.updateData.negociate"
			/><label for="negociate" ng-show="$ctrl.loader.updateData.conditioning === 'Indifférent'"> Négocier en direct</label>
		</div>

		<label>Tarif souhaité en DZD (facultatif)</label>
		<div>
			<input name="priceWanted" type="number" placeholder="Ex: 200" pattern="[0-9]*" ng-model="$ctrl.loader.updateData.priceWanted"
			    required />
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(loaderCtrl.priceWanted)" class="fa fa-check" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(loaderCtrl.priceWanted)">
					<span ng-show="loaderCtrl.priceWanted.$error.required">Le tarif souhaité est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</div>

		<label>Titre de l'annonce</label>
		<div>
			<input name="title" type="text" placeholder="Ex: Chargement de 12 veaux" ng-model="$ctrl.loader.updateData.title" required
			/>
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(loaderCtrl.title)" class="fa fa-check" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(loaderCtrl.title)">
					<span ng-show="loaderCtrl.title.$error.required">Le titre de l'annonce est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</div>

		<label>Commentaire</label>
		<textarea ng-model="$ctrl.loader.updateData.comments"></textarea>
	</section>
	<section>
		<lg-error error="$ctrl.loader.error"></lg-error>
		<button id="pr-update-loader-button-confirm" ng-click="$ctrl.loader.update();">Mettre à jour</button>
	</section>
	</formx>

	<script>
		$('.no-zoom').bind('touchend', function(e) {
			e.preventDefault();
		});

	</script>
