@import '../../../css/color';
lg-loader-list-route {
	.filter {
		background-color: $loaderColor;
	}
}

loader-list {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0 5px;
	ad-block {
		display: block;
		width: 100%;
		margin: 5px 0;
		padding: 0;
		background-color: $secondaryColor;
		header {
			display: block;
			width: 100%;
			margin: 0;
			padding: 5px 10px;
			title {
				display: block;
				width: 100%;
				text-align: left;
				font-size: 20px;
				margin-bottom: 5px;
				padding-bottom: 5px;
				border-bottom: 1px solid $borderColor;
			}
			subtitle {
				display: table;
				margin: 0;
				padding: 0;
				width: 100%;
				date {
					display: table-cell;
					width: 60%;
					margin: 0;
					padding: 0;
					text-align: left;
					font-size: 13px;
				}
				distance {
					display: table-cell;
					width: 40%;
					margin: 0;
					padding: 0;
					text-align: right;
					font-size: 13px;
				}
				created,
				by {
					display: block;
					width: 100%;
					margin: 0;
					padding: 0;
					text-align: left;
					font-size: 11px;
					color: gray(66%);
				}
			}
			places {
				display: table;
				width: 100%;
				from,
				to {
					display: table-row;
					width: 100%;
					labels {
						display: table-cell;
						width: 15%;
						text-align: left;
						font-size: 13px;
					}
					values {
						display: table-cell;
						width: 85%;
						city {
							font-size: 14px;
							font-weight: bold;
						}
						region {
							padding-left: 5px;
							font-size: 12px;
							color: gray(66%);
						}
					}
				}
			}
		}
		&:hover {
			box-shadow: 1px 1px 5px 0 gray(80%);
		}
	}
	content {
		display: table;
		width: 100%;
		margin: 0;
		padding: 0;
		content-left {
			display: table-cell;
			width: 40%;
			margin: 0;
			padding: 5px 10px 10px;
			vertical-align: top;
			img {
				display: block;
				height: 100px;
			}
		}
		content-right {
			display: table-cell;
			width: 60%;
			margin: 0;
			padding: 5px 10px 5px 0;
			vertical-align: top;
			* {
				display: block;
				text-align: right;
				font-size: 14px;
			}
			conditioning {
				font-weight: bold;
			}
			transport-category {
				font-size: 13px;
			}
			rate-km {
				color: gray(66%);
			}
			span {
				font-size: 13px;
				margin-top: 10px;
			}
			rate {
				font-size: 27px;
				font-weight: bold;
				color: $thirdColor;
				letter-spacing: -1px;
			}
		}
	}
}


.ad-title.loader {
	background-color: $loaderColor;
}
