@import '../../../css/variable';

$headerColor: $fontColor;

lg-menu [ng-click] {
	&:hover {
		opacity: 0.85;
		* {
			opacity: 0.85;
		}
	}
}

lg-menu {
	position: fixed;
	top: 0;
	padding: 0;
	width: 100%;
	display: block;
	z-index: 10;
}

my-head {
	display: table;
	width: 100%;
	background: $headerColor;
	height: $headerHeight;
	head-left {
		display: table-cell;
		width: 50px;
		margin: 0;
		vertical-align: top;
		padding: 17px 10px 0;
		i.fa {
			color: $secondaryColor;
			font-size: 26px;
		}
	}
	head-center {
		display: table-cell;
		text-align: center;
		color: $secondaryColor;
		font-size: 13px;
		line-height: 0;
		a {
			color: $secondaryColor;
			font-size: 13px;
			span {
				display: block;
				width: 100%;
				padding: 29px;
				font-size: 25px;
				color: $secondaryColor;
			}
		}
		img-svg {
			svg {
				width: 60px;
				height: 60px;
				margin-top: -2px;
			}
		}
		p {
			color: $secondaryColor;
			padding: 29px 0 0;
			font-size: 17px;
		}
	}
	head-center.connected {
		a {
			span {
				padding: 19px;
				&.user-identity {
					padding: 5px;
					font-size: 13px;
				}
			}
		}
		img-svg {
			svg {
				width: 50px;
				height: 50px;
				margin-top: -2px;
			}
		}
	}
	head-right {
		display: table-cell;
		margin: 0;
		width: 50px;
		vertical-align: top;
		padding: 14px 10px;
		menu-bar.fa,
		i.fa {
			color: $secondaryColor;
			font-size: 30px;
		}
	}
}

lg-menu-content {
	display: none;
	position: fixed;
	overflow-y: auto;
	height: 100%;
	width: 100%;
	top: $headerHeight;
	bottom: 0;
	left: 0;
	z-index: 75;
	background: $backgroundColor;
	text-align: left;
	a {
		display: block;
		position: relative;
		width: 100%;
		border-bottom: 1px solid $borderColor;
		background: $secondaryColor;
		padding: 10px;
		.fa {
			display: inline-block;
			width: 15%;
			font-size: 2.2em;
			color: $fontColor;
			height: 100%;
		}
		span {
			display: inline-block;
			vertical-align: top;
			padding: 6px 11px;
			font-size: 1.3em;
		}
		span.lang {
			width: 84%;
			padding-left: 3.9em;
		}
		.fa-check {
			text-align: center;
			font-size: 1.5em;
			padding: 5px 0;
		}
	}
}

.border-top {
	border-top: 1px solid $borderColor;
}

