@import '../../../css/variable';
lg-message {
	display: block;
	padding: 20px 10px;
	text-align: center;
	title {
		display: block;
		width: 100%;
		padding: 80px 0;
		font-size: 23px;
		text-align: center;
		margin: 30px 0;
		font-weight: bold;
	}
	i {
		color: $secondaryColor;
	}
}

lg-error span {
	display: block;
	color: red;
	font-size: 20px;
	padding: 20px 0;
	text-align: center;
}

lg-prompt {
	display: block;
	padding: 0 10px;
	question {
		display: block;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		margin-top: 30px;
	}
	.response {
		margin: 50px auto;
		width: 100%;
		font-size: 0;
		padding: 0;
		>div {
			display: inline-block;
			width: 50%;
			margin: 0;
			padding: 0 5px;
			font-size: 14px;
			text-align: center;
		}
	}
}

lg-select {
	display: table;
	table-layout: fixed;
	width: 100%;
	border: 1px solid $borderColor;
	background-color: $secondaryColor;
	border-radius: 5px;
	text-align: center;
	margin: 10px 0;
	lg-option {
		display: table-cell;
		width: 1%;
		padding: 10px 2px;
		font-size: 16px;
		border-right: 1px solid $borderColor;
		span {
			display: block;
			font-size: 15px;
		}
		i.fa {
			display: block;
			font-size: 60px;
		}
	}
	lg-option[selected] {
		background-color: $fontColor;
		color: $secondaryColor;
		i,
		span,
		svg {
			background-color: $fontColor;
			color: $secondaryColor;
			fill: $secondaryColor;
		}
	}
	lg-option:first-child[selected] {
		border-radius: 5px 0 0 5px;
	}
	lg-option:last-child[selected] {
		border-radius: 0 5px 5px 0;
	}
}

lg-create-button {
	display: block;
	position: fixed;
	bottom: 0;
	left: 14%;
	padding: 0 10px;
	button {
		width: 220px;
		height: 49px;
		font-size: 16px;
		box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
		i.fa {
			position: relative;
			left: -5px;
			top: 2px;
			font-size: 20px;
		}
	}
}

lg-hr {
	display: block;
	position: relative;
	width: 100%;
	text-align: center;
	margin: 10px 0;
	div {
		position: relative;
		display: inline-block;
		background-color: $backgroundColor;
		padding: 5px 5px;
		top: 0;
		span {
			font-size: 17px;
		}
	}
	hr {
		position: absolute;
		width: 100%;
		top: 16px;
		border: 1px solid $darkBorderColor;
	}
}
