@import '../../../css/variable';
lg-filter {
	display: table-cell;
	width: 15%;
	vertical-align: middle;

	section {
		background: gray(92%);
		// Todo manage height overlay etc.
		height: 600px;
		label {
			text-align: left;
			span {
				display: inline-block;
				margin-bottom: 10px;
			}
			input {
				width: 100%;
				margin: 0 0;
				font-size: 17px;
				padding: 15px 5px;
				border-radius: 3px;
				border: 1px solid $borderColor;
			}
		}
	}
}
