@import '../../../css/color';
lg-filter {
	position: fixed;
	top: 59px;
	padding: 0px;
	width: 100%;
	display: block;
	z-index: 15;
	.filter {
		display: table;
		width: 100%;
		background-color: $breadcrumbColor;
		padding: 15px 0px 15px 15px;
		text-align: center;
		div {
			display: table-cell;
			width: 15%;
			i {
				font-size: 22px;
			}
		}
		div.qty-ad {
			width: 69%;
			text-align: left;
			vertical-align: middle;
			span {
				font-size: 13px;
				font-weight: bold;
			}
		}
	}
	.lg-filter-content {
		display: none;
		position: fixed;
		overflow-y: scroll;
		height: 100%;
		width: 100%;
		top: 112px;
		bottom: 0;
		left: 0;
		z-index: 75;
		background-color: $backgroundDarkColor;
		text-align: left;
		a {
			display: block;
			background: white;
			border-bottom: 1px solid $borderColor;
			padding: 10px;
			width: 100%;
			font-size: 23px;
			position: relative;
			.fa {
				display: inline-block;
				width: 15%;
				font-size: 36px;
				color: $fontColor;
				height: 100%;
			}
			.notification {
				display: inline-block;
				vertical-align: top;
				padding: 1px 6px;
				position: absolute;
				left: 30px;
				border-radius: 30px;
				font-size: 13px;
				background-color: $notificationColor;
			}
			p {
				display: inline-block;
				vertical-align: top;
				padding: 6px 11px;
				font-size: 20px;
			}
		}
	}

	.btn-logout {
		border-top: 1px solid $borderColor;
	}
}
