<section class="filter">
    <div class="qty-ad">
		<span ng-show="$ctrl.carriers.length === 0 && $ctrl.loaders.length === 0">Aucune annonce en cours.</span>
        <span ng-show="$ctrl.carriers.length > 1">{{$ctrl.carriers.length}} annonces de transporteur</span>
        <span ng-show="$ctrl.carriers.length === 1">{{$ctrl.carriers.length}} annonce de transporteur</span>
		<br/>
		<span ng-show="$ctrl.loaders.length > 1" >{{$ctrl.loaders.length}} annonces de chargement</span>
        <span ng-show="$ctrl.loaders.length === 1">{{$ctrl.loaders.length}} annonce de chargement</span>
    </div>
    <div>
        <i class="fa fa-sort" aria-hidden="true"></i>
    </div>
</section>
<lg-hr ng-show="$ctrl.carriers.length > 0">Transporteurs</lg-hr>
<carrier-list>
    <ad-block ng-repeat="ad in $ctrl.carriers" ng-click="$root.goToState('carrier:retrieve({ id: '+ ad.id +'})')">
        <header ad-id="{{ad.id}}" ng-if="ad.content.availability === 'specificTrip'">
            <title>{{ad.content.truck.name}}</title>
            <subtitle>
                <created>Publié le {{ad.content.created_t | ts2date | date : "EEEE d LLLL yyyy à H'h'" | ucfirst}}</created>
                <by>Par {{ad.content.login | ucfirst}}</by>
            </subtitle>
            <subtitle>
                <date>{{ad.content.trip.departureDatetime | date : "EEEE d LLLL yyyy à H'h'" | ucfirst}}</date>
                <distance>{{ad.content.trip.distance}}km - {{ad.content.trip.minDuration | duration}}</distance>
            </subtitle>
            <places>
                <from>
                    <labels>
                        De :
                    </labels>
                    <values>
                        <city><i class="fa fa-map-marker" aria-hidden="true"></i> {{ad.content.trip.departureCity.city}}</city>
                        <region>{{ad.content.trip.departureCity.region}}</region>
                    </values>
                </from>
                <to>
                    <labels>
                        A :
                    </labels>
                    <values>
                        <city><i class="fa fa-map-marker" aria-hidden="true"></i> {{ad.content.trip.arrivalCity.city}}</city>
                        <region>{{ad.content.trip.arrivalCity.region}}</region>
                    </values>
                </to>
            </places>
        </header>
        <content ng-show="ad.content.availability === 'specificTrip'">
            <content-left>
                <img ng-show="ad.content.truck.image === undefined" src="img/truck-default.svg">
                <img ng-show="ad.content.truck.image.thumbnailUrl" ng-src="{{ad.content.truck.image.thumbnailUrl}}">
            </content-left>
            <content-right>
                <transport-category>{{ad.content.truck.transportCategory}} - {{ad.content.truck.transportTruckType}}</transport-category>
                <model>{{ad.content.truck.model}}</model>
                <rate-km>{{ad.content.pricing.priceWanted / ad.content.trip.distance | currency : '' : 0}} DZD/km</rate-km>
                <rate>{{ad.content.pricing.priceWanted}} DZD</rate>
            </content-right>
        </content>
        <header ad-id="{{ad.id}}" ng-if="ad.content.availability === 'total'">
            <title>{{ad.content.truck.name}}</title>
            <subtitle>
                <created>Publié le {{ad.content.created_t | ts2date | date : "EEEE d LLLL yyyy à H'h'" | ucfirst}}</created>
                <by>Par {{ad.content.login | ucfirst}}</by>
            </subtitle>
            <city><i class="fa fa-map-marker" aria-hidden="true"></i> {{ad.content.truck.city.city}}</city>
            <region>{{ad.content.truck.city.region}}</region>
        </header>
        <content ng-show="ad.content.availability === 'total'">
            <content-left>
                <img ng-show="ad.content.truck.image === undefined" src="img/truck-default.svg">
                <img ng-show="ad.content.truck.image.thumbnailUrl" ng-src="{{ad.content.truck.image.thumbnailUrl}}">
            </content-left>
            <content-right>
                <transport-category>{{ad.content.truck.transportCategory}} - {{ad.content.truck.transportTruckType}}</transport-category>
                <model>{{ad.content.truck.model}}</model>
                <rate>{{ad.content.pricing.priceWantedPerKm}} DZD/km</rate>
            </content-right>
        </content>
    </ad-block>
</carrier-list>


<lg-hr ng-show="$ctrl.loaders.length > 0">Chargements</lg-hr>
<loader-list>
    <ad-block ng-repeat="ad in $ctrl.loaders" ng-click="$root.goToState('loader:retrieve({ id: '+ ad.id +'})')">
        <header ad-id="{{ad.id}}">
            <title>{{ad.content.title}}</title>
            <subtitle>
                <created>Publié le {{ad.content.created_t | ts2date | date : "EEEE d LLLL yyyy à H'h'" | ucfirst}}</created>
                <by>Par {{ad.content.login | ucfirst}}</by>
            </subtitle>
            <subtitle>
                <date>{{ad.content.departureDatetime | date : "EEEE d LLLL yyyy à H'h'" | ucfirst}}</date>
                <distance>{{ad.content.distance}}km - {{ad.content.minDuration | duration}}</distance>
            </subtitle>
            <places>
                <from>
                    <labels>
                        De :
                    </labels>
                    <values>
                        <city><i class="fa fa-map-marker" aria-hidden="true"></i> {{ad.content.departureCity.city}}</city>
                        <region>{{ad.content.departureCity.region}}</region>
                    </values>
                </from>
                <to>
                    <labels>
                        A :
                    </labels>
                    <values>
                        <city><i class="fa fa-map-marker" aria-hidden="true"></i> {{ad.content.arrivalCity.city}}</city>
                        <region>{{ad.content.arrivalCity.region}}</region>
                    </values>
                </to>
            </places>
        </header>
        <content>
            <content-left>
                <img ng-show="ad.content.image === undefined" src="img/loader-default.svg">
                <img ng-show="ad.content.image.thumbnailUrl" ng-src="{{ad.content.image.thumbnailUrl}}">
            </content-left>
            <content-right>
                <conditioning>{{ad.content.conditioning}} - {{ad.content.typeOfGoods}}</conditioning>
                <transport-category>{{ad.content.transportCategory}} - {{ad.content.transportTruckType}}</transport-category>
                <rate-km>0.4 DZD/km</rate-km>
                <rate>{{ad.content.priceWanted}} DZD</rate>
            </content-right>
        </content>
    </ad-block>
</loader-list>
<!--<add-ads>
	<button ui-sref="carrier:create"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Ajouter une annonce</button>
</add-ads>-->
