<section class="profil">
	<div class="title-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
	<h1>Bienvenue</h1>
	<h2>{{$ctrl.connection.user.content.firstname}} {{$ctrl.connection.user.content.lastname | uppercase }}</h2>

	<form name="formCtrl" ng-submit="$ctrl.fv.check(formCtrl) && $ctrl.user.update()" novalidate>
		<label>
			<input name="lastname" type="text" placeholder="Nom" ng-model="$ctrl.user.updateData.content.lastname" required>
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.lastname)" class="fa fa-check lastname" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.lastname)">
					<span ng-show="formCtrl.lastname.$error.required">Le nom est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</label>
		<label>
			<input name="firstname" type="text" placeholder="Prenom" ng-model="$ctrl.user.updateData.content.firstname" required>
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.firstname)" class="fa fa-check firstname" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.firstname)">
					<span ng-show="formCtrl.firstname.$error.required">Le prénom est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</label>
		<label>
			<input name="login" type="text" ui-mask="A***?*?*?*?*?*?*?*?*?*?*?*?*?*?*?*?*?*?*" placeholder="Pseudo" ui-mask-placeholder
			    ui-mask-placeholder-char="space" ng-model="$ctrl.user.updateData.content.login" required>
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.login)" class="fa fa-check login" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.login)">
					<span ng-show="formCtrl.login.$error.required">Le pseudo est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</label>
		<label>
			<input name="email" type="email" placeholder="Email" ng-model="$ctrl.user.updateData.email" required>
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.email)" class="fa fa-check email" aria-hidden="true"></i>
				<i ng-show="$ctrl.fv.isError(formCtrl.email)" class="fa fa-times error" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.email)">
					<span ng-show="formCtrl.email.$error.required">L'email est obligatoire.</span>
					<span ng-show="formCtrl.email.$error.email">Cet email n'est pas valide.</span>
				</error-message>
			</message-form-validator>
		</label>
		<br>
		<lg-select name="profile" ng-model="$ctrl.user.updateData.content.profile" required>
			<lg-option value="loader" selected>Chargeur</lg-option>
			<lg-option value="carrier" selected>Transporteur</lg-option>
			<lg-option value="both" selected>Les deux</lg-option>
		</lg-select>
		<br>
		<label>
			<input name="street" type="text" placeholder="Adresse" ng-model="$ctrl.user.updateData.content.address.street" required>
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.street)" class="fa fa-check street" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.street)">
					<span ng-show="formCtrl.street.$error.required">L'adresse est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</label>
		<label>
			<input name="zipcode" type="text" pattern="[0-9]*" placeholder="Code postal" ng-model="$ctrl.user.updateData.content.address.zipcode"
			    required>
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.zipcode)" class="fa fa-check zipcode" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.zipcode)">
					<span ng-show="formCtrl.zipcode.$error.required">Le code postal est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</label>
		<label>
			<input name="city" type="text" placeholder="Ville" ng-model="$ctrl.user.updateData.content.address.city" required>
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.city)" class="fa fa-check city" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.city)">
					<span ng-show="formCtrl.city.$error.required">La ville est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</label>
		<label>
			<lg-choice name="country" choices="$root.config.countries" title="Pays d'origine" placeholder="Pays" ng-model="$ctrl.user.updateData.content.address.country"
			    is-mandatory="true"></lg-choice>
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.country)" class="fa fa-check country" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.country)">
					<span ng-show="formCtrl.country.$error.required">Le pays est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</label>
		<label>
			<input name="phone" type="text" pattern="[0-9]*" placeholder="Téléphone" ng-model="$ctrl.user.updateData.content.phone" required
			>
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.phone)" class="fa fa-check phone" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.phone)">
					<span ng-show="formCtrl.phone.$error.required">Le téléphone est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</label>
		<br>
		<lg-error error="$ctrl.user.error"></lg-error>
		<div class="bouton">
			<button type="submit">Modifier</button>
		</div>
		<lg-hr>ou</lg-hr>
		<a ng-show="$ctrl.connection.user.password !== ''" ui-sref="user:updatePassword">Modifier mot de passe</a>
		<a ng-hide="$ctrl.connection.user.password !== ''" ui-sref="user:initiatePassword">Initialiser mot de passe</a>
		<lg-hr>ou</lg-hr>
		<a class="critical" ui-sref="user:confirmDelete">Supprimer mon compte</a>
	</form>
</section>
