<div class="filter-bar clearfix">
	<div class="left">
		<div>
			<span ng-show="$ctrl.proposals.length === 0">Aucune proposition en cours.</span>
			<span ng-show="$ctrl.proposals.length > 1">{{$ctrl.proposals.length}} propositions envoyées</span>
			<span ng-show="$ctrl.proposals.length === 1">{{$ctrl.proposals.length}} proposition envoyé</span>
		</div>
	</div>
	<div class="right">
		<lg-filter filter="$ctrl.filter"></lg-filter>
		<lg-orderby order="$ctrl.order"></lg-orderby>
	</div>
</div>
<lg-hr ng-show="$ctrl.carriers.length > 0">Propositions</lg-hr>
<proposal-list>
	<ad-block ng-repeat="proposal in $ctrl.proposals | limitTo: $ctrl.limit" ng-click="$root.goToState('proposal:retrieve({ id: '+ proposal.id +'})')">
		<div>
			<div class="img-fix">
				<img ng-show="proposal.content.adType === 'loader'  && !proposal.content.imageUrl" src="img/loader-default.svg">
				<img ng-show="proposal.content.adType === 'loader' && proposal.content.imageUrl" src="{{proposal.content.imageUrl}}">
				<img ng-show="proposal.content.adType === 'carrier' && !proposal.content.imageUrl" src="img/truck-default.svg">
				<img ng-show="proposal.content.adType === 'carrier' && proposal.content.imageUrl" src="{{proposal.content.imageUrl}}">
			</div>
			<div class="details">
				<h2>{{proposal.content.titleAd}}</h2>
				<div>
					<div class="detail-left">
						<span>Envoyé le {{proposal.content.created_t | ts2date | date : "EEEE d LLLL yyyy à H'h'" | ucfirst}}</span>
					</div>
				</div>
			</div>
		</div>
	</ad-block>
	<button ng-show="$ctrl.proposals.length > 50" class="transparent" ng-click="$ctrl.loadMore()">
		<i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Annonces suivantes</button>
</proposal-list>
