<section class="filter">
    <div class="qty-ad">
		<span ng-show="$ctrl.proposals.length === 0">Aucune proposition en cours.</span>
        <span ng-show="$ctrl.proposals.length > 1">{{$ctrl.proposals.length}} propositions envoyées</span>
        <span ng-show="$ctrl.proposals.length === 1">{{$ctrl.proposals.length}} proposition envoyé</span>
    </div>
    <div>
        <i class="fa fa-sort" aria-hidden="true"></i>
    </div>
</section>
<lg-hr ng-show="$ctrl.carriers.length > 0">Propositions</lg-hr>
<proposal-list>
    <ad-block ng-repeat="proposal in $ctrl.proposals" ng-click="$root.goToState('proposal:retrieve({ id: '+ proposal.id +'})')">
        <span>
            <div>
                <div class="img-fix">
                   <img ng-show="proposal.content.adType === 'loader'  && !proposal.content.imageUrl" src="img/loader-default.svg" />
                   <img ng-show="proposal.content.adType === 'loader' && proposal.content.imageUrl" src="{{proposal.content.imageUrl}}" />
                   <img ng-show="proposal.content.adType === 'carrier' && !proposal.content.imageUrl" src="img/truck-default.svg" />
                   <img ng-show="proposal.content.adType === 'carrier' && proposal.content.imageUrl" src="{{proposal.content.imageUrl}}" />
                </div>
                <div class="details">
                    <h2>{{proposal.content.titleAd}}</h2>
                    <div>
                        <div class="detail-left">
                            <span>Envoyé le {{proposal.content.created_t | ts2date | date : "EEEE d LLLL yyyy à H'h'" | ucfirst}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </ad-block>
</proposal-list>
