<lg-title>Créer un compte</lg-title>
<sign-form>
	<lg-social-login></lg-social-login>
	<lg-hr>ou</lg-hr>
	<form name="formCtrl" ng-submit="$ctrl.user.create()">
		<div>
			<input name="lastname" type="text" placeholder="Nom" ng-model="$ctrl.user.signupData.content.lastname" required />
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.lastname)" class="fa fa-check lastname" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.lastname)">
					<span ng-show="formCtrl.lastname.$error.required">Le nom est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</div>
		<div>
			<input name="firstname" type="text" placeholder="Prenom" ng-model="$ctrl.user.signupData.content.firstname" required />
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.firstname)" class="fa fa-check firstname" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.firstname)">
					<span ng-show="formCtrl.firstname.$error.required">Le prénom est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</div>
		<div>
			<input name="login" type="text" ui-mask2="A***?*?*?*?*?*?*?*?*?*?*?*?*?*?*?*?*?*?*" placeholder="Pseudo" ui-mask-placeholder
			    ui-mask-placeholder-char="space" ng-model="$ctrl.user.signupData.content.login" ng-model-options="{ debounce: 300 }" ui-validate-async="{'already-taken': '$ctrl.user.userValidator.checkField(\'login\', $value)'}"
			    required />
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.login)" class="fa fa-check login" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.login)">
					<span ng-show="formCtrl.login.$error.required">Le pseudo est obligatoire.</span>
					<span id="login-already-taken-error-msg" ng-show="formCtrl.login.$error['already-taken']">Ce login est déjà pris.</span>
				</error-message>
			</message-form-validator>
		</div>
		<div>
			<input name="email" type="email" placeholder="Email" ng-model="$ctrl.user.signupData.email" ng-model-options="{ debounce: 300 }"
			    required ui-validate-async="{'already-taken': '$ctrl.user.userValidator.checkField(\'email\', $value)'}" />
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.email)" class="fa fa-check email" aria-hidden="true"></i>
				<i ng-show="$ctrl.fv.isError(formCtrl.email)" class="fa fa-times error" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.email)">
					<span ng-show="formCtrl.email.$error.required">L'email est obligatoire.</span>
					<span ng-show="formCtrl.email.$error.email">Cet email n'est pas valide.</span>
					<span id="email-already-taken-error-msg" ng-show="formCtrl.email.$error['already-taken']">Ce mail est déjà pris.</span>
				</error-message>
			</message-form-validator>
		</div>
		<br/>
		<span class="profile">Veuillez choisir votre profil</span>
		<lg-select name="profile" ng-model="$ctrl.user.signupData.content.profile" required>
			<lg-option value="loader">Chargeur</lg-option>
			<lg-option value="carrier">Transporteur</lg-option>
			<lg-option value="both">Les deux</lg-option>
		</lg-select>
		<br/>
		<div>
			<input name="street" type="text" placeholder="Adresse" ng-model="$ctrl.user.signupData.content.address.street" required />
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.street)" class="fa fa-check street" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.street)">
					<span ng-show="formCtrl.street.$error.required">L'adresse est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</div>
		<div>
			<input name="zipcode" type="text" pattern="[0-9]*" placeholder="Code postal" ng-model="$ctrl.user.signupData.content.address.zipcode"
			    required />
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.zipcode)" class="fa fa-check zipcode" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.zipcode)">
					<span ng-show="formCtrl.zipcode.$error.required">Le code postal est obligatoire.</span>
					<span ng-show="formCtrl.zipcode.$error.pattern">Saisie incorrect, chiffres de 0 à 9 uniquement.</span>
				</error-message>
			</message-form-validator>
		</div>
		<div>
			<input name="city" type="text" placeholder="Ville" ng-model="$ctrl.user.signupData.content.address.city" required />
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.city)" class="fa fa-check city" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.city)">
					<span ng-show="formCtrl.city.$error.required">La ville est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</div>
		<div>
			<lg-choice name="country" choices="$root.config.countries" title="Pays d'origine" placeholder="Pays" ng-model="$ctrl.user.signupData.content.address.country"
			    is-mandatory="true"></lg-choice>
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.country)" class="fa fa-check country" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.country)">
					<span ng-show="formCtrl.country.$error.required">Le pays est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</div>
		<div>
			<input name="phone" type="text" pattern="[0-9]*" placeholder="Téléphone" ng-model="$ctrl.user.signupData.content.phone" ng-model-options="{ debounce: 300 }"
			    required ui-validate-async="{'already-taken': '$ctrl.user.userValidator.checkField(\'phone\', $value)'}" />
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.phone)" class="fa fa-check phone" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.phone)">
					<span ng-show="formCtrl.phone.$error.required">Le téléphone est obligatoire.</span>
					<span ng-show="formCtrl.phone.$error.pattern">Saisie incorrect, chiffres de 0 à 9 uniquement.</span>
					<span id="phone-already-taken-error-msg" ng-show="formCtrl.phone.$error['already-taken']">Ce numéro de téléphone est déjà pris.</span>
				</error-message>
			</message-form-validator>
		</div>
		<br/>
		<input type="eyepassword" name="password" placeholder="Mot de passe" ng-model="$ctrl.user.signupData.password" required />
		<error-message ng-show="$ctrl.fv.isError(formCtrl.password)">
			<span ng-show="formCtrl.password.$error.required">Le mot de passe est obligatoire.</span>
		</error-message>
		<br/>
		<lg-error error="$ctrl.user.error"></lg-error>
		<button type="submit" id="pr-create-user-button" ng-disabled="formCtrl.$invalid">Créer le compte</button>
	</form>
</sign-form>
