@import '../../../css/color';
lg-eyepassword {
	position: relative;
	display: block;
}

lg-eyepassword .eye {
	position: absolute;
	top: 11px;
	left: 87%;
	font-size: 25px;
	.fa {
		color: $fontColor;
	}
}
