@import '../../../css/variable';
lg-carrier-create-route,
lg-carrier-update-route {
	summary {
		padding: 1em .5em;
		div {
			display: block;
			width: 100%;
			steps {
				display: table;
				width: 100%;
				background: $secondaryColor;
				margin-bottom: 0.5em;
				step {
					display: table-row;
					width: 100%;
					height: 70px;
					num-step,
					chevron {
						display: table-cell;
						vertical-align: middle;
						font-size: 20px;
						border-bottom: 1px solid $borderColor;
					}
					num-step {
						width: 10%;
						padding: 5px;
						text-align: center;
						font-size: 20px;
					}
					div {
						display: table-cell;
						vertical-align: middle;
						width: 80%;
						font-weight: normal;
						border-bottom: 1px solid $borderColor;						
						availability {
							display: block;
							width: 100%;
							date {
								float: left;
								color: gray(66%);
								font-size: 15px;
							}
							distance {
								float: right;
								color: gray(66%);
								font-size: 15px;
							}
							places {
								display: table;
								width: 100%;
								.from,
								.to {
									display: table-row;
									width: 100%;
									span {
										display: table-cell;
										width: 15%;
										text-align: left;
										font-size: 13px;
									}
									values {
										display: table-cell;
										width: 65%;
									}
								}
							}
						}
					}
					chevron {
						width: 10%;
						padding: 5px;
						text-align: center;
					}
				}
				step.active {
					background: $thirdColor;
					num-step,
					div,
					.fa {
						color: $secondaryColor;
					}
				}
				step.disabled {
					opacity: 0.2;
					background: gray(66%);
				}
				step.done {
					background: $secondaryColor;
					div {
						color: $fontColor;
					}
				}
			}
		}
	}
}

lg-carrier-create-truck-choose-route,
lg-carrier-create-route,
lg-carrier-update-route {
	no-vehicle {
		display: block;
		padding: 20px 10px;
		text-align: center;
		span {
			display: block;
			width: 100%;
			font-size: 27px;
			text-align: center;
			margin: 30px 0;
			font-weight: bold;
		}
	}

	at-list-one-vehicle {
		display: block;
		padding: 15px 5px;
		text-align: center;
		>span {
			display: block;
			width: 100%;
			font-size: 20px;
			text-align: center;
			margin: 0 0 30px;
			font-weight: bold;
		}
		list {
			display: block;
			margin: 0;
			padding: 0;
			width: 100%;
			item {
				margin: 5px 0;
			}
		}
	}

	item {
		display: table;
		border-collapse: collapse;
		table-layout: fixed;
		width: 100%;
		margin: 0;
		padding: 0;
		background: $secondaryColor;
		border: 1px solid #eeeeee;
		border-top: none;
		border-bottom: none;
		left,
		right {
			display: table-cell;
			margin: 0;
			padding: 0;
			vertical-align: top;
			h2 {
				font-size: 18px;
				text-align: center;
				padding: 5px 8px 6px 100px;
				background: #dfffb5;
			}
			img {
				display: block;
				height: 70px;
				margin: 0;
				padding: 0;
			}
			span {
				display: block;
				width: 100%;
				margin: 0;
				padding: 0px 8px 0px 100px;;
				font-size: 14px;
				text-align: center;
			}
		}
		left {
			width: 1%;
		}
	}
}

lg-carrier-create-availability-route {
	trajet {
		display: block;
		width: 100%;
		padding: 5px;
		.way {
			display: block;
			width: 100%;
			li {
				display: inline-block;
				width: 100%;
				padding: 15px;
				font-size: 20px;
				border-bottom: 1px solid $borderColor;
				background: $secondaryColor;
				availability {
					display: table;
					width: 100%;
					vertical-align: middle;
					left,
					right {
						display: table-cell;
						vertical-align: middle;
					}
					left {
						width: 90%;
						div {
							display: block;
							font-size: 18px;
						}
						comments {
							display: block;
							font-size: 14px;
						}
					}
					right {
						width: 10%;
						text-align: right;
					}
				}
			}
		}
	}
}
