$yellow: hsl(52, 100%, 66%);
$red: hsl(0, 100%, 50%);
$darkBlue: hsl(214, 46%, 25%);
$extraLightBlue: hsl(214, 41%, 85%);
$veryLightGray: hsl(0, 0%, 96%);
$lightGray: hsl(0, 0%, 92%);
$littleLightGray: hsl(0, 0%, 88%);
$littleGray: hsl(0, 0%, 80%);
$mediumGray: hsl(0, 0%, 85%);
$gray: hsl(0, 0%, 66%);
$lightGreen: hsl(86, 54%, 51%);
$veryLightGreen: hsl(86, 80%, 50%);
$extraLightGreen: hsl(86, 75%, 75%);
$darkGreen: hsl(171, 99%, 20%);

$transparentDarkBlue: hsla(214, 46%, 25%, 0.6);
$transparentLightGreen: hsla(171, 99%, 38%, 0.3);

$carrierColor: $extraLightGreen;
$loaderColor: $extraLightBlue;

$primaryColor: $darkBlue;

$headerColor: $darkBlue;
$fontColor: $darkBlue;
$backgroundColor: $veryLightGray;
$backgroundDarkColor: $lightGray;
$borderColor: $lightGray;
$darkBorderColor: $littleLightGray;
$veryDarkBorderColor: $gray;
$secondaryColor: $yellow;

$breadcrumbColor: $extraLightGreen;

$buttonColor: $lightGreen;
$disabledButtonColor: $littleLightGray;
$criticalButtonColor: $red;

$criticalFontColor: $red;
$disabledFontColor: $littleGray;
$notificationColor: $secondaryColor;

$progressBarColor: $darkBlue;

$inputColor: $darkBlue;
$placeholderColor: $gray;

$selectedColor: $buttonColor;
$selectedColorCmpl: white;

$transparentFontColor: $transparentDarkBlue;
$transparentSelectedColor: $transparentLightGreen;

