$darkBlue: hsl(214, 46%, 25%);
$primaryColor: $darkBlue;
$secondaryColor: white;

$fontColor: $primaryColor;

$criticalColor: red;


$extraLightBlue: hsl(214, 41%, 85%);
$veryLightGray: hsl(0, 0%, 96%);
$lightGray: hsl(0, 0%, 92%);
$littleLightGray: hsl(0, 0%, 88%);
$littleGray: hsl(0, 0%, 80%);
$mediumGray: hsl(0, 0%, 85%);
$gray: hsl(0, 0%, 66%);
$lightGreen: hsl(86, 54%, 51%);
$veryLightGreen: hsl(86, 80%, 50%);
$extraLightGreen: hsl(86, 75%, 75%);
$darkGreen: hsl(171, 99%, 20%);

$transparentDarkBlue: hsla(214, 46%, 25%, 0.6);
$transparentLightGreen: hsla(171, 99%, 38%, 0.3);

$carrierColor: $extraLightGreen;
$loaderColor: $extraLightBlue;




$backgroundColor: $veryLightGray;
$backgroundDarkColor: $lightGray;
$borderColor: $lightGray;
$darkBorderColor: $littleLightGray;
$veryDarkBorderColor: $gray;
$disabledColor: $gray;

$breadcrumbColor: $extraLightGreen;

$buttonColor: $lightGreen;
$disabledButtonColor: $littleLightGray;

$disabledFontColor: $littleGray;

$inputColor: $darkBlue;
$placeholderColor: $gray;

$selectedColor: $buttonColor;
$selectedColorCmpl: $secondaryColor;

$transparentFontColor: $transparentDarkBlue;
$transparentSelectedColor: $transparentLightGreen;

