$yellow: hsla(52, 100%, 73%, 1);
$red: hsla(0, 100%, 50%, 1);
$darkBlue: hsla(214, 46%, 25%, 1);
$veryLightGray: hsla(0, 0%, 96%, 1);
$lightGray: hsla(0, 0%, 92%, 1);
$littleLightGray: hsla(0, 0%, 88%, 1);
$littleGray: hsla(0, 0%, 80%, 1);
$mediumGray: hsla(0, 0%, 85%, 1);
$gray: hsla(0, 0%, 66%, 1);
$lightGreen: hsla(171, 99%, 38%, 1);
$darkGreen: hsla(171, 99%, 20%, 1);


$headerColor: $darkBlue;
$fontColor: $darkBlue;
$backgroundColor: $veryLightGray;
$backgroundDarkColor: $lightGray;
$borderColor: $lightGray;
$darkBorderColor: $littleLightGray;
$secondaryColor: $yellow;

$buttonColor: $lightGreen;
$disabledButtonColor: $littleLightGray;
$criticalButtonColor: $red;

$criticalFontColor: $red;
$disabledFontColor: $lightGray;
$notificationColor: $secondaryColor;

$progressBarColor: $darkBlue;

$inputColor: black;
$placeholderColor: $gray;

$selectedColor: $buttonColor;

