@import './color';
.photo>label {
    font-size: 17px;
    margin: 20px 0 5px;
}

.complement {
    width: 100%;
    margin-bottom: 28px;
    label {
        font-size: 16px;
    }
    input {
        width: 52%;
        text-align: center;
        font-size: 18px;
        margin: 5px 0px;
        padding: 15px 10px;
        border-radius: 0px;
        border: none;
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;
    }
}

.plus2,
.moins2 {
    background: $buttonColor;
    color: white;
    border: none;
    padding: 16px 28px;
    font-size: 18px;
    width: 24%;
    height: 53px;
}

.plus2 {
    border-radius: 10px 0 0 10px;
}

.moins2 {
    border-radius: 0 10px 10px 0;
}