/* Créer annonce step 1 */
.banner {
    text-align: center;
    width: 100%;
    padding: 0px;
}

.banner svg {
    width: 75px;
    height: 75px;
}

.banner h1 {
    font-size: 28px;
    margin: 10px 0;
}

.banner h2 {
    font-size: 28px;
    margin: 10px 0;
}

.banner img {
    width: 85px;
}

.form{
    text-align: left;
    width: 100%;
    padding: 20px 0px;
}

.form form {
    width: 100%;
    font-size: 20px;
    margin: 0 auto;
}

.form form > label {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}

.form span {
    position: relative;
    background: hsla(0, 0%, 95%, 1);;
    color: hsla(214, 46%, 25%, 1);
    padding: 0px 20px 0px 0px;
    top: -15px;
    font-size: 20px;
    z-index: 9;
    font-weight: bold;
}

.dimension {
    width: 100%;
    margin: 0;
    padding: 0px;
}

.dimension p {
    font-weight: bold;
}

.dimension img {
    width: 70px;
}

.hauteur, .largeur, .profondeur {
    display: inline-block;
    width: 32%;
    text-align: center;
}

.hauteur p, .largeur p, .profondeur p {
    font-size: 16px;
    margin: 0px 0px 10px;
}

.dimension input {
    width: 60%;
    height: 57px;
    text-align: center;
    font-size: 13px;
    padding: 15px 10px;
    border: none;
    margin: 0px;
    border-radius: 0px;
    border-left: 1px solid hsla(0, 0%, 92%, 1);
    border-right: 1px solid hsla(0, 0%, 92%, 1);
}

.dimension > div > p{
    font-size: 17px;
}

.comments {
    font-size: 14px;
    text-align: center;
}

.plus, .moins {
    background: hsla(171, 99%, 38%, 1);
    color: white;
    border: none;
    width: 60%;
    height: 45px;
    font-size: 22px;
}

.plus {
    border-radius: 5px 5px 0 0;
}

.moins {
    border-radius: 0 0 5px 5px;
}

.photo > input {
    font-size: 11px;
    width: 100%;
    margin: 5px 0px 30px;
    padding: 10px;
    border-radius: 5px;
    background: white;
}

.photo > label {
    font-size: 17px;
}

.qty {
    width: 40%;
    height: 80px;
}

.complement {
    width: 100%;
    margin-bottom: 28px;
}

.complement label {
    font-size: 16px;
}

.complement input {
    width: 52%;
    text-align: center;
    font-size: 18px;
    margin: 5px 0px;
    padding: 15px 10px;
    border-radius: 0px;
    border: none;
    border-top: 1px solid hsla(0, 0%, 92%, 1);
    border-bottom: 1px solid hsla(0, 0%, 92%, 1);
}

.plus2, .moins2 {
    background: hsla(171, 99%, 38%, 1);
    color: white;
    border: none;
    padding: 16px 28px;
    font-size: 18px;
    width: 24%;
    height: 53px;
}

.plus2 {
    border-radius: 10px 0 0 10px;
}

.moins2 {
    border-radius: 0 10px 10px 0;
}

.bouton input {
    width: 100%;
    background: hsla(171, 99%, 38%, 1);
    color: white;
    height: 70px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

/* Créer annonce step 2 */
.valide {
    text-align: center;
    width: 100%;
    padding: 15px;
}

.valide h1 {
    font-size: 30px;
    margin: 20px 0;
}
.valide h2 {
    font-size: 28px;
    margin: 20px 0;
}
.valide svg{
    width: 120px;
    height: 120px;
}
.valide a{
    padding: 20px 0px;
    background: hsla(171, 99%, 38%, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    display: block;
}