@import '../css/color';
.ad-title {
    text-align: center;
    font-size: 0px;
    padding: 10px 0px;
    border-bottom: 1px solid $darkBorderColor;
    title {
        font-weight: bold;
        font-size: 25px;
        padding: 0px 0px 5px;
    }
    svg {
        width: 80px;
        height: 80px;
        display: inline-block;
        padding: 0px;
        margin: 0px;
    }
    subtitle {
        font-weight: bold;
        font-size: 25px;
        padding: 0px 0px 5px;
    }
    hr {
        border-color: $darkBorderColor;
        border-style: solid;
        border-top: none;
    }
}

.ad {
    padding: 0px;
    margin: 0px;
    section {
        padding: 10px 10px;
        margin: 0px;
        border-bottom: 1px solid $darkBorderColor;
        big-label {
            display: block;
            font-weight: bold;
            font-size: 25px;
            text-align: center;
            width: 100%;
        }
        dimension {
            display: table;
            width: 100%;
            margin: 0 0 20px;
            padding: 0px;
            div {
                display: table-cell;
                width: 30%;
                text-align: center;
                img {
                    display: inline-block;
                }
                img.box {
                    width: 90px;
                }
                img.truck {
                    width: 70px;
                }
                p {
                    font-size: 17px;
                    font-weight: bold;
                }
            }
        }
    }
    section.dark {
        background-color: $backgroundDarkColor;
    }
}

.bouton {
    padding: 0 10px;
}

.banner-ad {
    width: 100%;
    background: $veryLightGray;
    padding: 0 10px;
    text-align: center;
    button {
        height: 45px;
    }
    h1 {
        font-size: 20px;
        margin: 3px 0;
        display: inline-block;
    }
}

.write-ad {
    width: 35%;
    position: fixed;
    top: 80%;
    left: 33%;
    text-align: center;
    padding: 0 10px;
    button {
        height: 78px;
        width: 78px;
        border-radius: 50%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
    svg {
        width: 45px;
        fill: white;
    }
}

.liste-annonce {
    width: 100%;
    display: block;
    padding: 0px;
}

.block-annonce {
    width: 100%;
    font-size: 0px;
    margin: 0px;
    border-bottom: 1px solid $lightGray;
}

.identity {
    display: inline-block;
    float: left;
    width: 25%;
    margin: 0px;
    padding: 27px 0px;
    font-size: 27px;
    text-align: center;
    background: $lightGreen;
    color: white;
}

.details {
    display: inline-block;
    width: 75%;
    margin: 0px;
    padding: 10px;
    text-align: left;
    background-color: white;
    p {
        color: $darkBlue;
        font-size: 17px;
    }
}

.details-time {
    margin: 5px 0;
}

.size,
.origin,
.year,
.tarif,
.date,
.duree,
.vehicule {
    font-size: 14px;
}

.size,
.date {
    color: $littleGray;
    float: left;
}

.origin,
.tarif,
.duree {
    color: $lightGreen;
    float: right;
}

.year,
.vehicule {
    float: left;
    color: black;
}


/* Détails annonce */

.details-annonce {
    width: 100%;
    padding: 0px;
}

.recap {
    width: 100%;
    padding: 20px 10px;
    background-color: $veryLightGray;
    h2 {
        margin: 40px 0px;
        font-size: 21px;
        text-align: center;
    }
    h3 {
        text-align: left;
        margin: 25px 0;
        font-size: 19px;
    }
    div {
        text-align: center;
    }
    p {
        font-size: 16px;
    }
}

.publie,
.expire {
    color: $gray;
    font-size: 20px;
}