@import './color';
overlay {
	display: block;
	position: fixed;
	z-index: 100;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	fixed {
		display: block;
		position: fixed;
		z-index: 102;
		top: 0px;
		left: 0px;
		right: 0px;
		width: 100%;
		height: 123px;
	}
	fixed-list {
		display: block;
		position: fixed;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: 101;
		width: 100%;
		height: 100%;
		padding: 123px 0px 0px;
		background-color: white;
		item {
			display: block;
			position: relative;
			top: 0px;
			left: 0px;
			padding: 15px 35px;
			font-size: 20px;
			border-bottom: 1px solid $borderColor;
			icon {
				svg {
					position: absolute;
					width: 23px;
					left: 6px;
					fill: $selectedColor;
				}
				i {
					position: absolute;
					left: 8px;
					color: $selectedColor;
				}
				i.fa-balance-scale {
					left: 6px;
				}
				.fa-map-marker {
					left: 13px;
				}
				i.fa-check {
					left: 8px;
				}
			}
		}
		item.preselected {
			background-color: $backgroundColor;
			i {
				color: $fontColor;
			}
		}
	}
}