@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('font/SourceSansPro.woff') format('woff');
}

*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif; // letter-spacing: -0.5px;
	-webkit-font-smoothing: antialiased;
}

// normalize.css overwrite
button, input, optgroup, select, textarea {
	font-family: 'Source Sans Pro', sans-serif; // letter-spacing: -0.5px;
	-webkit-font-smoothing: antialiased;
}

[ng-click] {
	cursor: pointer;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}