/* All Sign */
sign-form {
	display: block;
    text-align: left;
    width: 100%;
    padding: 0px 10px;
}

sign-form .table {
	display: table;
	width: 100%;
}

sign-form .row {
	display: table-row;
}

sign-form .cell {
	display: table-cell;
	text-align: center;
}

sign-form img {
	display: inline-block;
	width: 60px;
}

.errorMsg {
    color: red;
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
}

.creer-compte {
    text-align: center;
    margin: 0px;
}

.creer-compte a {
    text-decoration: none;
    font-size: 20px;
    color: hsla(214, 46%, 25%, 1);
}

.bouton button {
    width: 100%;
    background: hsla(171, 99%, 38%, 1);
    color: white;
    height: 70px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    margin: 5px 0px;
    border-radius: 5px;
}

/* Compte créé */
.compte-cree {
    width: 100%;
    text-align: center;
}

.compte-cree div {
    padding: 1px 20px;
}

.compte-cree h3 {
    font-size: 30px;
    margin: 20px 0px;
    color: #233e60;
}

.compte-cree p {
    font-size: 14px;
    margin: 50px 0;
}



.logout h3 {
    text-align: center;
    padding: 20px;
    font-size: 22px;
}

.yes, .no {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 15px 30px;
    border: 1px solid hsla(171, 99%, 38%, 1);
    color: white;
}

/* Ajout société */
.adresse input {
    width: 100%;
    height: 450px;
    font-size: 16px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 84%, 1);
}


.critical, .normal{
    display: block;
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    text-align: center;
}

.critical {
    background-color: red;
}

.normal {
    background-color: green;
}
