@import './color';
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../font/SourceSansPro.woff) format('woff');
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: $fontColor;
    font-family: 'Source Sans Pro', sans-serif;
}

svg {
    fill: $fontColor;
}

body {
    background: $backgroundColor;
}

ui-view {
    display: block;
    padding: 58px 0px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

form {
    padding: 0 5px;
}

input,
my-input {
    // Avoid safari to put its own settings
    -webkit-appearance: none;
    display: block;
    font-size: 18px;
    width: 100%;
    margin: 5px 0px;
    background: white;
    box-shadow: none;
    padding: 17px 10px;
    border-radius: 3px;
    border: 1px solid $borderColor;
}

input[readonly],
my-input[readonly] {
    background-color: $littleLightGray;
}

textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 18px;
    width: 100%;
    min-height: 100px;
    margin: 5px 0px;
    background: white;
    box-shadow: none;
    padding: 17px 10px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
}

/* placeholder */

::-webkit-input-placeholder {
    /* Chrome */
    color: $placeholderColor;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $placeholderColor;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $placeholderColor;
    opacity: 1;
}

:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: $placeholderColor;
    opacity: 1;
}

my-input {
    color: $placeholderColor;
    line-height: 18px;
}

my-input.filled {
    color: black;
}

label {
    display: block;
    font-weight: bold;
    font-size: 17px;
}

info {
    display: block;
    font-weight: normal;
    font-size: 17px;
}

comment {
    display: block;
    font-size: 15px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: $fontColor;
}

.clear {
    clear: both;
}

lg-title,
title {
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 30px 10px 10px;
}

title {
    padding: 0px;
}

subtitle {
    display: block;
    font-size: 19px;
    text-align: center;
    padding: 0px 10px 10px;
}

title-icon {
    display: block;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding: 0px;
}


/* Créer proposition Transporteur / Chargeur */

.proposition {
    width: 100%;
    padding: 20px 10px;
}

.proposition h1 {
    font-size: 30px;
    text-align: center;
    margin: 20px 0px 40px;
}

.proposition h3 {
    text-align: left;
    font-size: 16px;
}

.proposition span {
    font-size: 13px;
}

.proposition form {
    width: 100%;
    font-size: 18px;
    margin: 0 auto;
}

.proposition form>input {
    width: 100%;
    margin: 5px 0px;
    font-size: 13px;
    padding: 17px 10px;
    border-radius: 5px;
    border: 1px solid $mediumGray;
}

.proposition form>label {
    margin-bottom: 20px;
    font-size: 16px;
}

.btn-proposition input {
    width: 100%;
    background: $buttonColor;
    color: white;
    height: 70px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

.input-date {
    border: 1px solid $borderColor;
    border-radius: 5px;
    margin: 5px 0px;
    background-color: white;
}

.input-date a {
    padding: 20px;
    font-size: 14px;
    color: $gray;
    display: inline-block;
    width: 100%;
}

.tarif-initial {
    width: 100%;
    margin: 0 auto;
    label {
        font-size: 16px;
    }
    input {
        width: 52%;
        text-align: center;
        font-size: 18px;
        margin: 5px 0px;
        padding: 15px 10px;
        border-radius: 0px;
        border: none;
        border-top: 1px solid $mediumGray;
        border-bottom: 1px solid $mediumGray;
    }
}

button {
    width: 100%;
    background: $buttonColor;
    color: white;
    height: 60px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    margin: 10px 0px;
}

button[disabled] {
    background: $disabledButtonColor;
}

button i {
    color: white;
}

button.critical {
    background: $criticalButtonColor;
    color: white;
}

.critical {
    color: $criticalFontColor;
}
