@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../font/SourceSansPro.woff) format('woff');
}

* { 
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: hsla(214, 46%, 25%, 1);
}

svg {
    fill: hsla(214, 46%, 25%, 1);
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    text-align: center;
    color: hsla(214, 46%, 25%, 1);
}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

input {
    font-size: 20px;
    width: 100%;
    margin: 5px 0px;
    padding: 17px 10px;
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 84%, 1);
}

a {
    text-decoration: none;
    color: hsla(214, 46%, 25%, 1);
}

.clear {
    clear: both;
}

/* Créer annonce step 2 */
.valide {
    text-align: center;
    width: 100%;
    padding: 20px;
}

.valide h1 {
    font-size: 35px;
    margin: 20px 0;
}
.valide h2 {
    font-size: 25px;
    margin: 20px 0;
}
.valide img{
    width: 120px;
}
.valide a{
    padding: 20px 0px;
    background: hsla(171, 99%, 38%, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    display: block;
}

/* Ajout société */

.adresse input {
    width: 100%;
    height: 450px;
    font-size: 16px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 84%, 1);
}

/* Inscription */
.ou, .ou2 {
    font-size: 17px;
    width: 100px;
    margin: 11px auto;
    background: white;
    position: relative;
}

.ou {
    top: -24px;
}

.ou2 {
    top: 21px;
}

.creer-compte {
    border-top: 1px solid hsla(0, 0%, 84%, 1);
    border-bottom: 1px solid hsla(0, 0%, 84%, 1);
    text-align: center;
    margin: 40px 0;
}

.creer-compte a {
    text-decoration: none;
    font-size: 20px;
    color: hsla(214, 46%, 25%, 1);
}

.connect-fbg {
    margin: 50px auto;
    width: 100%;
    font-size: 0px;
    padding: 0px 5px;
}

.connect-fbg img {
    width: 40px;
    float: left;
}

.btn-fb, .btn-google {
    display: inline-block;
    width: 50%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    text-align: center;
}

.btn-fb > div, .btn-google > div {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 2px;
}

.lien-fb {
    border: 1px solid hsla(224, 47%, 43%, 1);
}

.lien-google {
    border: 1px solid hsla(7, 71%, 52%, 1);
}

.lien {
    display: block;
    margin: 0px;
    color: black;
}

.lien-fb a {
    color: hsla(224, 47%, 43%, 1);
    padding: 10px 0px;
    width: 68%;
    height: 100%;
    display: inline-block;
    
}

.lien-google a {
    color: hsla(7, 71%, 52%, 1);
    padding: 10px 0px;
    width: 68%;
    height: 100%;
    display: inline-block;
}

/* Compte créé */
.compte-cree {
    width: 100%;
    text-align: center;
}

.compte-cree div {
    padding: 1px 20px;
}

.compte-cree h3 {
    font-size: 30px;
    margin: 20px 0px;
    color: #233e60;
}

.compte-cree p {
    font-size: 14px;
    margin: 50px 0;
}

.response {
    margin: 50px auto;
    width: 100%;
    font-size: 0px;
    padding: 0px 5px;
}

.response > div {
    display: inline-block;
    width: 50%;
    margin: 0px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

.logout h3 {
    text-align: center;
    padding: 20px;
}

.oui, .non {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 15px 30px;

    border: 1px solid hsla(171, 99%, 38%, 1);
    color: white;
}

/* Liste annonce */
.banner-annonce {
    width: 100%;
    padding: 20px;
    background: hsla(52, 100%, 68%, 1);
}

.banner-img {
    width: 28%;
    display: inline-block;
}
.banner-title {
    width: 70%;
    display: inline-block;
}

.banner-annonce img {
    width: 30px;
    display: inline-block;
}

.banner-annonce h1 {
    font-size: 20px;
    float: left;
    display: inline-block;
}

.liste-annonce {
    width: 100%;
    display: block;
}

.block-annonce {
    width: 100%;
    font-size: 0px;
    margin: 0px;
    border-bottom: 1px solid hsla(0, 0%, 93%, 1);
}

.identity {
    display: inline-block;
    width: 25%;
    margin: 0px;
    padding: 27px 0px;
    font-size: 27px;
    text-align: center;
    background: hsla(171, 99%, 38%, 1);
    color: white;
    float: left;
}

.details {
    display: inline-block;
    width: 75%;
    margin: 0px;
    padding: 10px;
    text-align: left;
}

.details p {
    color: hsla(214, 46%, 25%, 1);
    font-size: 17px;
}

.details-time {
    margin: 5px 0;
}

.date, .duree, .vehicule, .tarif{
    font-size: 14px;
}

.date{
    color: hsla(0, 0%, 84%, 1);
    float: left;
}

.duree{
    color: hsla(171, 99%, 38%, 1);
    float: right;
}

.vehicule {
    float: left;
    color: black;
}

.tarif{
    color: hsla(171, 99%, 38%, 1);
    float: right;
}

/* Détails annonce */
.details-annonce {
    width: 100%;
}

.recap {
    width: 100%;
    padding: 20px;
}

.recap h3 {
    margin: 25px 0;
    font-size: 19px;
}

.publie, .expire {
    color: hsla(0, 0%, 84%, 1);
    font-size: 20px;
}

.recap h2 {
    margin: 40px 0px;
    font-size: 21px;
    text-align: center;
}

.recap a {
    padding: 20px 0px;
    background: hsla(171, 99%, 38%, 1);
    color: white;
    width: 100%;
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.recap p {
    font-size: 16px;
}

/* Créer proposition Transporteur / Chargeur */
.proposition{
    width: 100%;
    padding: 20px;
}

.proposition h1 {
    font-size: 30px;
    text-align: center;
    margin: 20px 0px 40px;
}
.proposition h3 {
    font-size: 16px;
}

.proposition span {
    font-size: 13px;
}

.proposition form {
    width: 100%;
    font-size: 18px;
    margin: 0 auto;
}

.proposition form > input {
    width: 100%;
    margin: 5px 0px;
    font-size: 13px;
    padding: 17px 10px;
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 84%, 1);
}

.proposition form > label {
    margin-bottom: 20px;
    font-size: 16px;
}

.btn-proposition input {
    width: 100%;
    background: hsla(171, 99%, 38%, 1);
    color: white;
    height: 70px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

.input-lieu, .input-date, .input-country, .input-city, .input-address {
    border: 1px solid hsla(0, 0%, 84%, 1);
    border-radius: 5px;
    margin: 5px 0px;
}

.input-lieu a, .input-date a, .input-country a, .input-city a {
    padding: 16px;
    font-size: 14px;
    color: hsla(0, 0%, 66%, 1);
    display: inline-block;
    width: 100%;
}

.input-address a {
    padding: 50px 14px;
    font-size: 14px;
    color: hsla(0, 0%, 66%, 1);
    display: inline-block;
    width: 100%;
}

.tarif-initial {
    width: 100%;
    margin: 0 auto;
}

.tarif-initial label {
    font-size: 16px;
}

.tarif-initial input {
    width: 52%;
    text-align: center;
    font-size: 18px;
    margin: 5px 0px;
    padding: 15px 10px;
    border: none;
    border-top: 1px solid hsla(0, 0%, 84%, 1);
    border-bottom: 1px solid hsla(0, 0%, 84%, 1);
}

button {
    width: 100%;
    background: hsla(171, 99%, 38%, 1);
    color: white;
    height: 70px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}


/* Chargeur proposition envoyée */
.message {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.message h1 {
    font-size: 25px;
    text-align: center;
    margin: 30px 0;
}

.message div {
    margin: 30px 0;
    width: 100%;
}

.message a { 
    padding: 20px 0px;
    background: hsla(171, 99%, 38%, 1);
    color: white;
    width: 100%;
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}


