@import './color';

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../font/SourceSansPro.woff) format('woff');
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    color: $fontColor;
}

svg {
    fill: $darkColor;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    background: $backgroundColor;
}

ui-view {
	display: block;
	padding: 58px 0px 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-align: center;
    color: $darkColor;
}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

form {
    padding: 0 10px;
}

input, my-input {
	display: block;
    font-size: 18px;
    width: 100%;
	height: 55px;
    margin: 5px 0px;
    background: white;
    box-shadow: none;
    padding: 17px 10px;
    border-radius: 5px;
    border: 1px solid $borderColor;
}

input[readonly], my-input[readonly] {
    background-color: $littleLightGray;
}

/* placeholder */
::-webkit-input-placeholder { /* Chrome */
  color: hsla(0, 0%, 60%, 1);
}
:-ms-input-placeholder { /* IE 10+ */
  color: hsla(0, 0%, 60%, 1);
}
::-moz-placeholder { /* Firefox 19+ */
  color: hsla(0, 0%, 60%, 1);
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: hsla(0, 0%, 60%, 1);
  opacity: 1;
}

my-input {
	color: hsla(0, 0%, 60%, 1);
	line-height: 18px;
}

my-input.filled {
    color: black;
}

label {
    display: block;
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
}

comment {
    display: block;
    font-size: 15px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: $darkColor;
}

.clear {
    clear: both;
}

lg-title, title {
	display: block;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 30px 10px 10px;
}

title {
    padding: 0px;
}

subtitle {
	display: block;
	font-size: 19px;
    text-align: center;
    padding: 0px 10px 10px;
}

title-icon {
    display: block;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	padding: 0px;
}

/* Ajout société */
.adresse input {
    width: 100%;
    height: 450px;
    font-size: 16px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 84%, 1);
}

/* Liste annonce */
.banner-annonce {
    width: 100%;
    padding: 10px;
    background: hsla(52, 100%, 68%, 1);
}

.banner-img {
    width: 28%;
    display: inline-block;
}
.banner-title {
    width: 70%;
    display: inline-block;
}

.banner-annonce img {
    width: 25px;
    display: inline-block;
}

.banner-annonce h1 {
    font-size: 20px;
    margin: 3px 0;
    display: inline-block;
}

.liste-annonce {
    width: 100%;
    display: block;
    padding: 0px;
}

.block-annonce {
    width: 100%;
    font-size: 0px;
    margin: 0px;
    border-bottom: 1px solid hsla(0, 0%, 93%, 1);
}

.identity {
    display: inline-block;
    float: left;
    width: 25%;
    margin: 0px;
    padding: 27px 0px;
    font-size: 27px;
    text-align: center;
    background: hsla(171, 99%, 38%, 1);
    color: white;
}

.details {
    display: inline-block;
    width: 75%;
    margin: 0px;
    padding: 10px;
    text-align: left;
    background-color: white;
}

.details p {
    color: hsla(214, 46%, 25%, 1);
    font-size: 17px;
}

.details-time {
    margin: 5px 0;
}

.date, .duree, .vehicule, .tarif{
    font-size: 14px;
}

.date{
    color: hsla(0, 0%, 84%, 1);
    float: left;
}

.duree{
    color: hsla(171, 99%, 38%, 1);
    float: right;
}

.vehicule {
    float: left;
    color: black;
}

.tarif{
    color: hsla(171, 99%, 38%, 1);
    float: right;
}

/* Détails annonce */
.details-annonce {
    width: 100%;
    padding: 0px;
}

.recap {
    width: 100%;
    padding: 20px;
    background-color: white;
}

.recap h3 {
    text-align: left;
    margin: 25px 0;
    font-size: 19px;
}

.publie, .expire {
    color: hsla(0, 0%, 76%, 1);
    font-size: 20px;
}

.recap h2 {
    margin: 40px 0px;
    font-size: 21px;
    text-align: center;
}

.recap p {
    font-size: 16px;
}

/* Créer proposition Transporteur / Chargeur */
.proposition{
    width: 100%;
    padding: 20px 10px;
}

.proposition h1 {
    font-size: 30px;
    text-align: center;
    margin: 20px 0px 40px;
}
.proposition h3 {
    text-align: left;
    font-size: 16px;
}

.proposition span {
    font-size: 13px;
}

.proposition form {
    width: 100%;
    font-size: 18px;
    margin: 0 auto;
}

.proposition form > input {
    width: 100%;
    margin: 5px 0px;
    font-size: 13px;
    padding: 17px 10px;
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 84%, 1);
}

.proposition form > label {
    margin-bottom: 20px;
    font-size: 16px;
}

.btn-proposition input {
    width: 100%;
    background: hsla(171, 99%, 38%, 1);
    color: white;
    height: 70px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

.input-date, .input-address {
    border: 1px solid hsla(0, 0%, 92%, 1);
    border-radius: 5px;
    margin: 5px 0px;
    background-color: white;
}

.input-date a {
    padding: 20px;
    font-size: 14px;
    color: hsla(0, 0%, 66%, 1);
    display: inline-block;
    width: 100%;
}

.input-address a {
    padding: 50px 14px;
    font-size: 14px;
    color: hsla(0, 0%, 66%, 1);
    display: inline-block;
    width: 100%;
}

.tarif-initial {
    width: 100%;
    margin: 0 auto;
}

.tarif-initial label {
    font-size: 16px;
}

.tarif-initial input {
    width: 52%;
    text-align: center;
    font-size: 18px;
    margin: 5px 0px;
    padding: 15px 10px;
    border-radius: 0px;
    border: none;
    border-top: 1px solid hsla(0, 0%, 84%, 1);
    border-bottom: 1px solid hsla(0, 0%, 84%, 1);
}

button {
    width: 100%;
    background: hsla(171, 99%, 38%, 1);
    color: white;
    height: 60px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
	margin: 10px 0px;
}

button[disabled] {
	 background: hsla(171, 10%, 38%, 1);
}

button i {
    color: white;
}

button.critical {
    background: hsla(0, 100%, 50%, 1);
    color: white;
}

.critical {
    color: red;
}