@import '../css/color';

svg {
	fill: $fontColor;
}

body {
	background: $backgroundColor;
	color: $fontColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	text-align: left;
}

h1 {
	font-size: 30px;
	margin-bottom: 10px;
}

hr {
	display: block;
	width: 100%;
	height: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 0.5px solid #eee;
	border-color: #DDDDDD;
}

a {
	text-decoration: none;
}

form {
	padding: 0 5px;
}

input,
my-input {
	// Avoid safari to put its own settings
	-webkit-appearance: none;
	display: block;
	font-size: 18px;
	width: 100%;
	margin: 5px 0;
	background: $secondaryColor;
	box-shadow: none;
	padding: 15px 10px;
	border-radius: 3px;
	border: 1px solid $borderColor;
}

input[readonly],
my-input[readonly] {
	background-color: $littleLightGray;
}

textarea {
	-webkit-appearance: none;
	display: block;
	font-size: 18px;
	width: 100%;
	min-height: 100px;
	margin: 5px 0;
	background: $secondaryColor;
	box-shadow: none;
	padding: 17px 10px;
	border-radius: 3px;
	border: 1px solid #ebebeb;
}

admin-route,
admin-terms-route,
admin-users-route,
admin-users-update-route,
admin-carriers-route,
admin-loaders-route,
admin-trucks-route,
admin-settings-route,
admin-proposals-route {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}

admin-nav-route {
	display: table-cell;
	vertical-align: top;
	position: fixed;
	left: 0;
	top: 0;
	width: 15%;
	height: 100%;
	padding: 5px;
	background-image: url('../img/desktop-bg-admin.jpg');
	background-size: cover;
	nav {
		display: block;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		div.nav-logo {
			display: block;
			width: 85%;
			text-align: center;
			margin: 0 auto;
			padding: 0 0 30px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.7);
			img {
				width: 70px;
				margin: 20px 50px;
			}
			a {
				display: block;
				width: 100%;
				color: $secondaryColor;
				font-size: 35px;
				font-weight: bold;
				padding: 20px 0 0;
			}
			span {
				display: block;
				width: 100%;
				font-size: 18px;
				color: $secondaryColor;
			}
		}
		div.user {
			display: block;
			width: 85%;
			border-bottom: 1px solid rgba(255, 255, 255, 0.7);
			padding-bottom: 15px;
			margin: 20px auto 0;
			span {
				text-align: center;
				color: #FFFFFF;
				padding: 8px 14px;
				text-align: center;
				display: block;
			}
			.photo {
				width: 80px;
				height: 80px;
				overflow: hidden;
				border-radius: 50%;
				border: 4px solid rgba(255, 255, 255, 0.3);
				margin: 0 auto;
				img {
					width: 100%;
				}
			}
		}
		div.nav-bar {
			margin-top: 20px;
			ul {
				display: block;
				width: 100%;
				li {
					cursor: pointer;
					a {
						display: block;
						width: 100%;
						cursor: pointer;
						padding: 15px 10px;
						color: #fff;
						font-size: 13px;
					}
					a:hover {
						color: #FFFFFF;
						opacity: 1;
						background: rgba(255, 255, 255, 0.35);
						border-radius: 3px;
						transition: all 350ms ease-out;
					}
					i.fa {
						font-size: 18px;
						color: $secondaryColor;
						margin-right: 10px;
					}
				}
			}
		}
		div.nav-bar-mobile {
			display: none;
			margin-top: 20px;
			ul {
				width: 100%;
				li {
					cursor: pointer;
					text-align: center;
					a {
						display: block;
						width: 100%;
						padding: 20px 0;
						cursor: pointer;
						color: #fff;
						font-size: 13px;
					}
					a:hover {
						color: #FFFFFF;
						opacity: 1;
						background: rgba(255, 255, 255, 0.35);
						border-radius: 3px;
						transition: all 350ms ease-out;
					}
					i.fa {
						font-size: 24px;
						color: $secondaryColor;
					}
				}
			}
		}
	}
}

tbody tr td img {
	width: 100px;
}

admin-section {
	display: table-cell;
	width: 85%;
	min-height: 800px;
	background-color: #F5F5F5;
	header {
		display: table;
		width: 100%;
		padding: 15px 30px;
		background-color: $secondaryColor;
		border-bottom: 1px solid #e7e7e7;
		h2 {
			display: table-cell;
			vertical-align: middle;
			width: 85%;
			i.fa {
				margin-right: 20px;
			}
		}
		div {
			display: table-cell;
			vertical-align: middle;
			.download {
				cursor: pointer;
				background-color: #8bc63f;
				color: #fff;
				padding: 10px 15px;
				font-size: 13px;
				border-radius: 3px;
				border: none;
				>i.fa {
					color: $secondaryColor;
				}
			}

			a {
				margin-left: 20px;
			}
		}
	}
	section {
		display: block;
		width: 100%;
		min-height: 100vh;
		padding: 25px 10px;
		.row-1,
		.row-2 {
			display: table;
			table-layout: fixed;
			width: 100%;
			padding: 0 0 35px;
			.card {
				display: table-cell;
				width: 45%;
				border-radius: 4px;
				padding: 15px 20px;
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
				background-color: #FFFFFF;
				margin-bottom: 30px;
				.header {
					h4 {
						font-size: 23px;
						text-align: left;
						i.fa {
							margin-right: 10px;
						}
					}
					.description {
						font-size: 13px;
						font-weight: 400;
						color: #888888;
						margin-bottom: 0;
					}
				}
				.content {
					padding: 15px 0;
					p {
						margin: 20px 0;
						font-size: 14px;
					}
					.fresh-datatables {
						overflow-x: auto;
						table {
							thead>tr>th {
								border: none !important;
							}
						}
						.table {
							thead>tr>th,
							tbody>tr>th,
							tfoot>tr>th,
							thead>tr>td,
							tbody>tr>td,
							tfoot>tr>td {
								padding: 12px 8px;
								vertical-align: middle;
								border-color: #E3E3E3;
								text-align: left;
								border-top: 1px solid #ddd;
							}
							thead>tr>th {
								border-bottom-width: 1px;
								font-size: 12px !important;
								text-transform: uppercase;
								color: #9A9A9A;
								font-weight: 400;
								padding-bottom: 5px;
							}
							tbody>tr>td,
							tbody>tr>th,
							tfoot>tr>td,
							tfoot>tr>th,
							thead>tr>td,
							thead>tr>th {
								padding: 8px;
								vertical-align: top;
								font-size: 15px;
							}
							tbody>tr>td>a {
								text-align: center;
								i.fa {
									color: #FB404B !important;
								}
							}
						}
						.table-striped>tbody>tr:nth-of-type(odd) {
							background-color: #f9f9f9;
						}
					}
				}
				.footer {
					.legend {
						padding: 5px 0;
						font-size: 13px;
						.text-info,
						.text-info:hover {
							color: #23CCEF !important;
						}
						.text-danger,
						.text-danger:hover {
							color: #FB404B !important;
						}
						.text-warning,
						.text-warning:hover {
							color: #FFA534 !important;
						}
					}
					.stats {
						color: #a9a9a9;
						font-size: 12px;
						margin: 11px 0 0;
						i.fa {
							color: #a9a9a9;
						}
					}
				}
			}
			.middle {
				display: table-cell;
				width: 20%;
			}
		}
		div.container {
			display: block;
			width: 100%;
			margin: 0 0 30px;
			h2 {
				font-size: 30px;
				padding: 0 20px 50px;
				text-align: left;
				i.fa {
					margin-right: 25px;
				}
			}
			.card {
				border-radius: 4px;
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
				background-color: #FFFFFF; // margin-bottom: 30px;
				.header {
					padding: 15px 15px 0;
					h4 {
						font-size: 23px;
						text-align: left;
						i.fa {
							margin-right: 10px;
						}
					}
					.combobox {
						margin-top: 20px;
						select {
							display: block;
							height: 25px;
							width: 120px;
							font-size: 14px;
							margin-top: 5px;
						}
					}
				}
				.content {
					padding: 15px;
					p {
						margin: 20px 0;
						font-size: 14px;
					}

					div .download {
						display: block;
						cursor: pointer;
						background-color: #8bc63f;
						color: #fff;
						padding: 7px 10px;
						font-size: 13px;
						border-radius: 3px;
						border: none;
						margin-bottom: 5px;
						>i.fa {
							color: $secondaryColor;
						}
					}
					div .download:hover {
						background-color: #66912f;
					}
					div .load-more {
						display: block;
						cursor: pointer;
						background-color: #8bc63f;
						color: #fff;
						padding: 7px 20px;
						font-size: 15px;
						margin: 20px auto 5px;
						text-align: center;
						border-radius: 3px;
						border: none;
						>i.fa {
							color: $secondaryColor;
						}
					}
					div .load-more:hover {
						background-color: #66912f;
					}
					div.filter {
						width: 255px;
						float: none;
						right: -7px;
						position: absolute;
						top: 93px;
						margin: 0 0 5px;
						font-size: 15px;
						padding: 5px;
						i.fa {
							position: relative;
							left: -8px;
						}
						input {
							display: inline-block;
							width: 200px;
							padding: 3px 10px;
						}
					}
					table {
						thead>tr>th {
							border: none !important;
						}
					}
					.table {
						thead>tr>th,
						tbody>tr>th,
						tfoot>tr>th,
						thead>tr>td,
						tbody>tr>td,
						tfoot>tr>td {
							padding: 12px 8px;
							vertical-align: middle;
							border-color: #E3E3E3;
							text-align: left;
							border-top: 1px solid #ddd;
						}
						thead>tr>th {
							border-bottom-width: 1px;
							font-size: 12px;
							text-transform: uppercase;
							color: #9A9A9A;
							font-weight: 400;
							padding-bottom: 5px;
						}
						tbody>tr>td,
						tbody>tr>th,
						tfoot>tr>td,
						tfoot>tr>th,
						thead>tr>td,
						thead>tr>th {
							padding: 8px;
							line-height: 1.42857143;
							vertical-align: top;
							text-align: center;
						}
						tbody>tr>td {
							.remove {
								i.fa-times {
									color: #FB404B !important;
								}
							}
						}
					}
					.table-striped>tbody>tr:nth-of-type(odd) {
						background-color: #f9f9f9;
					}
				}
			}
		}
	}
	footer {
		display: block;
		width: 100%;
		padding: 20px;
		background-color: $secondaryColor;
		border-top: 1px solid #e7e7e7;
		span {
			font-size: 14px;
			b {
				font-size: 17px;
			}
		}
	}
}


admin-login-route {
	display: table;
	width: 100%;
	min-height: 100vh;
	section {
		display: table-cell;
		width: 100%;
		background-image: url('../img/desktop-bg-login.jpg');
		background-size: cover;
		min-height: 100vh;
		vertical-align: middle;
		.login-page {
			display: block;
			width: 500px;
			margin: 0 auto;
			padding: 30px;
			.card {
				display: block;
				background-color: $secondaryColor;
				box-shadow: 0 25px 30px -13px rgba(40, 40, 40, 0.4);
				border-radius: 10px;
				padding: 30px 20px;
				-webkit-transform: translate3d(0, 0, 0);
				-moz-transform: translate3d(0, 0, 0);
				-o-transform: translate3d(0, 0, 0);
				-ms-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
				.header {
					text-align: center;
					img {
						width: 95px;
					}
					span {
						display: block;
						text-align: center;
						padding: 15px 15px 30px;
						font-weight: 300;
						font-size: 22px;
					}
				}
				.content {
					padding: 15px;
					label {
						font-size: 14px;
						font-weight: 400;
						color: lightgray;
						margin-bottom: 0;
					}
					input {
						margin-bottom: 15px;
					}
				}
				.footer {
					display: block;
					width: 50%;
					margin: 0 auto;
					background-color: transparent;
					line-height: 30px;
					text-align: center;
					a {
						display: block;
						margin: 10px 0;
						font-size: 15px;
						i.fa {
							margin-right: 5px;
						}
					}
					.btn {
						width: 100%;
						background: #8bc63f;
						color: #fff;
						height: 45px;
						font-size: 16px;
						cursor: pointer;
						border: none;
						border-radius: 3px;
						margin: 10px 0;
					}
				}
			}
		}
	}
}

admin-prompt,
admin-confirm {
	display: block;
	width: 100%;
	padding: 0 10px;
	color: black;
	question {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		margin-top: 30px;
	}
	.response {
		display: table;
		width: 30%;
		margin: 50px auto;
		font-size: 0;
		padding: 0;
		>div {
			display: table-cell;
			width: 40%;
			margin: 0;
			padding: 0 5px;
			font-size: 14px;
			text-align: center;
			button {
				width: 100%;
				background: #8bc63f;
				color: #fff;
				height: 50px;
				font-size: 17px;
				cursor: pointer;
				border: none;
				border-radius: 3px;
				margin: 10px 0;
				&.critical {
					background-color: red;
					color: $secondaryColor;
				}
				&.disconnect {
					background-color: #8de61a;
					color: $secondaryColor;
				}
			}
		}
	}
}

admin-terms-route {
	.title-block {
		font-size: 30px;
		padding: 0 !important;
		margin-bottom: 20px;
		text-align: left;
	}
	.article {
		display: block;
		width: 100%;
		padding: 0 0 10px 0;
		font-size: 14px;
		h2 {
			display: block;
			width: 100%;
			margin: 10px 0;
			padding: 10px !important;
			text-align: left;
			background-color: #223c5d;
			color: #fff;
			border-radius: 2px;
			font-size: 15px !important;
		}
		p {
			padding: 10px;
			text-align: justify;
			margin: 0 !important;
		}
		ul {
			li {
				margin-left: 30px;
			}
		}
	}
}


@media screen and (min-width: 1000px) and (max-width: 1366px) {
	admin-section header h2 {
		width: 84%;
	}
	admin-nav-route nav div.nav-logo a {
		font-size: 26px;
	}
	admin-nav-route nav div.nav-logo span {
		font-size: 15px;
	}
	admin-nav-route nav div.nav-bar ul li a {
		text-align: center;
		font-size: 12px;
	}
	admin-nav-route nav div.nav-bar ul li i.fa {
		display: block;
		font-size: 25px;
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
	admin-section section div.container .card .content div.filter {
		top: 101px;
	}
	admin-section header h2 {
		width: 77%;
	}
	admin-nav-route nav div.nav-bar ul li a {
		text-align: center;
		font-size: .70em;
	}
	admin-nav-route nav div.nav-bar ul li i.fa {
		display: block;
		margin: 0 auto 10px;
	}
	admin-nav-route nav div.nav-logo a {
		font-size: 25px;
	}
}

@media screen and (max-width: 800px) {
	admin-section header h2 {
		width: 75%;
	}
	admin-nav-route nav div.nav-logo a {
		font-size: 20px;
	}
	admin-nav-route nav div.nav-logo span {
		font-size: 14px;
	}
	admin-nav-route nav div.user .photo {
		width: 60px;
		height: 60px;
	}
	admin-section section div.container .card .content div input {
		width: 100%;
		float: none;
		right: 0;
		position: relative;
		top: 25%;
	}
	admin-section section div.container .card .content .download {
		display: none !important;
	}
	div.nav-bar {
		display: none !important;
	}
	div.nav-bar-mobile {
		display: block !important;
	}
	admin-section section div.container .card .content div.filter {
		width: 100%;
		position: initial;
		top: 101px;
	}
}

@media screen and (max-width: 670px) {
	admin-section header {
		padding: 15px;
	}
	admin-section header h2 {
		width: 75%;
		font-size: 18px;
	}
	admin-nav-route nav div.nav-logo a {
		font-size: 15px;
	}
	admin-nav-route nav div.user span {
		font-size: 12px;
	}
	admin-nav-route nav div.nav-logo span {
		font-size: 14px;
	}
	admin-nav-route nav div.user .photo {
		width: 50px;
		height: 50px;
	}
	div.nav-bar {
		display: none !important;
	}
	div.nav-bar-mobile {
		display: block !important;
	}
	admin-section section .row-1 .card h4,
	admin-section section .row-2 .card h4 {
		font-size: 20px;
	}
	table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	table tr {
		border-top: 3px solid #ddd;
		border-bottom: 3px solid #ddd;
		display: block;
		margin-bottom: .625em;
	}
	table td {
		border-bottom: 1px solid #ddd;
		border-top: none !important;
		display: block;
		font-size: 16px;
		text-align: right !important;
		a i.fa {
			font-size: 20px;
		}
	}
	table td:before {
		/*
	  * aria-label has no advantage, it won't be read inside a table
	  content: attr(aria-label);
	  */
		content: attr(data-label);
		float: left;
		font-size: 14px;
		text-transform: uppercase;
		color: #9a9a9a;
		font-weight: 400;
	}
	table td:last-child {
		border-bottom: 0;
	}
}

@media screen and (max-width: 414px) {
	admin-nav-route {
		width: 20%;
	}
	admin-nav-route nav div.nav-logo a {
		font-size: 17px;
	}
	admin-nav-route nav div.user .photo {
		width: 55px;
		height: 55px;
	}
	admin-login-route section .login-page {
		width: 100%;
		padding: 0 10px;
	}
	admin-section {
		width: 80%;
	}
	admin-section header h2 {
		width: 58%;
		font-size: 15px;
	}
	admin-section header div a {
		font-size: 15px;
	}
	admin-section header h2 i.fa {
		margin-right: 10px;
	}
	admin-section section .row-1 .card h4,
	admin-section section .row-2 .card h4 {
		font-size: 15px;
	}
	table td {
		font-size: 14px !important;
	}
	table td:before {
		font-size: 12px;
	}
	admin-section footer span b {
		font-size: 14px;
	}
	admin-section footer span {
		font-size: 13px;
	}
}

@media screen and (max-width: 375px) {
	admin-nav-route {
		width: 20%;
	}
	admin-nav-route nav div.nav-logo a {
		font-size: 13px;
	}
	admin-nav-route nav div.user .photo {
		width: 55px;
		height: 55px;
	}
	admin-nav-route nav div.user span {
		display: none;
	}
	admin-login-route section .login-page {
		width: 100%;
		padding: 0 10px;
	}
	admin-login-route section .login-page .card .footer {
		width: 90%;
	}
	admin-section {
		width: 80%;
	}
	admin-section header {
		padding: 10px;
	}
	admin-section header h2 {
		width: 58%;
		font-size: 14px;
		i.fa {
			margin-right: 10px;
		}
	}
	admin-section header div a {
		font-size: 14px;
	}
	admin-section section .row-1 .card h4,
	admin-section section .row-2 .card h4 {
		font-size: 16px;
	}
	admin-section section .row-1 .card .description,
	admin-section section .row-2 .card .description {
		font-size: 12px;
	}
	table td {
		font-size: 13px !important;
	}
	table td:before {
		font-size: 11px;
	}
	admin-confirm .response,
	admin-prompt .response {
		width: 65%;
	}
	admin-section footer span b {
		font-size: 14px;
	}
	admin-section footer span {
		font-size: 13px;
	}
}

@media screen and (max-width: 320px) {
	admin-nav-route nav div.nav-logo a {
		font-size: 12px;
	}
	admin-nav-route nav div.nav-logo span {
		font-size: 12px;
	}
	admin-section header {
		padding: 15px;
	}
	admin-nav-route nav div.user .photo {
		width: 31px;
		height: 31px;
	}
	admin-nav-route nav div.user span {
		display: none;
	}
	admin-section header h2 {
		width: 56%;
		font-size: 12px;
		i.fa {
			margin-right: 10px;
		}
	}
	admin-section header div a {
		font-size: 12px;
	}
	table td {
		font-size: 12px!important;
	}
	admin-confirm .response,
	admin-prompt .response {
		width: 65%;
	}
}
