<div class="ad-title">
	<left>
		<img-svg src="/img/frontal-truck.svg"></img-svg>
	</left>
	<right>
		<title>Mes véhicules</title>
		<subtitle>Ajouter un véhicule</subtitle>
	</right>
</div>
<formx class="ad" name="truckCtrl">
	<section class="dark">
		<label>Libellé unique du camion</label>
		<input type="text" placeholder="Ex : Camion 1" ng-model="$ctrl.truck.createData.name" required/>
	</section>
	<section>
		<big-label>Localisation</big-label>
		<label>Ville</label>
		<lg-city title="Ville" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.truck.createData.city"></lg-city>
	</section>
	<section class="dark">
		<big-label>Transport</big-label>
		<lg-select ng-model="$ctrl.truck.createData.transportCategory">
			<lg-option value="Camion"><i class="fa fa-truck" aria-hidden="true"></i><span>Camion</span></lg-option>
			<lg-option value="Avion"><i class="fa fa-plane" aria-hidden="true"></i><span>Avion</span></lg-option>
			<lg-option value="Bateau"><i class="fa fa-ship" aria-hidden="true"></i><span>Bateau</span></lg-option>
		</lg-select>

		<div ng-show="$ctrl.truck.createData.transportCategory === 'Camion'">
			<label>Type de camion</label>
			<input type="choice" options="{icon: $root.config.getTruckTypesIcon}" choices="$root.config.transportTruckTypes" title="Type de camion"
				placeholder="Ex : Benne, Bâché, etc." ng-model="$ctrl.truck.createData.transportTruckType" />
		</div>
		<div ng-show="$ctrl.truck.createData.transportCategory === 'Bateau'">
			<label>Type de bateau</label>
			<input type="choice" choices="$root.config.transportBoatTypes" title="Type de bateau" placeholder="Ex : Barge, Navire  Lo-Lo, etc."
				ng-model="$ctrl.truck.createData.transportBoatType" />
		</div>
		<div ng-show="$ctrl.truck.createData.transportCategory === 'Avion'">
			<label>Type d'avion</label>
			<input type="choice" choices="$root.config.transportPlaneTypes" title="Type d\'avion" placeholder="Ex : Cargo, Passagers, etc."
				ng-model="$ctrl.truck.createData.transportPlaneType" />
		</div>
		<label>Année du moyen de transport</label>
		<input type="choice" choices="$root.config.years" title="Année du camion" placeholder="Ex : 2005, 2006, 2007" ng-model="$ctrl.truck.createData.birthyear"
		/>
		<label>Insérer une photo</label>
		<lg-upload form-data="{suffix: '_ad' + $ctrl.loader.createData.imageId}" ng-model="$ctrl.loader.createData.image"></lg-upload>
	</section>
	<section>
		<big-label>Chargement</big-label>
		<label>Dimensions en mètre</label>
		<dimension ng-click="$ctrl.editDimension()">
			<div class="box no-zoom">
				<img-svg src="/img/truck/truck-width.svg"></img-svg>
			</div>
			<div class="box no-zoom">
				<img-svg src="/img/truck/truck-height.svg"></img-svg>
			</div>
			<div class="box no-zoom">
				<img-svg src="/img/truck/truck-depth.svg"></img-svg>
			</div>
		</dimension>
		<lg-dimension title="Dimensions du chargement" ng-model="$ctrl.truck.createData.dimension">
		</lg-dimension>
		<br/>
		<label>Volume max. (en m3)</label>
		<input type="num" placeholder="Volume max." ng-model="$ctrl.truck.createData.maxVolume" />
		<label>Poids max. (en tonne)</label>
		<input type="num" placeholder="Poids max." ng-model="$ctrl.truck.createData.maxWeight" />
	</section>
	<section class="dark">
		<lg-error error="$ctrl.truck.error"></lg-error>
		<button ng-click="$ctrl.truck.create();">Ajouter ce véhicule à ma flotte</button>
	</section>
</form>
