<div class="ad-title add-vehicle">
	<left>
		<img-svg src="/img/vehicle.svg"></img-svg>
		<i class="fa fa-plus" aria-hidden="true"></i>
	</left>
	<right>
		<title>Transporteur</title>
		<subtitle>Ajouter un véhicule</subtitle>
	</right>
</div>
<form class="ad" name="truckCtrl">
	<section class="dark">
		<label>Libellé unique du camion</label>
		<input type="text" placeholder="Ex : Camion 1" ng-model="$ctrl.truck.createData.name" required/>
	</section>
	<section>
		<big-label>Origine</big-label>
		<label>Pays</label>
		<input type="choice" choices="$root.config.countries" title="Pays d\'origine" placeholder="Ex : Algérie, Maroc, etc." ng-model="$ctrl.truck.createData.country"
		/>
		<label>Ville</label>
		<lg-city title="Ville" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.truck.createData.city"></lg-city>
	</section>
	<section class="dark">
		<big-label>Transport</big-label>
		<label>Type de transport</label>
		<input type="choice" choices="$root.config.transportCategories" title="Moyen de transport" placeholder="Ex : Camion, Bateau, etc."
			ng-model="$ctrl.loader.createData.transportCategory" />

		<div ng-show="$ctrl.loader.createData.transportCategory === 'Camion'">
			<label>Type de camion</label>
			<input type="choice" choices="$root.config.transportTruckTypes" title="Type de camion" placeholder="Ex : Benne, Bâché, etc."
				ng-model="$ctrl.loader.createData.transportTruckType" />
		</div>
		<div ng-show="$ctrl.loader.createData.transportCategory === 'Bateau'">
			<label>Type de bateau</label>
			<input type="choice" choices="$root.config.transportBoatTypes" title="Type de bateau" placeholder="Ex : Barge, Navire  Lo-Lo, etc."
				ng-model="$ctrl.loader.createData.transportBoatType" />
		</div>
		<div ng-show="$ctrl.loader.createData.transportCategory === 'Avion'">
			<label>Type d'avion</label>
			<input type="choice" choices="$root.config.transportPlaneTypes" title="Type d\'avion" placeholder="Ex : Cargo, Passagers, etc."
				ng-model="$ctrl.loader.createData.transportPlaneType" />
		</div>
	</section>
	<section>
		<big-label>Chargement</big-label>
		<label>Volume max. (en m3)</label>
		<input type="num" placeholder="Volume max." ng-model="$ctrl.truck.createData.maxVolume" />
		<label>Poids max. (en tonne)</label>
		<input type="num" placeholder="Poids max." ng-model="$ctrl.truck.createData.maxWeight" />
		<label>Dimension en mètre</label>
		<truck-dim>
			<dimension>
				<div>
					<img class="truck" src="img/hauteur.png" />
					<p>Hauteur</p>
					<input type="num" placeholder="H." vertical ng-model="$ctrl.truck.createData.height" options="{format: 2, step: 0.1}" />
				</div>
				<div>
					<img class="truck" src="img/profondeur.png" />
					<p>Profondeur</p>
					<input type="num" placeholder="P." vertical ng-model="$ctrl.truck.createData.depth" options="{format: 2, step: 0.1}" />
				</div>
				<div>
					<img class="truck" src="img/largeur.png" />
					<p>Largeur</p>
					<input type="num" placeholder="L." vertical ng-model="$ctrl.truck.createData.width" options="{format: 2, step: 0.1}" />
				</div>
			</dimension>
		</truck-dim>
		<label>Année du camion</label>
		<input type="choice" choices="$root.config.years" title="Année du camion" placeholder="Ex : 2005, 2006, 2007" ng-model="$ctrl.truck.createData.birthyear"
		/>
		<label>Insérer une photo</label>
		<lg-upload form-data="{suffix: '_ad123'}"></lg-upload>
	</section>
	<section class="dark">
		<lg-error error="$ctrl.truck.error"></lg-error>
		<button ng-click="$ctrl.truck.create();">Ajouter ce véhicule à ma flotte</button>
	</section>
</form>
