<div class="ad-title">
	<left>
		<i class="fa fa-tag" aria-hidden="true"></i>
	</left>
	<right>
		<title>Proposition</title>
		<subtitle ng-show="$ctrl.proposal.createData.adType === 'loader'">au chargeur</subtitle>
		<subtitle ng-show="$ctrl.proposal.createData.adType === 'carrier'">au transporteur</subtitle>
	</right>
</div>
<formx class="ad" name="proposalCtrl">
	<img-ad>
		<img ng-show="$ctrl.proposal.createData.imageUrl" src="{{$ctrl.proposal.createData.imageUrl}}">
	</img-ad>
	<section>
		<label>Titre de l'annonce</label>
		<input type="text" placeholder="Titre de l'annonce" ng-model="$ctrl.proposal.createData.titleAd" />
		<label>Nom</label>
		<input type="text" placeholder="Nom" ng-model="$ctrl.proposal.createData.name" />
		<label>Email</label>
		<input type="text" placeholder="Email" ng-model="$ctrl.proposal.createData.email" />
		<label>Message</label>
		<textarea ng-model="$ctrl.proposal.createData.message"></textarea>
	</section>
</formx>
<formx class="ad">
	<section class="dark">
		<lg-error error="$ctrl.proposal.error"></lg-error>
		<button ng-click="$ctrl.proposal.create();">Envoyez votre proposition</button>
	</section>
</formx>
