<div class="ad-title">
	<left>
		<i class="fa fa-tag" aria-hidden="true"></i>
	</left>
	<right>
		<title>Proposition</title>
		<subtitle ng-show="$ctrl.proposal.createData.adType === 'loader'">au chargeur</subtitle>
		<subtitle ng-show="$ctrl.proposal.createData.adType === 'carrier'">au transporteur</subtitle>
	</right>
</div>
<form class="ad" name="proposalCtrl">
	<img-ad>
		<img ng-show="$ctrl.proposal.createData.imageUrl" src="{{$ctrl.proposal.createData.imageUrl}}">
	</img-ad>
	<section>
		<label>Titre de l'annonce</label>
		<div>
			<input type="text" name="titleAd" placeholder="Titre de l'annonce" ng-model="$ctrl.proposal.createData.titleAd" required />
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(proposalCtrl.titleAd)" class="fa fa-check" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(proposalCtrl.titleAd)">
					<span ng-show="proposalCtrl.titleAd.$error.required">Le titre de l'annonce est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</div>

		<label>Nom</label>
		<div>
			<input type="text" name="name" placeholder="Nom" ng-model="$ctrl.proposal.createData.name" required />
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(proposalCtrl.name)" class="fa fa-check" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(proposalCtrl.name)">
					<span ng-show="proposalCtrl.name.$error.required">Le nom est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</div>

		<label>Email</label>
		<div>
			<input type="text" name="email" placeholder="Email" ng-model="$ctrl.proposal.createData.email" required />
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(proposalCtrl.email)" class="fa fa-check" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(proposalCtrl.email)">
					<span ng-show="proposalCtrl.email.$error.required">L'email est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</div>

		<label>Message</label>
		<div>
			<textarea name="message" ng-model="$ctrl.proposal.createData.message" required></textarea>
			<message-form-validator>
				<error-message ng-show="$ctrl.fv.isError(proposalCtrl.message)">
					<span ng-show="proposalCtrl.message.$error.required">Le message est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</div>
	</section>
	<section class="dark">
		<lg-error error="$ctrl.proposal.error"></lg-error>
		<button ng-disabled="proposalCtrl.$invalid" id="confirm-create-proposal" ng-click="$ctrl.proposal.create();">Envoyez votre proposition</button>
	</section>
</form>
