<div class="ad-title">
	<left>
		<i class="fa fa-tag" aria-hidden="true"></i>
	</left>
	<right>
		<title>Proposition</title>
		<subtitle ng-show="$ctrl.proposal.current.ad_type === 'loader'">au chargeur</subtitle>
		<subtitle ng-show="$ctrl.proposal.current.ad_type === 'carrier'">au transporteur</subtitle>
	</right>
</div>
<img-ad>
	<img-svg ng-show="$ctrl.proposal.current.ad_type === 'loader' && !$ctrl.proposal.current.content.imageUrl" src="/img/loader-default.svg"></img-svg>
	<img ng-show="$ctrl.proposal.current.ad_type === 'loader' && $ctrl.proposal.current.content.imageUrl" src="{{$ctrl.proposal.current.content.imageUrl}}">
	<img-svg ng-show="$ctrl.proposal.current.ad_type === 'carrier' && !$ctrl.proposal.current.content.imageUrl" src="/img/truck-default.svg"></img-svg>
	<img ng-show="$ctrl.proposal.current.ad_type === 'carrier' && $ctrl.proposal.current.content.imageUrl" src="{{$ctrl.proposal.current.content.imageUrl}}">
</img-ad>
<form name="formCtrl" ng-submit="$ctrl.fv.check(formCtrl) && $ctrl.proposal.update()" class="ad" novalidate>
	<section>
		<label>Titre de l'annonce</label>
		<div>
			<input type="text" name="titleAd" placeholder="Titre de l'annonce" ng-model="$ctrl.proposal.updateData.titleAd" required />
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.titleAd)" class="fa fa-check" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.titleAd)">
					<span ng-show="formCtrl.titleAd.$error.required">Le titre de l'annonce est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</div>

		<label>Nom</label>
		<div>
			<input type="text" name="name" placeholder="Nom" ng-model="$ctrl.proposal.updateData.name" required />
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.name)" class="fa fa-check" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.name)">
					<span ng-show="formCtrl.name.$error.required">Le nom est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</div>

		<label>Email</label>
		<div>
			<input type="text" name="email" placeholder="Email" ng-model="$ctrl.proposal.updateData.email" required />
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.email)" class="fa fa-check" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.email)">
					<span ng-show="formCtrl.email.$error.required">L'email est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</div>

		<label>Message</label>
		<div>
			<textarea name="message" ng-model="$ctrl.proposal.updateData.message" required></textarea>
			<message-form-validator>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.message)">
					<span ng-show="formCtrl.message.$error.required">Le message est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</div>
	</section>
	<section class="dark">
		<lg-error error="$ctrl.proposal.error"></lg-error>
		<button type="submit">Mettre à jour</button>
	</section>
</form>
