@import '../css/color';
$headCalendarColor: $mediumGray;
$monthColor: $fontColor;
lg-datetime {
    position: relative;
    display: block;
    my-input.filled {
        color: black;
    }
    .icon {
        position: absolute;
        top: 10px;
        right: 19px;
        font-size: 25px;
        i.fa {
            font-size: 25px;
            line-height: 18px;
            color: $selectedColor;
        }
    }
}

lg-datetime-content {
    display: block;
    height: 0px;
    width: 0px;
    my-head {
        z-index: 102;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
    }
    retroaction-msg {
        z-index: 102;
        display: block;
        position: fixed;
        top: 59px;
		left: 0px;
        width: 100%;
        text-align: center;
        background-color: $headCalendarColor;
        padding: 5px;
    }
    month-list {
        z-index: 101;
        display: block;
        position: fixed;
        width: 100%;
		height: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        top: 59px;
		left: 0px;
        padding-bottom: 200px;
		background-color: white;
    }
}

lg-dt-month {
    text-align: center;
    padding: 0px 0px 10px;
    background: white;
    border-bottom: 1px solid $gray;
    header {
        position: relative;
    }
    h2 {
        text-transform: uppercase;
        font-size: 22px;
        margin: 20px 0px 0px;
        color: $monthColor;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        margin-bottom: 20px;
        td {
            border: 2px solid transparent;
            border-radius: 84%;
            display: inline-block;
            line-height: 38px;
            text-align: center;
            width: 14%;
        }
        thead {
            font-weight: 600;
            text-transform: uppercase;
            td {
                color: $gray;
                font-size: 17px;
                line-height: 22px;
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid $borderColor;
                font-size: 16px;
            }
            td {
                font-weight: 400;
            }
            td.week-end {
                color: $fontColor;
                opacity: 0.6;
            }
            td.prev-month,
            td.next-month {
                color: $littleLightGray;
            }
            td.selected {
                background-color: $selectedColor;
                color: white;
            }
            td.week-end.selected {
                opacity: 1;
            }
            td.next-month.selected,
            td.prev-month.selected {
                background-color: transparent;
                border: 1px solid $selectedColor;
                color: $littleGray;
            }
            td.disabled {
                color: $disabledFontColor;
            }
            td.current-day {
                background: $selectedColor;
                color: blue;
            }
        }
    }
}

lg-dt-hour {
	z-index: 102;
    display: block;
    position: fixed;
	left: 0px;
    bottom: 0px;
    width: 100%;
    height: 70px;
    background-color: $headCalendarColor;
    border-top: 1px solid $veryDarkBorderColor;
    text-align: center;
	
    p {
        display: block;
        font-size: 15px;
    }
    hours {
        display: block;
        width: 100%;
		overflow-x: scroll;
        -webkit-overflow-scrolling: auto;
        line {
            display: table;
            table-layout: fixed;
            width: 500%;
            position: relative;
            top: 0px;
            left: 0px;
			padding: 0% 70%;
            span {
                display: table-cell;
                padding: 10px;
            }
            .selected {
                color: white;
            }
        }
    }
    selector {
        position: absolute;
        bottom: 12px;
        left: 44%;
        width: 14%;
        height: 33px;
        border-radius: 25%;
        background-color: $selectedColor;
    }
}