@import '../css/color';
$headCalendarColor: $mediumGray;
$monthColor: $fontColor;
lg-datetime {
    position: relative;
    display: block;
    my-input.filled {
        color: black;
    }
    .icon {
        position: absolute;
        top: 10px;
        right: 19px;
        font-size: 25px;
        i.fa {
            font-size: 25px;
            line-height: 18px;
            color: $selectedColor;
        }
    }
}

lg-datetime-content {
    display: block;
    height: 0px;
    width: 0px;
    my-head {
        z-index: 102;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
    }
    retroaction-msg {
        z-index: 102;
        display: block;
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
        color: $selectedColorCmpl;
        background-color: $selectedColor;
        padding: 5px;
    }
    month-list {
        z-index: 101;
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        top: 59px;
        left: 0px;
        padding-bottom: 200px;
        background-color: white;
    }
}

lg-dt-month {
    text-align: center;
    padding: 0px 0px 10px;
    background: white;
    border-bottom: 1px solid $gray;
    header {
        position: relative;
    }
    h2 {
        text-transform: uppercase;
        font-size: 22px;
        margin: 20px 0px 0px;
        color: $monthColor;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        margin-bottom: 20px;
        td {
            border: 2px solid transparent;
            display: inline-block;
            line-height: 38px;
            text-align: center;
            width: 14%;
            span {
                display: block;
                line-height: 38px;
                height: 100%;
            }
        }
        thead {
            font-weight: 600;
            text-transform: uppercase;
            td {
                color: $gray;
                font-size: 17px;
                line-height: 22px;
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid $borderColor;
                font-size: 16px;
                td {
                    font-weight: 400;
                }
                td.week-end span {
                    color: $transparentFontColor;
                }
                td.other-month {
                    opacity: 0;
                }
                td.selected {
                    span {
                        border-radius: 84%;
                        background-color: $selectedColor;
                        color: white;
                    }
                }
                td.week-end.selected {
                    opacity: 1;
                }
                td.other-month.selected {
                    background-color: transparent;
                    border: 1px solid $selectedColor;
                    color: $littleGray;
                }
                td.disabled span {
                    color: $disabledFontColor;
                }
                td.current-day {
                    background: $selectedColor;
                    color: blue;
                }
                td.interval {
                    background-color: $transparentSelectedColor;
                }
                td.other-month.interval {
                    background-color: transparent;
                    border: 1px solid $transparentSelectedColor;
                    color: $littleGray;
                }
                td.interval-start {
                    border-radius: 84% 0% 0% 84%;
                    background-color: $transparentSelectedColor;
                }
                td.interval.selected {
                    border-radius: 0% 84% 84% 0%;
                    background-color: $transparentSelectedColor;
                }
                td.interval-start.selected {
                    border-radius: 84% 84% 84% 84%;
                    background-color: $transparentSelectedColor;
                }
            }
        }
    }
}

lg-dt-hour {
    z-index: 102;
    display: block;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 125px;
    background-color: $headCalendarColor;
    border-top: 1px solid $veryDarkBorderColor;
    text-align: center;
    p {
        display: block;
        font-size: 15px;
    }
    .hour {
        position: relative;
        height: 100%;
        hours {
            display: block;
            width: 100%;
            overflow-x: scroll;
            -webkit-overflow-scrolling: auto;
            line {
                display: block;
                height: 99px;
                position: relative;
                top: -19px;
                left: 0px;
                padding: 0%;
                white-space: nowrap;
                // background-color: tomato;
                span {
                    display: inline-block;
                    width: 13%;
                    height: 100%;
                    padding: 0px;
                    padding-top: 29px;
                    padding-bottom: 10px;
                    padding-left: 3%;
                    padding-right: 3%;
                    font-weight: bold;
                    font-size: 18px;
                    // background-color: green;
                }
                span.padding {
                    width: 43%;
                }
                .selected {
                    color: white;
                }
            }
        }
        selector {
            position: absolute;
            bottom: 66px;
            left: 44%;
            width: 14%;
            height: 33px;
            border-radius: 25%;
            background-color: $selectedColor;
        }
    }
}