<my-head>
	<head-left ng-show="$root.isBackPresent">
		<i ng-click="$ctrl.off() || $root.back();" class="fa fa-chevron-left" aria-hidden="true"></i>
	</head-left>
	<head-left ng-hide="$root.isBackPresent">
	</head-left>
	<head-center ng-show="!$ctrl.connection.user">
		<a ng-click="$ctrl.off() || $root.goToState('home')">
			<!--<img-svg src="/img/logo.svg"></img-svg>-->
			<span>iGoroute</span>
		</a>
	</head-center>
	<head-center class="connected" ng-show="$ctrl.connection.user">
		<a ng-click="$ctrl.off()|| $root.goToState('home')">
			<!--<img-svg src="/img/logo.svg"></img-svg>-->
			<span>iGoroute</span>
			<br>
			<span ng-show="$ctrl.connection.user" class="user-identity">{{$ctrl.connection.user.content.firstname}} {{$ctrl.connection.user.content.lastname | uppercase }}</span>
		</a>
	</head-center>
	<head-right>
		<menu-bar ng-click="$ctrl.toggle();" class="fa fa-bars" aria-hidden="true"></menu-bar>
	</head-right>
</my-head>

<lg-menu-content>
	<div ng-hide="$ctrl.connection.user">
		<a ng-click="$ctrl.chooseLanguage('fr');" class="border-top">
			<span class="lang">Français</span>
			<i ng-if="$ctrl.lgI18n.current === 'fr'" class="fa fa-check" aria-hidden="true"></i>
		</a>
		<a ng-click="$ctrl.chooseLanguage('ar');">
			<span class="lang">Arabe</span>
			<i ng-if="$ctrl.lgI18n.current === 'ar'" class="fa fa-check" aria-hidden="true"></i>
		</a>
		<br>
		<br>
		<a ng-click="$ctrl.toggle();" ui-sref="connection:create" class="border-top">
			<i class="fa fa-sign-in" aria-hidden="true"></i>
			<span>Se connecter</span>
		</a>
		<!-- <a ng-click="$ctrl.toggle();" ui-sref="tests"><i class="fa fa-comments" aria-hidden="true"></i> <p>Tests</p></a> -->
	</div>
	<div ng-show="$ctrl.connection.user">
		<a id="my-proposals" ng-click="$ctrl.toggle();" ui-sref="user:proposals({login: $ctrl.connection.user.content.login})">
			<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
			<span>Mes propositions</span>
			<span ng-show="$ctrl.myProposals.length > 0">({{$ctrl.myProposals.length}})</span>
		</a>
		<a id="pr-my-ads-link" ng-click="$ctrl.toggle();" ui-sref="user:ads({login: $ctrl.connection.user.content.login})">
			<i class="fa fa-files-o" aria-hidden="true"></i>
			<span>Mes annonces</span>
			<span ng-show="$ctrl.myCarriers.length + $ctrl.myLoaders.length > 0">({{$ctrl.myCarriers.length + $ctrl.myLoaders.length}})</span>
		</a>
		<a ng-click="$ctrl.toggle();" ui-sref="user:retrieve">
			<i class="fa fa-user-o" aria-hidden="true"></i>
			<span>Mon profil</span>
		</a>
		<a ng-click="$ctrl.toggle();" ui-sref="truck:list({login: $ctrl.connection.user.content.login})">
			<i class="fa fa-truck" aria-hidden="true"></i>
			<span>Mes véhicules</span>
		</a>
		<br>
		<br>
		<a ng-click="$ctrl.chooseLanguage('fr');" class="border-top">
			<span class="lang">Français</span>
			<i ng-if="$ctrl.lgI18n.current === 'fr'" class="fa fa-check" aria-hidden="true"></i>
		</a>
		<a ng-click="$ctrl.chooseLanguage('ar');">
			<span class="lang">Arabe</span>
			<i ng-if="$ctrl.lgI18n.current === 'ar'" class="fa fa-check" aria-hidden="true"></i>
		</a>
		<br>
		<br>
		<a ng-click="$ctrl.toggle();" ui-sref="connection:delete" class="border-top">
			<i class="fa fa-sign-out" aria-hidden="true"></i>
			<span>Se déconnecter</span>
		</a>
		<!-- <a ng-click="$ctrl.toggle();" ui-sref="tests"><i class="fa fa-comments" aria-hidden="true"></i> <p>Tests</p></a> -->
	</div>
</lg-menu-content>
