@import '../../../../css/color';
$squareColor: hsla(213, 87%, 91%, 1);
lg-home-route {
	display: block;
	margin: 0px;
	padding: 20px 0px 30px;
	logo {
		img-svg {
			display: block;
			text-align: center;
			svg {
				width: 65px;
				height: 65px;
				fill: $fontColor;
			}
		}
		title {
			font-size: 55px;
		}
	}
	h1 {
		font-size: 20px;
		text-align: left;
		margin: 5px 13px;
		border-bottom: 1px solid $borderColor;
		padding: 0px 0px 5px;
	}
	.tagline {
		text-align: center;
		font-size: 17px;
		margin-top: 0px;
		margin-bottom: 30px;
	}
	.square-parent {
		width: 100%;
		font-size: 0px;
		margin: 0px;
		padding: 0px 5px;
		.square {
			display: inline-block;
			width: 50%;
			margin: 0px;
			padding: 0px;
			font-size: 16px;
			text-align: center;
			>div {
				display: block;
				width: 100%;
				height: 100%;
				margin: 0px;
				padding: 7px;
				a {
					display: block;
					width: 100%;
					height: 100%;
					background: $squareColor;
					border-radius: 5px;
					margin: 0px;
					padding: 20px 0px 15px;
					border: 1px solid #ededed;
					svg {
						width: 65px;
						height: 65px;
						fill: $fontColor;
					}
					p {
						margin: 0px;
						padding: 0px;
					}
				}
				a.carrier {
					background-color: $carrierColor;
				}
				a.loader {
					background-color: $loaderColor;
				}
			}
		}
	}
}
