@import '../../../css/color';

lg-admin-nav-route {
	display: table;
	position: absolute;
	width: 100%;
	top: 0px;
	z-index: 20;
	nav {
		display: table;
		width: 100%;
		min-height: 55px;
		background-color: #222;
		div.nav-logo {
			display: table-cell;
			vertical-align: middle;
			width: 50%;
			img {
				width: 70px;
				margin: 20px 50px;
			}
			a {
				margin-left: 50px;
				color: #8dc448;
				font-size: 23px;
				font-weight: 500;
			}
			a:hover {
				color: #8dc448;
			}
		}
		div.nav-bar {
			display: table-cell;
			vertical-align: middle;
			width: 50%;
			ul {
				display: block;
				width: 100%;
				li {
					display: table-cell;
					vertical-align: middle;
					a {
						color: #9d9d9d;
						padding: 14px 15px;
						font-size: 15px;
					}
					a:hover {
						color: #8dc448;
					}
					i.fa {
						font-size: 18px;
						color: white;
					}
					i.fa:hover {
						color: #8dc448;
					}
				}
			}
		}
	}
}

lg-admin-route {
	section {
		display: table;
		width: 100%;
		min-height: 750px;
		position: relative;
		background-color: #fff;
		top: -3px;
		z-index: 20;
		.admin-message {
			display: table-cell;
			vertical-align: middle;
			margin: 0 auto;
			width: 80%;
			text-align: center;
			i.fa {
				font-size: 70px;
				margin-bottom: 20px;
			}
			span {
				display: inline-block;
				width: 100%;
				font-size: 40px;
				text-align: center;
			}
		}
	}
}

lg-admin-users-route,
lg-admin-carriers-route,
lg-admin-loaders-route,
lg-admin-trucks-route,
lg-admin-proposals-route {
	display: table;
	position: absolute;
	width: 100%;
	top: 0px;
	z-index: 25;
	section {
		display: block;
		min-height: 750px;
		position: relative;
		background-color: white;
		top: 25px;
		z-index: 25;
		div.container {
			display: block;
			width: 80%;
			margin: 30px auto;
			h2 {
				font-size: 30px;
				padding: 60px 30px;
				text-align: left;
				i.fa {
					margin-right: 25px;
				}
			}
			table {
				width: 100%;
				max-width: 100%;
				margin-bottom: 20px;
				border-spacing: 0;
				border-collapse: collapse;
				tbody>tr:nth-of-type(odd) {
					background-color: #f9f9f9;
				}
				thead {
					th {
						padding: 10px;
						border-bottom: 2px solid #ddd;
					}
				}
				tbody {
					th,
					td {
						padding: 8px;
						line-height: 1.42857143;
						vertical-align: top;
						border-top: 1px solid #ddd;
					}
				}
			}
		}
	}
}
