<my-input ng-show="$ctrl.dimension" ng-click="$ctrl.start()">
	<span>
		Largeur
		<br/>
		<b>{{$ctrl.dimension.width | distance }}</b>
	</span>
	<span>
		Hauteur
		<br/>
		<b>{{$ctrl.dimension.height | distance }}</b>
	</span>
	<span>
		Profondeur
		<br/>
		<b>{{$ctrl.dimension.depth | distance }}</b>
	</span>
</my-input>
<my-input ng-hide="$ctrl.dimension" ng-click="$ctrl.start()">
	<span>
		Hauteur
	</span>
	<span>
		Largeur
	</span>
	<span>
		Profondeur
	</span>
</my-input>
<span>
	<label>Volume résultant : <b>{{$ctrl.volumeStr}}</b></label>
</span>
<lg-dimension-edit ng-show="$ctrl.state === 'editState'">
	<my-head>
		<head-left ng-click="$ctrl.cancel()">
			<i class="fa fa-times" aria-hidden="true"></i>
		</head-left>
		<head-center>
			<p>{{$ctrl.title}}</p>
		</head-center>
		<head-right ng-show="$ctrl.dimension" ng-click="$ctrl.stop()">
			<i class="fa fa-check" aria-hidden="true"></i>
		</head-right>
		<head-right ng-hide="$ctrl.dimension">
		</head-right>
	</my-head>
	<my-body>
		<my-canvas>
			<img-svg compile src="/img/box/truck-angular.svg"></img-svg>
		</my-canvas>
		<dimension>
			<label>Largeur (cm)
				<input type="number" pattern="[0-9]*" ng-model="$ctrl.width" ng-model-options="{ updateOn: 'blur' }" />
			</label>
			<label>Hauteur (cm)
				<input type="number" pattern="[0-9]*" ng-model="$ctrl.height" ng-model-options="{ updateOn: 'blur' }" />
			</label>
			<label>Profondeur (cm)
				<input type="number" pattern="[0-9]*" ng-model="$ctrl.depth" ng-model-options="{ updateOn: 'blur' }" />
			</label>
		</dimension>
		<volume>
			Volume résultant : {{$ctrl.volume}} m3
		</volume>
		<settings>
			<my-table>
				<span>
					<lg-slider ng-model="$ctrl.width" min="10" max="230" step="10" options="{}"></lg-slider>
				</span>
				<span>
					<lg-slider ng-model="$ctrl.height" min="10" max="230" step="10" options="{}"></lg-slider>
				</span>
				<span>
					<lg-slider ng-model="$ctrl.depth" min="10" max="1190" step="10"></lg-slider>
				</span>
			</my-table>
		</settings>
	</my-body>
	</lg-datetime-edit>
