@import '../../../css/color';
lg-user-forgotten-password-route {
	form {
		.ng-invalid.ng-touched {
			background-color: hsl(0, 100%, 97%);
			border-color: hsl(0, 100%, 70%);
		}
		.email {
			display: block;
			position: absolute;
			top: 47%;
			left: 88%;
			font-size: 25px;
			color: green;
		}
	}
}
