<my-input id="lgChoiceInput{{$ctrl.id}}" ng-click="$ctrl.start()" ng-bind-html="$ctrl.currentValue"></my-input>
<icon lg-bind-html-compile="$ctrl.getIcon($ctrl.currentValue)"></icon>
<lg-choice ng-show="$ctrl.showLgChoice">
	<my-head>
		<head-left ng-click="$ctrl.geoloc()">
			<i ng-show="$ctrl.defaultsOptions.place" class="fa fa-location-arrow" aria-hidden="true"></i>
		</head-left>
		<head-center>
			<p>{{$ctrl.title}}</p>
		</head-center>
		<head-right ng-hide="$ctrl.isMandatory" ng-click="$ctrl.stop()" class="menu">
			<i class="fa fa-times" aria-hidden="true"></i>
		</head-right>
		<head-right ng-show="$ctrl.isMandatory" class="menu">
		</head-right>
	</my-head>
	<div class="input-auto">
		<input type="text" placeholder="{{$ctrl.placeholder}}" ng-model="$ctrl.myInput" ng-model-options="{ debounce: 200 }"/>
	</div>
	<div class="list">
		<p class="preselected" ng-click="$ctrl.stop()" ng-show="$ctrl.ngModel.$modelValue !== '' && $ctrl.ngModel.$modelValue !== undefined">
			<icon><i class="fa fa-check" aria-hidden="true"></i></icon><span ng-bind-html="$ctrl.getLabel($ctrl.ngModel.$modelValue)"></span>
		</p>
		<p ng-click="$ctrl.update(choice)" ng-repeat="choice in $ctrl.myChoices | filter: $ctrl.myFilter | limitTo:20" >
			<icon lg-bind-html-compile="$ctrl.getIcon(choice)"></icon><span ng-bind-html="$ctrl.getLabel(choice)"></span>
		</p>
	</div>
</lg-choice>