<div>
	<state ng-hide="$ctrl.file">
		<my-input empty ng-hide="$ctrl.active">
			<div>
				<i class="fa fa-camera" aria-hidden="true"></i>
				<span> Insérer une photo</span>
			</div>
			<input name="myFile" accept="image/*" type="file">
		</my-input>
		<my-input active ng-show="$ctrl.active">
			<span> Chargement...</span>
			<span class="btn-remove" cancel ng-click="$ctrl.cancel()"><i class="fa fa-times" aria-hidden="true"></i> Annuler</span>			
		</my-input>
		<progress-bar ng-show="$ctrl.active">
			<lg-progress ng-style="{width: $ctrl.progress + '%'}">
			</lg-progress>
			<remaining class="progress-extended">&nbsp;</remaining>
		</progress-bar>
	</state>
	<state ng-show="$ctrl.file.thumbnailUrl">
		<my-input loaded>
			<img ng-click="$ctrl.openOverlay()" ng-src="{{$ctrl.file.thumbnailUrl}}">
			<span class="btn-remove" ng-show="$ctrl.file.$destroy" ng-click="$ctrl.file.$destroy();"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</span>
		</my-input>
	</state>
	<state ng-show="$ctrl.file.error">
		<my-input>
			<error-message ng-click="$ctrl.file.reset();"> {{$ctrl.file.error}}</error-message>
		</my-input>
	</state>
</div>
<img-overlay ng-click="$ctrl.closeOverlay()">
	<img ng-click="$ctrl.closeOverlay()" ng-src="{{$ctrl.file.url}}">
</img-overlay>
