@import '../css/color';
summary {
    padding: 5px;
    div {
        display: block;
        width: 100%;
        ul {
            display: block;
            width: 100%;
            background-color: white;
            li {
                display: block;
                width: 100%;
                a {
                    display: inline-block;
                    width: 100%;
                    padding: 20px;
                    font-size: 20px;
                    border-bottom: 1px solid $borderColor;
                    span {
                        color: white;
                    }
                    i {
                        margin-left: 33%;
                    }
                }
            }
            li.active {
                background-color: $lightGreen;
                a {
                    color: white;
                    i {
                        color: white;
                    }
                }
            }
            li.disabled {
                opacity: 0.2;
                background-color: $gray;
            }
            li.done {
                background-color: white;
                span {
                    color: $fontColor;
                }
            }
        }
    }
}

no-vehicle {
    display: block;
    padding: 20px 10px;
    text-align: center;
    span {
        display: block;
        width: 100%;
        font-size: 23px;
        text-align: center;
        margin: 30px 0;
        font-weight: bold;
    }
}

at-list-one-vehicle {
    display: block;
    padding: 20px 10px;
    text-align: center;
    span {
        display: block;
        width: 100%;
        font-size: 23px;
        text-align: center;
        margin: 30px 0;
        font-weight: bold;
    }
    list {
        display: block;
        margin: 0px;
        padding: 0px;
        width: 100%;
        item {
            display: table;
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;
            margin: 1px 0px 0px;
            padding: 0px;
            background-color: white;
            border: none;
            left,
            right {
                display: table-cell;
                margin: 0px;
                padding: 0px;
                vertical-align: middle;
                img {
                    display: block;
                    height: 60px;
                    margin: 0px;
                    padding: 0px;
                }
                span {
                    margin: 0px;
                    padding: 0px;
                    font-size: 15px;
                }
            }
            left {
                width: 100px;
            }
        }
    }
}

trajet {
	display: block;
	width: 100%;
	padding: 5px;
    .way {
        display: block;
        width: 100%;
        background-color: white;
        li {
            display: inline-block;
            width: 100%;
            padding: 20px;
            font-size: 20px;
            border-bottom: 1px solid $borderColor;
        }
    }
}
