@import '../css/color';
summary {
    padding: 5px;
    div {
        display: block;
        width: 100%;
        ul {
            display: block;
            width: 100%;
            background-color: white;
            li {
                display: block;
                width: 100%;
                a {
                    display: inline-block;
                    width: 100%;
                    padding: 20px;
                    font-size: 20px;
                    border-bottom: 1px solid $borderColor;
                    container {
                        display: block;
                        width: 100%;
                        num-step {
                            display: inline-block;
                            width: 10%;
                            font-size: 20px;
                        }
                        span {
                            display: inline-block;
                            width: 77%;
                            font-size: 20px;
                        }
                        i {
                            display: inline-block;
                            width: 10%;
                            font-size: 20px;
                            text-align: right;
                        }
                    }
                }
            }
            li.active {
                background-color: $lightGreen;
                a {
                    num-step,
                    span,
                    i {
                        color: white;
                    }
                }
            }
            li.disabled {
                opacity: 0.2;
                background-color: $gray;
            }
            li.done {
                background-color: white;
                span {
                    color: $fontColor;
                }
            }
        }
    }
}

no-vehicle {
    display: block;
    padding: 20px 10px;
    text-align: center;
    span {
        display: block;
        width: 100%;
        font-size: 27px;
        text-align: center;
        margin: 30px 0;
        font-weight: bold;
    }
}

at-list-one-vehicle {
    display: block;
    padding: 15px 5px;
    text-align: center;
    >span {
        display: block;
        width: 100%;
        font-size: 27px;
        text-align: center;
        margin: 0px 0px 30px;
        font-weight: bold;
    }
    list {
        display: block;
        margin: 0px;
        padding: 0px;
        width: 100%;
        item {
            display: table;
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;
            margin: 0px 0px 3px;
            padding: 0px;
            background-color: white;
            border: none;
            left,
            right {
                display: table-cell;
                margin: 0px;
                padding: 0px;
                vertical-align: middle;
                h2 {
                    font-size: 16px;
                    text-align: left;
                }
                img {
                    display: block;
                    height: 60px;
                    margin: 0px;
                    padding: 0px;
                }
                span {
					display: block;
					width: 100%;
                    margin: 0px;
                    padding: 0px;
                    font-size: 13px;
                    text-align: left;
                }
            }
            left {
                width: 27%;
            }
            right {
                padding: 0px 10px;
            }
        }
    }
}

trajet {
    display: block;
    width: 100%;
    padding: 5px;
    .way {
        display: block;
        width: 100%;
        li {
            display: inline-block;
            width: 100%;
            padding: 15px;
            font-size: 20px;
            border-bottom: 1px solid $borderColor;
            background-color: white;
            availability {
                display: table;
                width: 100%;
                vertical-align: middle;
                font-size: 18px;
                span {
                    display: table-cell;
                    vertical-align: middle;
                }
                i {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
}

carrier-list {
	width: 100%;
    display: block;
    padding: 0px 3px;
    ad-block {
        width: 100%;
        font-size: 0px;
        border-bottom: 1px solid $lightGray;
        a {
            width: 100%;
            display: block;
            height: inherit;
			margin: 3px 0px;
            .img-fix {
                display: inline-block;
                width: 30%;
                img {
					display: block;
                    width: 100%;
                }
            }
            div {
                background-color: white;
                display: block;
                width: 100%;
				vertical-align: middle;
                .details {
					display: inline-block;
                    width: 70%;
                    padding: 0px 10px;
                    font-size: 13px;
                    text-align: left;
                    background-color: white;
                    h2 {
                        text-align: left;
                        font-size: 16px;
						margin: 0px 0px 5px;
                    }
                    div {
                        display: table;
                        table-layout: fixed;
                        width: 100%;
                        .detail-left {
                            display: table-cell;
                            width: 100%;
                        }
                        .detail-right {
                            display: table-cell;
                            width: 50%;
                            text-align: right;
                            price {
                                display: block;
								color: $lightGreen;
                            }
                        }
                    }
                    p {
                        color: $darkBlue;
                        font-size: 17px;
                    }
                }
            }
        }
    }
}
