<section class="filter">
	<div class="qty-ad">
		<span>Aucun véhicule dans votre flotte.</span>
		<span ng-show="$ctrl.filter.carrier.length > 1" ng-init="$ctrl.truck.trucks">{{$ctrl.truck.trucks.length}} véhicules dans votre flotte</span>
		<span ng-show="$ctrl.filter.carrier.length === 1" ng-init="$ctrl.truck.trucks">{{$ctrl.truck.trucks.length}} véhicule dans votre flotte</span>
	</div>
	<div ng-click="$ctrl.toggle()">
		<i class="fa fa-filter" aria-hidden="true"></i>
	</div>
	<div ng-click="$ctrl.toggle()">
		<i class="fa fa-calendar" aria-hidden="true"></i>
	</div>
</section>

<lg-filter-content class="lg-filter-content">
	<formx class="ad" name="truckCtrl">
    <section class="dark">
        <label>Mots-clés</label>
		<input name="title" type="text" placeholder="Ex: Chargement de 12 veaux" ng-model="$ctrl.loader.createData.title" />
    </section>
    <section class="dark">
        <big-label>Transport</big-label>
        <lg-select name="transportCategory" ng-model="$ctrl.truck.createData.transportCategory">
            <lg-option value="Camion"><i class="fa fa-truck" aria-hidden="true"></i><span>Camion</span></lg-option>
            <lg-option value="Avion"><i class="fa fa-plane" aria-hidden="true"></i><span>Avion</span></lg-option>
            <lg-option value="Bateau"><i class="fa fa-ship" aria-hidden="true"></i><span>Bateau</span></lg-option>
        </lg-select>

        <div ng-show="$ctrl.truck.createData.transportCategory === 'Camion'">
            <label>Type de camion</label>
            <input name="transportTruckType" type="choice" options="{icon: $root.config.getTruckTypesIcon}" choices="$root.config.transportTruckTypes" title="Type de camion" placeholder="Ex : Benne, Bâché, etc." ng-model="$ctrl.truck.createData.transportTruckType" />
        </div>
        <div ng-show="$ctrl.truck.createData.transportCategory === 'Bateau'">
            <label>Type de bateau</label>
            <input name="transportBoatType" type="choice" choices="$root.config.transportBoatTypes" title="Type de bateau" placeholder="Ex : Barge, Navire  Lo-Lo, etc." ng-model="$ctrl.truck.createData.transportBoatType" />
        </div>
        <div ng-show="$ctrl.truck.createData.transportCategory === 'Avion'">
            <label>Type d'avion</label>
            <input name="transportPlaneType" type="choice" choices="$root.config.transportPlaneTypes" title="Type d\'avion" placeholder="Ex : Cargo, Passagers, etc." ng-model="$ctrl.truck.createData.transportPlaneType" />
        </div>
    </section>
    <section class="dark">
        <lg-error error="$ctrl.truck.error"></lg-error>
        <button id="pr-add-vehicle-button" ng-click="$ctrl.truck.create();">Rechercher</button>
    </section>
</formx>
</lg-filter-content>

