@import '../../../css/variable';
tests {
	display: block;
	background-color: #ebebeb;
	text-align: left;
	a {
		display: block;
		background: $secondaryColor;
		border-bottom: 1px solid #ebebeb;
		padding: 10px;
		width: 100%;
		font-size: 23px;
		position: relative;
		.fa {
			display: inline-block;
			width: 15%;
			font-size: 36px;
			color: #223c5d;
			height: 100%;
		}
		p {
			display: inline-block;
			vertical-align: top;
			padding: 6px 11px;
			font-size: 20px;
		}
	}
}

fixed {
	display: block;
	position: fixed;
	top: $headerHeight;
	left: 0;
	bottom: 0;
	background-color: $secondaryColor;
	width: 100%;
	height: 100%;
	test-slider {
		display: block;
		width: 100%;
		height: 100%;
		margin: 0;
		dimension {
			display: table;
			table-layout: fixed;
			width: 100%;
			background-color: $thirdColor;
			label {
				display: table-cell;
				text-align: center;
				color: $secondaryColor;
				font-weight: normal;
				font-size: 13px;
				input {
					margin: 0 0;
					padding: 0 0;
					min-height: 0;
					text-align: center;
					border: none;
					background-color: transparent;
					color: $secondaryColor;
				}
			}
		}
		volume {
			display: block;
			width: 100%;
			margin: 0 0;
			padding: 0 10px;
			background-color: $fontColor;
			color: $secondaryColor;
		}
		settings {
			display: block;
			position: fixed;
			overflow-y: auto;
			top: 255px;
			bottom: 0;
			left: 0;
			width: 100%;
			margin: 0 0;
			padding: 0 0;
			my-table {
				display: table;
				width: 100%;
				height: 100%;
				margin: 0 0;
				padding: 0 0;
				span {
					display: table-cell;
					text-align: center;
					margin: 0 0;
					padding: 0 0;
				}
			}
		}
	}
	test-slider2 {
		display: table;
		table-layout: fixed;
		width: 100%;
		padding: 0 5px;
		label {
			display: table;
			position: relative;
			width: 100%;
			span {
				display: table-cell;
				width: 70%;
			}
			input {
				display: table-cell;
				width: 100%;
				font-size: 23px;
				text-align: center;
				padding: 0 5px;
				min-height: 0;
				margin: 5px 0;
			}
		}
	}
}
