@import '../../../css/color';
.add-vehicle.ad-title {
    svg {
        width: 70px;
        height: 70px;
        margin: 0;
    }
}

.list-ad {
    width: 100%;
    display: block;
    padding: 3px;
    .block-ad {
        width: 100%;
        font-size: 0;
        margin: 0 0 3px;
        border-bottom: 1px solid $lightGray;
        a {
            width: 100%;
            display: block;
            height: inherit;
            .img-fix {
                display: inline-block;
                width: 30%;
                img {
					display: block;
                    width: 100%;
                }
            }
            div {
                background-color: $secondaryColor;
                display: inline-block;
                width: 100%;
                vertical-align: middle;
                .details {
                    width: 70%;
                    padding: 0 10px;
                    font-size: 13px;
                    text-align: left;
                    background-color: $secondaryColor;
                    h2 {
                        text-align: left;
                        font-size: 16px;
                    }
                    div {
                        display: table;
                        table-layout: fixed;
                        width: 100%;
                        div.detail-left {
                            display: table-cell;
                            width: 100%;
							span {
								display: block;
								width: 100%;
							}
                        }
                        div.detail-right {
                            display: table-cell;
                            width: 50%;
                            text-align: right;
                            price {
                                display: block;
								color: $lightGreen;
                            }
                        }
                    }
                    p {
                        color: $fontColor;
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

truck-list {
    display: block;
	width: 100%;
    padding: 0 5px;
    ad-block {
        width: 100%;
        font-size: 0;
        border-bottom: 1px solid $lightGray;
        a {
            width: 100%;
            display: block;
            height: inherit;
			margin: 3px 0;
            .img-fix {
                display: inline-block;
                width: 30%;
                img {
					display: block;
                    width: 100%;
                }
            }
            div {
                background-color: $secondaryColor;
                display: block;
                width: 100%;
                .details {
					display: inline-block;
                    width: 70%;
                    padding: 0 10px;
                    font-size: 13px;
                    text-align: left;
                    background-color: $secondaryColor;
                    h2 {
                        text-align: left;
                        font-size: 16px;
						margin: 0 0 5px;
                    }
                    div {
                        display: table;
                        table-layout: fixed;
                        width: 100%;
                        .detail-left {
                            display: table-cell;
                            width: 100%;
							span {
								display: block;
							}
                        }
                        .detail-right {
                            display: table-cell;
                            width: 50%;
                            text-align: right;
                        }
                    }
                    p {
                        color: $fontColor;
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

add-ads {
	display: table;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	button {
		display: table-cell;
		width: 100%;
		height: 45px;
		margin: 0;
		padding: 5px;
		vertical-align: top;
		border-radius: 0;
	}
}