@import '../../../css/variable';
lg-num {
    display: table;
    width: 100%;
    margin: 5px 0;
    plus,
    minus {
        display: table-cell;
        background: $buttonColor;
        color: $secondaryColor;
        border: 1px solid $borderColor;
        ;
        width: 20%;
        height: 55px;
        font-size: 22px;
        line-height: 22px;
        margin: 5px 0;
        vertical-align: middle;
        text-align: center;
        /* Pour Safari iPhone */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
    }
    minus {
        border-radius: 5px 0 0 5px;
        border-right: none;
    }
    plus {
        border-radius: 0 5px 5px 0;
        border-left: none;
    }
    my-input {
        display: table-cell;
        width: 60%;
        border-radius: 0;
        border-left: none;
        border-right: none;
        vertical-align: top;
        text-align: center;
    }
    my-input.editing {
        background-color: gray(96%);
    }
    .fa {
        color: $secondaryColor;
    }
}
