@import '../../../css/color';
@import '../../../css/layout';
lg-num.vertical {
    display: inline-block;
    width: 60px;
    plus,
    minus {
        display: block;
        width: 100%;
        height: 60px;
        margin: 0 0;
        text-align: center;
        line-height: $headerHeight;
    }
    plus {
        border-radius: 5px 5px 0 0;
        border-bottom: none;
    }
    minus {
        border-radius: 0 0 5px 5px;
        border-top: none;
    }
    my-input {
        display: block;
        width: 100%;
        height: 60px;
        padding: 20px 0;
        border: 1px solid $borderColor;
        border-top: none;
        border-bottom: none;
        text-align: center;
        margin: 0;
    }
}
