# Set the default handler.
DirectoryIndex index.html

# Set PHP5 as default
SetEnv PHP_VER 7

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


#Security Access

<FilesMatch "\.(sql|inc|class\.php|ini|json)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>

