@import '../../../css/color';
lg-orderby {
	display: table-cell;
	width: 15%;
	vertical-align: middle;
	>div {
		display: block;
		position: relative;
		>.fa {
			position: absolute;
			top: -10px;
			left: 20px;
			&[disabled] {
				color: $disabledColor;
			}
		}
	}
}
