@import '../../../css/variable';
lg-orderby {
	display: inline-block;
	>div {
		display: block;
		position: relative;
		>.fa {
			position: absolute;
			top: -10px;
			left: 20px;
			&[disabled] {
				color: gray(66%);
			}
		}
	}
}
