<div class="ad-title">
	<left>
		<img-svg src="/img/frontal-truck.svg"></img-svg>
	</left>
	<right>
		<title>Mes véhicules</title>
		<subtitle>Ajouter un véhicule</subtitle>
	</right>
</div>
<form name="formCtrl" ng-submit="$ctrl.truck.create()" class="ad">
	<section>
		<label>Immatriculation ou libellé du vehicule</label>
		<div>
			<input name="name" type="text" placeholder="Ex : 123456-123-16" ng-model="$ctrl.truck.createData.name" required/>
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.name)" class="fa fa-check" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.name)">
					<span ng-show="formCtrl.name.$error.required">Immatriculation ou libellé du vehicule obligatoire.</span>
				</error-message>
			</message-form-validator>
		</div>
		<label>Description succinte du modèle</label>
		<div>
			<input name="model" type="text" placeholder="Ex : Renault D Wide" ng-model="$ctrl.truck.createData.model" required/>
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.model)" class="fa fa-check phone" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.model)">
					<span ng-show="formCtrl.model.$error.required">Description succinte du modèle obligatoire.</span>
				</error-message>
			</message-form-validator>
		</div>
	</section>
	<section class="dark">
		<label>Ville d'origine</label>
		<lg-city name="city" title="Ville" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.truck.createData.city" required></lg-city>
	</section>
	<section class="dark">
		<big-label>Transport</big-label>
		<lg-select name="transportCategory" ng-model="$ctrl.truck.createData.transportCategory" required>
			<lg-option value="Camion"><i class="fa fa-truck" aria-hidden="true"></i><span>Camion</span></lg-option>
			<lg-option value="Avion"><i class="fa fa-plane" aria-hidden="true"></i><span>Avion</span></lg-option>
			<lg-option value="Bateau"><i class="fa fa-ship" aria-hidden="true"></i><span>Bateau</span></lg-option>
		</lg-select>
		<div ng-show="$ctrl.truck.createData.transportCategory === 'Camion'">
			<label>Type de camion</label>
			<lg-choice name="transportTruckType" options="{icon: $root.config.getTruckTypesIcon}" choices="$root.config.transportTruckTypes"
			    title="Type de camion" placeholder="Ex : Benne, Bâché, etc." ng-model="$ctrl.truck.createData.transportTruckType"></lg-choice>
		</div>
		<div ng-show="$ctrl.truck.createData.transportCategory === 'Bateau'">
			<label>Type de bateau</label>
			<lg-choice name="transportBoatType" choices="$root.config.transportBoatTypes" title="Type de bateau" placeholder="Ex : Barge, Navire  Lo-Lo, etc."
			    ng-model="$ctrl.truck.createData.transportBoatType"></lg-choice>
		</div>
		<div ng-show="$ctrl.truck.createData.transportCategory === 'Avion'">
			<label>Type d'avion</label>
			<lg-choice name="transportPlaneType" choices="$root.config.transportPlaneTypes" title="Type d'avion" placeholder="Ex : Cargo, Passagers, etc."
			    ng-model="$ctrl.truck.createData.transportPlaneType"></lg-choice>
		</div>
	</section>
	<section>
		<label>Année du véhicule</label>
		<div>
			<lg-choice name="birthyear" choices="$root.config.years" title="Année du camion" placeholder="Ex : 2005" ng-model="$ctrl.truck.createData.birthyear"
			    is-mandatory="true"></lg-choice>
			<message-form-validator>
				<i ng-show="$ctrl.fv.isOk(formCtrl.birthyear)" class="fa fa-check" aria-hidden="true"></i>
				<error-message ng-show="$ctrl.fv.isError(formCtrl.birthyear)">
					<span ng-show="formCtrl.birthyear.$error.required">L'année du véhicule est obligatoire.</span>
				</error-message>
			</message-form-validator>
		</div>
		<label>Insérer une photo</label>
		<lg-load-image form-data="{suffix: '_ad' + $ctrl.truck.createData.imageId}" ng-model="$ctrl.truck.createData.image"></lg-load-image>		
	</section>
	<section class="dark">
		<lg-error error="$ctrl.truck.error"></lg-error>
		<button type="submit" ng-disabled="formCtrl.$invalid">Ajouter ce véhicule à ma flotte</button>
	</section>
</form>
