@import '../css/color';

lg-hr {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    margin: 10px 0px;
    div {
        position: relative;
        display: inline-block;
        background-color: $backgroundColor;
        padding: 5px 5px;
        top: -3px;
        span {
            font-size: 17px;
        }
    }
    hr {
        position: absolute;
        width: 100%;
        top: 16px;
        border: 1px solid $darkBorderColor;
    }
}
