lg-hr {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
}

lg-hr div {
    position: relative;
    display: inline-block;
    background-color: hsla(0, 0%, 96%, 1);
    padding: 5px 10px;
}

lg-hr hr {
    position: absolute;
    width: 100%;
    top: 16px;
    border: 1px solid hsla(0, 0%, 80%, 1);
}
