@import '../../../css/color';
lg-desktop {
	display: none;
}

@media all and (min-width: 768px) {
	lg-desktop {
		display: block;
		div.slider {
			display: block;
			position: fixed;
			width: 100%;
			height: 100%;
			background: url('../../../img/desktop-bg.jpg');
			background-repeat: no-repeat;
			background-origin: content-box;
			background-position: center;
			background-attachment: fixed;
			background-size: cover;
		}
		.emulator {
			display: block;
			width: 600px;
			position: fixed;
			top: 16px;
		}
	}
}

lg-mobile {
	display: block;
	width: 100%;
	height: 100%;
}

@media all and (min-width: 768px) {
	body {
		overflow: hidden;
	}

	lg-menu,
	{
		width: 325px;
		height: 59px;
		top: 110px;
		left: 139px;
	}

	lg-body {
		display: block;
		position: relative;
		overflow-y: scroll;
		overflow-x: hidden;
		background: #f5f5f5;
		width: 325px;
		height: 576px;
		top: 110px;
		left: 139px;
	}

	lg-menu-content {
		width: 325px;
		height: 517px;
		top: 169px;
		left: 139px;
	}
	/* lg-choice */
	lg-choice {
		overlay,
		fixed,
		fixed-list {
			width: 325px !important;
			left: 139px !important;
			top: 110px !important;
		}
		overlay {
			height: 517px !important;
		}
		fixed-list {
			height: 576px !important;
		}
	} // /* lg-user-ads-route */
	// lg-user-ads-route,
	// lg-user-create-route,
	// lg-user-signup-success-route,
	// lg-user-proposals-route,
	// lg-user-retrieve-route,
	// lg-user-forgotten-password-route,
	// lg-user-update-password-route,
	// lg-home-route,
	// lg-connection-signin-route,
	// lg-carrier-create-route,
	// lg-loader-create-route,
	// lg-carrier-list-route,
	// lg-carrier-retrieve-route,
	// lg-carrier-create-truck-create-route,
	// lg-carrier-create-truck-choose-route,
	// lg-carrier-create-availability-route,
	// lg-carrier-create-trip-create-route,
	// lg-carrier-create-pricing-route,
	// lg-carrier-update-route,
	// lg-loader-list-route,
	// lg-loader-retrieve-route,
	// lg-loader-update-route,
	// lg-truck-create-route,
	// lg-truck-list-route,
	// lg-truck-retrieve-route,
	// lg-truck-update-route,
	// lg-proposal-create-route,
	// lg-proposal-retrieve-route,
	// lg-proposal-update-route,
	// tests,
	// lg-test-calendar-route,
	// lg-test-datetime-route,
	// lg-test-load-image,
	// lg-test-num,
	// lg-test-slider,
	// lg-prompt,
	// lg-message,
	// lg-confirm {
	// 	display: block;
	// 	position: relative;
	// 	overflow-y: scroll;
	// 	overflow-x: hidden;
	// 	background: #f5f5f5;
	// 	width: 325px;
	// 	height: 518px;
	// 	top: 110px;
	// 	left: 139px;
	// }
	/* lg-filter */
	overlay,
	overlay fixed {
		width: 325px;
		top: 110px;
		left: 139px;
	}

	lg-filter overlay filter {
		height: 517px !important;
	}
	/* lg-erasable */
	div.erase {
		top: 103px !important;
	}
	/* lg-user-retrieve-route */
	lg-user-retrieve-route {
		padding: 20px 0px;
	}
	/* lg-datetime */
	lg-datetime-content {
		my-head,
		month-list,
		lg-dt-hour,
		retroaction-msg {
			width: 325px !important;
			left: 139px !important;
		}
		my-head {
			top: 110px !important;
		}
		month-list {
			height: 517px !important;
			top: 169px !important;
		}
		lg-dt-hour {
			top: 561px !important;
		}
		retroaction-msg{
			top: 636px!important;
		}

	}
	/* lg-dimension */
	lg-edit {
		my-head {
			width: 325px !important;
			left: 139px !important;
		}
		my-head {
			top: 110px !important;
		}
		my-body {
			width: 325px !important;
			left: 139px !important;
			top: 169px !important;
			height: 517px !important;
		}
		settings {
			top: 362px !important;
			left: 139px !important;
			width: 325px !important;
			height: 300px !important;
		}
	}
	/* lg-truck */
	add-ads {
		width: 325px !important;
		left: 139px!important;
		bottom: 113px!important;
	}
	/* lg-proposal */
	bottom,
	bottom-edit {
		width: 325px;
		left: 139px;
		top: 636px;
	}

	lg-footer {
		width: 325px;
	}
}
