RewriteEngine On
RewriteRule carriers rest.php
RewriteRule loaders rest.php
RewriteRule users rest.php
RewriteRule connections rest.php
RewriteRule proposals rest.php
RewriteRule logs rest.php
RewriteRule logLevels rest.php
