lg-calendar-wrapper {
    position: relative;
    display: block;
}

lg-calendar {
    display: none;
}

lg-calendar-wrapper my-input {
    display: block;
    border: 1px solid hsla(0, 0%, 92%, 1);
    border-radius: 5px;
    margin: 5px 0px;
    color: hsla(0, 0%, 66%, 1); /* Placeholder */
    padding: 16px;
    width: 100%;
    background-color: white;
}

lg-calendar-wrapper my-input.filled {
    color: black;
}

lg-calendar-wrapper .icon {
    position: absolute;
    top: 13px;
    left: 87%;
    font-size: 25px;
    color: hsla(0, 0%, 66%, 1);
}

lg-calendar-wrapper .icon i {
    color: hsla(0, 0%, 66%, 1);
}

lg-calendar {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: white;
}

lg-calendar nav {
	z-index: 102;
	position: fixed;
	display: table;
	width: 100%;
    height: 59px;
	background-color: hsla(214, 46%, 25%, 1);
}

lg-calendar .back {
    display: table-cell;
    width: 50px;
    margin: 0px;
    vertical-align: top;
    padding: 17px 10px 0;
}

lg-calendar .back i {
    color: white;
    font-size: 26px;
}

lg-calendar .logo {
    display: table-cell;
    text-align: center;
    color: white;
    font-size: 13px;
	line-height: 0px;
}

lg-calendar .logo p {
    color: white;
    padding: 29px 0 0;
    font-size: 17px;
}

lg-calendar .menu {
    display: table-cell;
    margin: 0px;
    width: 50px;
    vertical-align: top;
    padding: 14px 10px;
}

lg-calendar .menu i {
    color: white;
    font-size: 30px;
}


.cont-calendar {
	width: 100%;
}

.calendar {
	text-align: center;
    padding: 70px 0px 10px;
    background: white;
    border-bottom: 1px solid hsla(0, 0%, 92%, 1); 

}

lg-calendar .calendar header {
	position: relative;
}

lg-calendar .calendar h2 {
	text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    margin: 20px 0;
    color: hsla(189, 7%, 81%, 1);
}

lg-calendar .calendar table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
    margin-bottom: 20px;
}

lg-calendar .calendar thead {
	font-weight: 600;
	text-transform: uppercase;
}

lg-calendar .calendar thead td {
    color: hsla(189, 7%, 81%, 1);
    font-size: 17px;
}

lg-calendar .calendar tbody tr{
	border-bottom: 1px solid hsla(0, 0%, 92%, 1);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

lg-calendar .calendar tbody td:hover {
	background-color: hsla(171, 99%, 38%, 1);
	color: white;
}

lg-calendar .calendar td {
	border: 2px solid transparent;
    border-radius: 84%;
    display: inline-block;
    line-height: 38px;
    text-align: center;
    width: 14%;
    font-family: 'Lato', sans-serif;
}

lg-calendar .calendar tbody td {
    font-weight: 400;
}

lg-calendar .calendar .prev-month,
lg-calendar .calendar .next-month {
	color: hsla(189, 7%, 81%, 1);
}

lg-calendar .current-day {
	background: hsla(171, 99%, 38%, 1);
	color: hsla(0, 0%, 98%, 1);
}

lg-calendar .event.current-day:after {
	background: hsla(0, 0%, 98%, 1);
}

lg-calendar .hour {
    display: inline-block;
    text-align: center;
    width: 100%;
    background: white;
    margin-top: 20px;
}

lg-calendar .hour span {
	padding: 10px 5px !important;
	font-size: 13px !important;
    background-color: transparent;
}

lg-calendar .selector{
	position: relative;
    width: 48px;
    top: -25px;
    margin: 0 auto;
    border-radius: 5px;
    height: 32px;
    border: 2px solid hsla(171, 99%, 38%, 1);
}

lg-calendar .select {
	font-weight: bold;
	color: hsla(171, 99%, 38%, 1);
}

lg-calendar .none{
	border-bottom: none !important;
}