lg-calendar-wrapper {
    position: relative;
    display: block;
}

lg-calendar {
    display: block;
}

lg-calendar-wrapper my-input.filled {
    color: black;
}

lg-calendar-wrapper .icon {
    position: absolute;
    top: 10px;
    left: 87%;
    font-size: 25px;
    color: hsla(0, 0%, 66%, 1);
}

lg-calendar-wrapper .icon i.fa {
	font-size: 25px;
	line-height: 18px;
    color: hsla(0, 0%, 66%, 1);
}

lg-calendar {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 102;
    background-color: white;
}

lg-calendar my-head {
	z-index: 102;
	position: fixed;
	top: 0;
    bottom: 0;
    left: 0;
}


month-list {
	position: relative;
	top: 50px;
	z-index: 101;
	display: block;
	width: 100%;
}

lg-month {
	text-align: center;
    padding: 0px 0px 10px;
    background: white;
    border-bottom: 1px solid hsla(0, 0%, 92%, 1);

}

lg-month header {
	position: relative;
}

lg-month h2 {
	text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    margin: 20px 0;
    color: hsla(189, 7%, 81%, 1);
}

lg-month table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
    margin-bottom: 20px;
}

lg-month thead {
	font-weight: 600;
	text-transform: uppercase;
}

lg-month thead td {
    color: hsla(189, 7%, 81%, 1);
    font-size: 17px;
}

lg-month tbody tr{
	border-bottom: 1px solid hsla(0, 0%, 92%, 1);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

lg-month tbody td.selected {
	background-color: hsla(171, 99%, 38%, 1);
	color: white;
}

lg-month td {
	border: 2px solid transparent;
    border-radius: 84%;
    display: inline-block;
    line-height: 38px;
    text-align: center;
    width: 14%;
    font-family: 'Lato', sans-serif;
}

lg-month tbody td {
    font-weight: 400;
}

lg-month .week-end {
	color: hsla(189, 7%, 60%, 1);
}

lg-month .prev-month,
lg-month .next-month {
	color: hsla(189, 7%, 81%, 1);
}



lg-month .current-day {
	background: hsla(171, 99%, 38%, 1);
	color: hsla(0, 0%, 98%, 1);
}

lg-month .event.current-day:after {
	background: hsla(0, 0%, 98%, 1);
}

lg-month .hour {
    display: inline-block;
    text-align: center;
    width: 100%;
    background: white;
    margin-top: 20px;
}

lg-month .hour span {
	padding: 10px 5px !important;
	font-size: 13px !important;
    background-color: transparent;
}

lg-month .selector {
	position: relative;
    width: 48px;
    top: -25px;
    margin: 0 auto;
    border-radius: 5px;
    height: 32px;
    border: 2px solid hsla(171, 99%, 38%, 1);
}

lg-month .select {
	font-weight: bold;
	color: hsla(171, 99%, 38%, 1);
}

lg-month .none {
	border-bottom: none !important;
}

/* Hour picker */
lg-hour {
	position: relative;
	top: 50px;
	z-index: 101;
	display: block;
	width: 100%;
	text-align: center;
}

pendule {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 200px;
	margin: 20px;
	border-radius: 50%;
	border: 5px solid hsla(171, 99%, 38%, 1);
}

pendule hour {
	display: block;
	position: absolute;
	top: 0;
	font-size: 25px;

	border-radius: 50%;
	width: 38px;
	height: 38px;
	line-height: 37px;
	color: hsla(171, 99%, 20%, 1);
}

pendule hour.selected {
	border: 5px solid hsla(171, 99%, 38%, 1);
	background-color: hsla(171, 99%, 38%, 1);
	color: hsla(0, 0%, 95%, 1);
	line-height: 28px;
}

.h12 {
	top: -5px;
	left: 76px;
}

.h1 {
	top: 6px;
	left: 117px;
}

.h2 {
	top: 35px;
	left: 146px;
}

.h3 {
	top: 76px;
	left: 157px;
}

.h4 {
	top: 117px;
	left: 146px;
}

.h5 {
	top: 146px;
	left: 116px;
}

.h6 {
	top: 157px;
	left: 76px;
}

.h7 {
	top: 146px;
	left: 36px;
}

.h8 {
	top: 117px;
	left: 6px;
}

.h9 {
	top: 74px;
	left: -5px;
}

.h10 {
	top: 35px;
	left: 6px;
}

.h11 {
	top: 6px;
	left: 36px;
}



