@import '../css/color';
$light-gray: hsla(0, 0%, 66%, 1);
lg-calendar-wrapper {
    position: relative;
    display: block;
    my-input.filled {
        color: black;
    }
    .icon {
        position: absolute;
        top: 10px;
        left: 87%;
        font-size: 25px;
        i.fa {
            font-size: 25px;
            line-height: 18px;
            color: $light-gray;
        }
    }
}

$selectedColor: $lightGreen;
$disabledColor: hsla(0, 0%, 93%, 1);
lg-calendar {
    display: block;
    font-family: 'Lato', sans-serif;
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 102;
    background-color: white;
    my-head {
        z-index: 102;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
    }
    retroaction-msg {
        z-index: 102;
        position: fixed;
        top: 59px;
        display: block;
        width: 100%;
        text-align: center;
        background-color: $light-gray;
        padding: 5px;
    }
    month-list {
        position: relative;
        top: 85px;
        z-index: 101;
        display: block;
        width: 100%;
    }
}

lg-month {
    text-align: center;
    padding: 0px 0px 10px;
    background: white;
    border-bottom: 1px solid $light-gray;
    header {
        position: relative;
    }
    h2 {
        text-transform: uppercase;
        font-size: 23px;
        margin: 20px 0;
        color: hsla(189, 7%, 81%, 1);
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        margin-bottom: 20px;
        td {
            border: 2px solid transparent;
            border-radius: 84%;
            display: inline-block;
            line-height: 38px;
            text-align: center;
            width: 14%;
        }
        thead {
            font-weight: 600;
            text-transform: uppercase;
            td {
                color: hsla(189, 7%, 81%, 1);
                font-size: 17px;
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid hsla(0, 0%, 92%, 1);
                font-size: 16px;
            }
            td {
                font-weight: 400;
            }
            td.week-end {
                color: hsla(189, 7%, 60%, 1);
            }
            td.prev-month,
            td.next-month {
                color: hsla(189, 7%, 81%, 1);
            }
            td.selected {
                background-color: $selectedColor;
                color: white;
            }
            td.next-month.selected,
            td.prev-month.selected {
                background-color: transparent;
                border: 1px solid $selectedColor;
                color: hsla(189, 7%, 81%, 1);
            }
            td.disabled {
                color: $disabledColor;
            }
            td.current-day {
                background: $selectedColor;
                color: blue;
            }
        }
    }
}