@import '../css/color';
lg-hour {
    position: relative;
    top: 100px;
    z-index: 101;
    display: block;
    width: 100%;
    text-align: center;
    div {
        display: table;
        width: 100%;
        button {
            display: table-cell;
            width: 80px;
            height: 80px;
            margin: 0px 40px;
            border-radius: 100%;
            background-color: white;
            border: 5px solid $buttonColor;
            color: $buttonColor;
            font-size: 29px;
            font-weight: bold;
        }
        button.active {
            background-color: $buttonColor;
            color: white;
        }
    }
    pendule {
        display: inline-block;
        position: relative;
        width: 275px;
        height: 275px;
        margin: 20px;
        border-radius: 50%;
        border: 5px solid $selectedColor;
        text-align: center;
        line-height: 60px;
        hour {
            display: block;
            position: absolute;
            top: 0;
            font-size: 34px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            line-height: 47px;
            color: $hourNumberColor;
        }
        hour.selected {
            border: 5px solid $selectedColor;
            background-color: $selectedColor;
            color: $hourTextColor;
            line-height: 40px;
        }
        selected-hour {
            display: inline-block;
            font-size: 67px;
            color: $mediumGray;
			position: relative;
			top: 43px;
        }
        span {
            display: inline-block;
            font-size: 16px;
			position: relative;
			top: 24px;
            color: $mediumGray;
        }
    }
}