<style>{{$ctrl.style}}</style>
<my-input id="lgCalendarInput{{$ctrl.id}}" ng-click="$ctrl.start()" ></my-input>
<span class="icon"><i ng-click="$ctrl.toggle();" class="fa fa-calendar" aria-hidden="true"></i></span>
<lg-calendar id="lgCalendar{{$ctrl.id}}" >
    <my-head>
        <head-left>
<!-- nothing to put here at this time -->
        </head-left>
        <head-center>
            <p>{{$ctrl.title}}</p>
        </head-center>
        <head-right ng-click="$ctrl.stop()">
            <i class="fa fa-check" aria-hidden="true"></i>
        </head-right>
    </my-head>
    <month-list >
        <lg-month date="month" ng-repeat="month in $ctrl.months track by $index"></lg-month>
    </month-list>
</lg-calendar>