<style>{{$ctrl.style}}</style>
<my-input id="lgCalendarInput{{$ctrl.id}}" ng-click="$ctrl.start()" ></my-input>
<span class="icon"><i ng-click="$ctrl.toggle();" class="fa fa-calendar" aria-hidden="true"></i></span>
<lg-calendar id="lgCalendar{{$ctrl.id}}" >
    <my-head>
        <head-left>
<!-- nothing to put here at this time -->
        </head-left>
        <head-center>
            <p>{{$ctrl.title}}</p>
        </head-center>
        <head-right ng-click="$ctrl.stop()">
            <i class="fa fa-check" aria-hidden="true"></i>
        </head-right>
    </my-head>
    <month-list>
        <month ng-repeat="month in $ctrl.months track by $index">
            <header>
                <h2>{{::month.name }}  {{::month.year}}</h2>
            </header>
            <table>
                <thead>
                    <tr>
                        <td>Lu</td>
                        <td>Ma</td>
                        <td>Me</td>
                        <td>Je</td>
                        <td>Ve</td>
                        <td>Sa</td>
                        <td>Di</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="week in month.weeks track by $index">
                        <td ng-class="{'prev-month': day.isPrevMonth, 'week-end': day.isWeekEnd, 'next-month': day.isNextMonth}"
							ng-repeat="day in week.days">{{::day.date}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="hour">
                <span>00:00</span>
                <span>01:00</span>
                <span>02:00</span>
                <span class="select">03:00</span>
                <span>04:00</span>
                <span>05:00</span>
                <span>06:00</span>
                <!--<span>07:00</span>
                <span>08:00</span>
                <span>09:00</span>
                <span>10:00</span>
                <span>11:00</span>
                <span>12:00</span>
                <span>13:00</span>
                <span>14:00</span>
                <span>15:00</span>
                <span>16:00</span>
                <span>17:00</span>
                <span>18:00</span>
                <span>19:00</span>
                <span>20:00</span>
                <span>21:00</span>
                <span>22:00</span>
                <span>23:00</span>-->
                <div class="selector"></div>
            </div>
        </month>
    </month-list>
</lg-calendar>