<style ng-bind="$ctrl.style"></style>
<pendule>
	<hour ng-repeat="hour in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
		class="id-{{$ctrl.id}} hour-{{hour}}" ng-class="{am: $ctrl.isAm, pm: !$ctrl.isAm}"
		ng-click="$ctrl.update(hour)" >{{hour}}</hour>
	<span ng-show="$ctrl.isAm">Midi</span><span ng-hide="$ctrl.isAm">Minuit</span><br/>
	<selected-hour class="no-zoom">{{$ctrl.formatHour()}}</selected-hour>

</pendule>
<div>
	<button ng-class="{active: $ctrl.isAm}" ng-click="$ctrl.setAmPm(true)">AM</button>
	<button ng-class="{active: !$ctrl.isAm}" ng-click="$ctrl.setAmPm(false)">PM</button>
</div>
<script>
	$('.no-zoom').bind('touchend', function (e) {
		e.preventDefault();
	});
</script>
