<lg-title>Hello {{$ctrl.password.current.content.firstname}},</lg-title>
<subtitle>choisissez un nouveau mot de passe</subtitle>
<sign-form>
	<form>
		<input type="eyepassword" name="password" placeholder="Nouveau mot de passe" ng-model="$ctrl.password.forgottenPasswordData.newPassword" />
		<lg-error error="$ctrl.user.error"></lg-error>
		<div class="bouton">
			<button ng-click="$ctrl.user.updatePassword($ctrl.password.forgottenPasswordData);">Enregistrer</button>
		</div>
	</form>
</sign-form>