<div class="ad-title">
	<left>
		<img-svg src="/img/frontal-truck.svg"></img-svg>
	</left>
	<right>
		<title>Transporteur</title>
		<subtitle>Faire une proposition</subtitle>
	</right>
</div>
<formx class="ad" name="proposalCtrl">
	<section>
		<label>Nom</label>
		<input type="text" placeholder="Nom" ng-model="$ctrl.proposal.createData.name" />
		<label>Email</label>
		<input type="text" placeholder="Email" ng-model="$ctrl.proposal.createData.email" />
		<label>Téléphone</label>
		<input type="text" placeholder="Email" ng-model="$ctrl.proposal.createData.phone" />
		<label>Titre de l'annonce</label>
		<input type="text" placeholder="Titre de l'annonce" ng-model="$ctrl.proposal.createData.title_ad" />
		<label>Message</label>
		<textarea ng-model="$ctrl.proposal.createData.message"></textarea>
	</section>
</formx>
<formx class="ad">
	<section class="dark">
		<lg-error error="$ctrl.proposal.error"></lg-error>
		<button ui-sref="$ctrl.proposal.create();">Envoyez votre proposition</button>
	</section>
</formx>


