<admin-nav-route></admin-nav-route>
<admin-section>
	<header>
		<h2><i class="fa fa-cog" aria-hidden="true"></i> Paramètres</h2>
		<div>

			<a ui-sref="admin:signout"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a>
		</div>
	</header>
	<section>
		<div class="container">
			<div class="card">
				<div class="header">
					<h4 class="title"><i class="fa fa-file-text-o"></i> Logs</h4>
					<div class="combobox">
						<label><span>Log Level</span>
						<select ng-model="$ctrl.logLevel" ng-change="$ctrl.confirm();" ng-options="item for item in $ctrl.logLevels">
							
						</select>
						</label>
					</div>
				</div>
				<div class="content">
					<div style="overflow-x: auto">
						<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
							<thead>
								<tr>
									<th>Date</th>
									<th>Détails</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="log in $ctrl.logs" ng-click="$root.goto('../ws/logs/' + log.name, true);">
									<td data-label="Date">{{log.stat.mtime | ts2date | date: 'medium'}}</td>
									<td data-label="Détails">{{log.name}}</td>
								</tr>
							</tbody>
						</table>
						<button ng-show="$ctrl.proposal.length > 50" class="load-more" ng-click="$ctrl.loadMore()"><i class="fa fa-download" aria-hidden="true"></i> Charger plus</button>
					</div>
				</div>
				<!-- end content-->
			</div>
			<!--  end card  -->
		</div>
	</section>
	<admin-footer-route></admin-footer-route>
</admin-section>
