<section>
	<div class="login-page">
		<form method="formCtrl" ng-submit="$ctrl.adminConnection.create()">
	
			<div class="card">
				<div class="header">
					<img src="../img/image2.png" alt="">
					<span>Administration</span>
				</div>
				<div class="content">
					<input type="login" placeholder="Login" ng-model="$ctrl.adminConnection.createConnectionData.adminLogin">
					<input type="password" placeholder="Mot de passe" ng-model="$ctrl.adminConnection.createConnectionData.adminPassword">
				</div>
				<div class="footer">
					<button type="submit" class="btn">Se connecter</button>
					<a href="/ali/proto/app"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour à l'application</a>
				</div>
			</div>
		</form>
	</div>
</section>

