lg-upload {
    display: block;
    padding: 0px 10px;
    color: yellow;
}

lg-upload my-input {
    display: block;
    position: relative;
    background-color: white;
    width: 100%;
    height: 100px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 27px;
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 92%, 1);
}

lg-upload my-input[active] {
	padding: 10px;
    text-align: left;
}

lg-upload my-input[loaded] {
    padding: 10px;
    text-align: left;
}

lg-upload my-input input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0;
    width: 100%;
    height: 100px;
    margin: 0px;
    padding: 0px;
}

lg-upload my-input i, lg-upload my-input span {
    color: hsla(0, 0%, 80%, 1);
	vertical-align: middle;
	line-height: 100px;
}

lg-upload progress-bar {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
}

lg-upload progress-bar lg-progress {
    display: block;
    height: 2px;
    background-color: hsla(214, 46%, 25%, 1);
    border: 0px;
}

lg-upload progress-bar remaining {
    display: block;
    height: 2px;
    background-color: transparent;
}

lg-upload img {
    border: 1px solid hsla(0, 0%, 80%, 1);
    height: 80px;
	max-width: 150px;
}

lg-upload button {
    display: inline-block;
    float: right;
    padding: 10px;
    margin: 20px 0px;
    background-color: red;
    width: auto;
	height: auto;
    font-size: 16px;
}

lg-upload button[cancel] {
    margin: 0px 0px;
}

lg-upload button i {
    color: white;
}

lg-upload error-message {
    color: red;
	vertical-align: middle;
	line-height: 100px;
}