<lg-test-datetime-route>
	<lg-title>Test datetime</lg-title>
	<form>
		<input type="text" placeholder="name" ng-model="name" />
		<lg-datetime title="Choisir une date d'aller" placeholder="Aller" ng-model="departDate" options="{defaultHour: 2}">
		</lg-datetime>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<lg-datetime title="Choisir une date de retour" placeholder="Retour" ng-model="arrivalDate" after="departDate">
		</lg-datetime>
	</form>
</lg-test-datetime-route>
