<fixed>
	<my-canvas>
		<img-svg compile src="/img/box/truck-angular.svg"></img-svg>
	</my-canvas>
	<!--<test-slider2>
		<label><span>Largeur</span>
			<input type="number" pattern="[0-9]*" ng-model="$ctrl.width" ng-model-options="{ updateOn: 'blur' }" />
		</label>
		<lg-slider horizontal ng-model="$ctrl.width" min="10" max="230" step="10"></lg-slider>
		<label><span>Hauteur</span>
			<input type="number" pattern="[0-9]*" ng-model="$ctrl.height" ng-model-options="{ updateOn: 'blur' }" />
		</label>
		<lg-slider horizontal ng-model="$ctrl.height" min="10" max="230" step="10"></lg-slider>
		<label><span>Profondeur</span>
			<input type="number" pattern="[0-9]*" ng-model="$ctrl.width" ng-model-options="{ updateOn: 'blur' }" />
		</label>
		<lg-slider horizontal ng-model="$ctrl.depth" min="10" max="1190" step="10"></lg-slider>
	</test-slider2>-->
	<test-slider>
		<dimension>
			<label>Largeur (cm)
				<input type="number" pattern="[0-9]*" ng-model="$ctrl.width" ng-model-options="{ updateOn: 'blur' }" />
			</label>
			<label>Hauteur (cm)
				<input type="number" pattern="[0-9]*" ng-model="$ctrl.height" ng-model-options="{ updateOn: 'blur' }" />
			</label>
			<label>Profondeur (cm)
				<input type="number" pattern="[0-9]*" ng-model="$ctrl.depth" ng-model-options="{ updateOn: 'blur' }" />
			</label>
		</dimension>
		<volume>
			Volume résultant : {{$ctrl.volume}} m3
		</volume>
		<settings>
			<my-table>
				<span>
					<lg-slider value="$ctrl.width" min="10" max="230" step="10"></lg-slider>
				</span>
				<span>
					<lg-slider value="$ctrl.height" min="10" max="230" step="10"></lg-slider>
				</span>
				<span>
					<lg-slider value="$ctrl.depth" min="10" max="1190" step="10"></lg-slider>
				</span>
			</my-table>
		</settings>
	</test-slider>
</fixed>
