@import '../css/color';
tests {
    width: 100%;
    background-color: #ebebeb;
    text-align: left;
    a {
        display: block;
        background: white;
        border-bottom: 1px solid #ebebeb;
        padding: 10px;
        width: 100%;
        font-size: 23px;
        position: relative;
        .fa {
            display: inline-block;
            width: 15%;
            font-size: 36px;
            color: #223c5d;
            height: 100%;
        }
        p {
            display: inline-block;
            vertical-align: top;
            padding: 6px 11px;
            font-size: 20px;
        }
    }
}

fixed {
    display: block;
    position: fixed;
    top: 59px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    width: 100%;
    height: 100%;
    test-slider {
        display: table;
        table-layout: fixed;
        width: 100%;
        text-align: center;
        span {
            display: table-cell;
        }
    }
    my-canvas {
		display: block;
        width: 100%;
        height: 160px;
		background-color: $lightGray;
		img {
			display: block;
			position: absolute;
			top: 0px;
			left:0px;
			padding: 5px;
			width: 100%;
		}
		svg {
			display: block;
			width: 100%;
			padding: 5px;
			line, rect, polygon {
				fill: white;
				stroke: black;
				stroke-width: 10px;
			}
		}
    }
}
