<section class="banner">
    <h1>Transporteur</h1>
    <img class="lg-svg" src="img/frontal-truck.svg"/>
    <h2>Déposer une annonce</h2>
</section>
<section class="form">
    <form name="createAddForm" ng-submit="createAdd();">
        <label>Description du type de véhicule</label><br/>
        <input type="choice" choices="$root.config.vehicleTypes" title="Type de véhicule"  placeholder="Ex : Benne, Bâché, etc." ng-model="addCtrl.vehicle.type" />
        <br/>
        <hr/>
        <br/>
        <div class="dimension">
            <p>Dimension de la capacité de la remorque</p><br/>
            <div class="hauteur">
                <img src="img/hauteur.png"/>
                <p>Hauteur</p>
                <button class="plus">+</button><br/>
                <input type="text" name="" id="" placeholder="3,20" ng-model="addCtrl.vehicle.box.height" />
                <button class="moins">-</button>
            </div>
            <div class="profondeur">
                <img src="img/profondeur.png"/>
                <p>Profondeur</p>
                <button class="plus">+</button><br/>
                <input type="text" name="" id="" placeholder="3,20" ng-model="addCtrl.vehicle.box.deep" />
                <button class="moins">-</button>
            </div>
            <div class="largeur">
                <img src="img/largeur.png"/>
                <p>Largeur</p>
                <button class="plus">+</button><br/>
                <input type="text" name="" id="" placeholder="3,20" ng-model="addCtrl.vehicle.box.width" /><br/>
                <button class="moins">-</button>
            </div>
            <div class="clear"></div>
            <br/>
            <p class="comments">Mesures en mètre</p>
            <br/>
            <hr/>
            <br/>
        </div>

        <div class="photo">
            <label>Inserer une photo</label><br/>
            <input type="file" ng-model="addCtrl.vehicle.image" />
        </div>

        <hr/><br/>

        <label>Pays d'origine du véhicule</label><br/>
        <input type="choice" choices="$root.config.countries" title="Pays d\'origine" placeholder="Ex : Algérie, Maroc, etc." ng-model="addCtrl.vehicle.country" />
        <br/>
        <label>Ville</label><br/>
        <input type="choice" choices="$root.config.cities" title="Ville" placeholder="Ex : Oran, Alger, etc." ng-model="addCtrl.vehicle.city" />
        <br/>
        <label>Type de conditionnement</label><br/>
        <input type="choice" choices="$root.config.conditionings" title="Type de conditionnement" placeholder="Ex : Colis, Palettes, Vrac" ng-model="addCtrl.vehicle.conditionment" />
        <br/>
        <div class="complement">
            <label>Volume maximum de chargement (en m3)</label><br/>
            <button class="plus2">+</button><input type="text" name="" id="" placeholder="42" ng-model="addCtrl.vehicle.maxVolume" /><button class="moins2"> - </button>
        </div>
        <div class="complement">
            <label>Poids maximum de chargement du véhicule (en tonne)</label><br/>
            <button class="plus2">+</button><input type="text" name="" id="" placeholder="35" ng-model="addCtrl.vehicle.maxWeight" /><button class="moins2"> - </button>
        </div>
        <label>Année du camion</label><br/>
        <input type="choice" choices="$root.config.years" title="Année du camion" placeholder="Ex : 2005, 2006, 2007" ng-model="addCtrl.vehicle.birthyear" /><br/>
        <div class="bouton">
			<button>Envoyer ></button>
		</div>
    </form>
</section>