<section class="details-annonce">
    <div class="block-annonce">
        <a href="chargeur-annonce-details.html">
            <span class="identity">JLG</span>
            <div class="details">
                <p>Alger(Algérie) > Oran(Algérie)</p>
                <div>
                    <div class="details-time">
                        <span class="date">12/11/2018 13h > 12/11/2018 21h</span><span class="duree">8h</span>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <span class="vehicule">Camion 12T bâche</span><span class="tarif">0.4DZD/km</span>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </a>
    </div>
</section>
<section class="proposition">
    <h1>Faire une proposition<br/>de chargement</h1>
    <form name="createAddForm" ng-submit="createAdd();">
        <label>Lieu de chargement :</label>
        <input type="choice" choices="$root.config.Address" title="Lieu de chargement"  placeholder="Ex : 2 rue de Paris, 1000 ALGER" ng-model="addCtrl.loadingAddress" />
        <br/>
        <label>Lieu de déchargement :</label>
        <input type="choice" choices="$root.config.Address" title="Lieu de déchargement"  placeholder="Ex : 15 rue de Tripoli, 1100 ORAN" ng-model="addCtrl.unloadingAddress" />
        <h3>Distance supplémentaire :</h3>
        <span>1.5km</span>
        <br/><br/>

        <label>Nature de la marchandise :</label>
        <input type="choice" choices="$root.config.goodTypes" title="Nature de la marchandise"  placeholder="Ex : Fruits et Légumes frais" ng-model="addCtrl.goods" />
        <br/>
        <label>Poids max en Tonne (< 1 ) :</label>
        <input type="choice" choices="$root.config.weight" title="Poids du chargement" placeholder="Ex : 0.5" ng-model="addCtrl.loaderWeight" />
        <br/>
        <label>Volume max en m3 (< 3 ) :</label>
        <input type="choice" choices="$root.config.volumes" title="Volume résultant" placeholder="Ex 1.5" ng-model="addCtrl.volume" />
        <br/>
        <div class="bouton">
			<button><a href="#/carrier-proposal-sent">Envoyer votre proposition ></a></button>
		</div>
    </form>
</section>