<section class="banner">
        <h1>Chargeur</h1>
        <img class="lg-svg" src="img/delivery-trolley.svg"/>
        <h1>Déposer une annonce</h1>
</section>
<section class="form">
        <form name="createAddForm" ng-submit="createAdd();">
            <hr>
            <span>Départ / Arrivée</span><br/><br/>
            <label>Pays</label><br/>
            <input type="choice" choices="$root.config.countries" title="Pays" placeholder="Ex : Algérie, Maroc, etc." ng-model="addCtrl.countryDepart" />
            <br/>

            <label>Ville de départ</label><br/>
            <input type="choice" choices="$root.config.cities" title="Ville de départ" placeholder="Ex : Oran, Alger, etc." ng-model="addCtrl.cityDepart" />
            <br/>

            <label>Date de chargement</label><br/>
            <div class="input-date">
                <a href="#">Ex: 12/11/2017</a>
            </div>
            <br/>

            <label>Pays</label><br/>
            <input type="choice" choices="$root.config.countries" title="Pays" placeholder="Ex : Algérie, Maroc, etc." ng-model="addCtrl.countryArrived" />
            <br/>

            <label>Ville d'arrivée</label><br/>
            <input type="choice" choices="$root.config.cities" title="Ville d'arrivée'" placeholder="Ex : Oran, Alger, etc." ng-model="addCtrl.cityArrived" />
            <br/>

            <label>Date de chargement</label><br/>
            <div class="input-date">
                <a href="#">Ex: 23/11/2017</a>
            </div>
            <br/><br/>

            <hr>
            <span>Chargement</span><br/><br/>
            <label>Type de chargement</label><br/>
            <input type="choice" choices="$root.config.loaderTypes" title="Type de chargement" placeholder="Ex: Classique, Dangereux" ng-model="addCtrl.loader" />
            <br/>

            <label>Conditionnement</label><br/>
            <input type="choice" choices="$root.config.conditionings" title="Conditionnement" placeholder="Ex : Colis, Palettes, Vrac" ng-model="addCtrl.vehicle.conditionment" />
            <br/>

            <label>Type de transport</label><br/>
            <input type="choice" choices="$root.config.transportTypes" title="Type de transport" placeholder="Ex: Camion, Bateau, Avion" ng-model="addCtrl.transport" />
            <br/>

            <label>Type de camion</label><br/>
            <input type="choice" choices="$root.config.vehicleTypes" title="Type de camion" placeholder="Ex: Benne, Bâché, Frigo" ng-model="addCtrl.truck" />
            <br/>

            <label>Poids du chargement</label><br/>
            <input type="choice" choices="$root.config.weight" title="Poids du chargement" placeholder="Ex: entre 100 et 200 kilos" ng-model="addCtrl.loaderWeight" />
            <br/>

            <label>Poids précis si connu (optionnel)</label><br/>
            <input type="choice" choices="$root.config.weight" title="Poids précis" placeholder="Ex: entre 100 et 200 kilos" ng-model="addCtrl.preciseWeight" />
            <br/>

            <div class="dimension">
                <p>Dimension du chargement (en mètre)</p>
                <div class="hauteur">
                    <img src="img/box-hauteur.png"/>
                    <p>Hauteur</p>
                    <button class="plus">+</button><br/>
                    <input type="text" name="" id="" placeholder="3,20" ng-model="addCtrl.vehicle.box.height" />
                    <button class="moins">-</button>
                </div>
                <div class="profondeur">
                    <img src="img/box-profondeur.png"/>
                    <p>Profondeur</p>
                    <button class="plus">+</button><br/>
                    <input type="text" name="" id="" placeholder="3,20" ng-model="addCtrl.vehicle.box.deep" />
                    <button class="moins">-</button>
                </div>
                <div class="largeur">
                    <img src="img/box-largeur.png"/>
                    <p>Largeur</p>
                    <button class="plus">+</button><br/>
                    <input type="text" name="" id="" placeholder="3,20" ng-model="addCtrl.vehicle.box.width" /><br/>
                    <button class="moins">-</button>
                </div>
                <div class="clear"></div>
            </div>
            <br/>

            <label>Volume résultant</label><br/>
            <input type="choice" choices="$root.config.volumes" title="Volume résultant" placeholder="Ex: 200, 455, 2300" ng-model="addCtrl.volume" />
            <br/>

            <label>Prix souhaité (facultatif)</label><br/>
            <input type="choice" choices="$root.config.prices" title="Prix souhaité" placeholder="Ex: 200, 455, 2300" ng-model="addCtrl.priceWanted" />
            <br/>
            
            <div class="photo">
                <label>Inserer une photo</label><br/>
                <input type="file" ng-model="addCtrl.image" />
            </div>

            <label>Durée d'affichage max de l'annonce</label><br/>
            <input type="choice" choices="$root.config.times" title="Durée d\'affichage" placeholder="Ex: 1 semaine, 15 jours" ng-model="addCtrl.adTimes" />
            <br/>
            
            <div class="bouton">
                <button>Envoyer ></button>
            </div>
        </form>
</section>