<section class="banner">
	<h1>Connexion</h1>
</section>
<section class="form-sign">
	<div class="connect-fbg">
		<div class="btn-fb">
			<img src="img/facebook.svg" />
		</div>
		<div class="btn-google">
			<img src="img/google-plus.svg" />
		</div>
	</div>
	<lg-hr>ou</lg-hr>
	
	<form name="signinCtrl" ng-submit="userCtrl.signin();">
		<input type="text" placeholder="email, n°tel, pseudo" ng-model="userCtrl.signinData.email" />
		<input type="eyepassword" placeholder="Mot de passe" ng-model="userCtrl.signinData.password" />
		<p ng-show="userCtrl.isSigninError" class="errorMsg">Mot de passe incorrect.</p>
		
		<div class="bouton">
			<button>Se connecter</button>
		</div>
	</form>
	<div class="creer-compte">
		<lg-hr>ou</lg-hr>
		<a href="#/signup">Créer un nouveau compte</a>
	</div>
</section>