	<section class="section-padding-bottom" id="more">
		<div class="container">
			<div class="row">
				<div class="tm-section-header section-margin-top">
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">Inscription</h2></div>
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>	
				</div>				
			</div>
			<div class="row">
				<!-- contact form -->
				<form name="signupForm" ng-submit="signup()" class="tm-contact-form">
				<div class="col-lg-3 col-md-6 tm-contact-form-input"></div>
					<div class="col-lg-6 col-md-6 tm-contact-form-input">
						<div class="form-group">
							<input type="email" id="contact_email" class="form-control" ng-model="signupData.email" placeholder="Email" />
						</div>
						<div class="form-group">
							<input type="password" id="contact_subject" class="form-control" ng-model="signupData.password" placeholder="Mot de passe" />
						</div>
						<div class="form-group">
							<input type="text" id="contact_name" class="form-control" ng-model="signupData.lastname" placeholder="Nom" />
						</div>
						<div class="form-group">
							<input type="text" id="contact_name" class="form-control" ng-model="signupData.firstname" placeholder="Prénom" />
						</div>
						<div class="form-group">
							<input type="text" id="contact_name" class="form-control" ng-model="signupData.address.street" placeholder="Adresse" />
						</div>
						<div class="form-group">
							<input type="text" id="contact_name" class="form-control" ng-model="signupData.address.zipcode" placeholder="Code postal" />
						</div>
						<div class="form-group">
							<input type="text" id="contact_name" class="form-control" ng-model="signupData.address.city" placeholder="Ville" />
						</div>
						<div class="form-group">
							<input type="text" id="contact_name" class="form-control" ng-model="signupData.address.country" placeholder="Pays" />
						</div>
						<div class="form-group">
							<button class="tm-submit-btn" type="submit" name="record">Valider</button> 
						</div>
					</div>
				</form>
			</div>			
		</div>
	</section>