<section class="form">
	<form name="signinCtrl" ng-submit="userCtrl.signin();">
		<input type="text" placeholder="email, n°tel, pseudo" ng-model="userCtrl.signinData.email" /><br/>
		<input type="text" placeholder="Mot de passe" ng-model="userCtrl.signinData.password" /><br/><br/>
		<div class="bouton">
			<input type="submit" value="Se connecter" />
		</div>
	</form>
		
	<div class="creer-compte">
		<p class="ou">ou</p>
		<a href="#/signup">Créer un nouveau compte</a>
		<p class="ou2">ou</p>
	</div>
	<div class="connect-fbg">
		<div class="btn-fb">
			<div>
				<img src="img/facebook.png"/>
				<div class="lien lien-fb">
					<a href="">Se connecter</a>
				</div>
			</div>
		</div>
		<div class="btn-google">
			<div>
				<img src="img/google-plus.png"/>
				<div class="lien lien-google">
					<a href="">Se connecter</a>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</section>