<lg-title>Test slider</lg-title>
<test-slider ng-init="width = 104">
	<span>
		<label>Width : {{width}}</label>
		<lg-slider ng-model="width" min="10" max="243" step="10" options="{}"></lg-slider>
	</span>
	<span>
		<label>Height : {{height}}</label>
		<lg-slider ng-model="height" min="10" max="259" step="10" options="{}"></lg-slider>
	</span>
	<span>
		<label>Depth : {{depth}}</label>
		<lg-slider ng-model="depth" xmin="10" xmax="1219" step="10" options="{}"></lg-slider>
	</span>
</test-slider>
