<lg-title>Test calendar</lg-title>
<form>
	<input type="text" placeholder="name" ng-model="name" />
	<lg-datetime title="Choisir une date d\'aller" placeholder="Aller" ng-model="departDate" options="{position: 'next-days', constraint: 'only-future'}">
	</lg-datetime>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<lg-datetime title="Choisir une date de départ" placeholder="Départ" ng-model="departDate" options="{position: 'next-days', constraint: 'only-future'}">
	</lg-datetime>
</form>