<fixed>
	<my-canvas>
		<img class="lg-svg" compile src="img/box/truck-angular.svg" />
	</my-canvas>
	<test-slider>
		<span>
		<label>Width : {{$ctrl.width}}</label>
		<lg-slider ng-model="$ctrl.width" min="10" max="230" step="10" options="{}"></lg-slider>
	</span>
		<span>
		<label>Height : {{$ctrl.height}}</label>
		<lg-slider ng-model="$ctrl.height" min="10" max="230" step="10" options="{}"></lg-slider>
	</span>
		<span>
		<label>Depth : {{$ctrl.depth}}</label>
		<lg-slider ng-model="$ctrl.depth" min="10" max="1190" step="10" options="{}"></lg-slider>
	</span>
	</test-slider>
</fixed>
