<lg-title>S'identifier</lg-title>
<sign-form>
	<lg-social-login></lg-social-login>
	<lg-hr>ou</lg-hr>

	<form name="formCtrl">
		<input type="text" placeholder="email, n°tel, identifiant" ng-model="$ctrl.connection.createConnectionData.email" required/>
		<input type="eyepassword" placeholder="Mot de passe" ng-model="$ctrl.connection.createConnectionData.password" required/>
		<lg-error error="$ctrl.connection.error"></lg-error>
		<button ng-click="$ctrl.connection.create()" ng-disabled="formCtrl.$invalid">Se connecter</button>
	</form>

	<lg-hr>ou</lg-hr>
	<center>
		<a ui-sref="user:signup">Créer un nouveau compte</a>
	</center>
	<lg-hr>ou</lg-hr>
	<center>
		<a ui-sref="password:forgottenPassword">Mot de passe oublié ?</a>
	</center>
</sign-form>
