@import '../../../../css/color';

$breadcrumbColor: $adColor;

$breadcrumbHeight: 70px;
$breadcrumbDisabledBgColor: lighten(desaturate($breadcrumbColor, 70%), 5%);
$breadcrumbDisabledColor: desaturate(lighten($primaryColor, 20%), 50%);

breadcrumb {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: $breadcrumbHeight;
	>step {
		display: table-cell;
		position: relative;
		background-color: $breadcrumbColor;
		padding: 0 0;
		text-align: center;
		vertical-align: middle;
		div {
			position: relative;
			z-index: 1;
			padding-left: 10px;
			i.fa {
				display: inline-block;
				padding: 5px 5px;
				font-size: 22px;
				border-radius: 100%;
			}
			span {
				display: inline-block;
				margin: 5px 9px 0;
				font-size: 12px;
				font-weight: bold;
			}
		}


		&:before,
		&:after {
			position: absolute;
			left: -8px;
			height: $breadcrumbHeight / 2;
			width: 3px;
			background: $secondaryColor;
			border-left: 10px solid $breadcrumbColor;
			border-right: 10px solid $breadcrumbColor;
			content: '';
		}
		&:before {
			top: 0;
			transform: skew(20deg);
		}
		&:after {
			top: $breadcrumbHeight / 2;
			transform: skew(-20deg);
		}
		&:first-child:before,
		&:first-child:after {
			content: none;
		}
		&[disabled] {
			background-color: $breadcrumbDisabledBgColor;
			div {
				i.fa {
					color: $breadcrumbDisabledColor;
				}
				span {
					font-weight: normal;
					color: $breadcrumbDisabledColor;
				}
			}
			&:before,
			&:after {
				border-left: 10px solid $breadcrumbDisabledBgColor;
				border-right: 10px solid $breadcrumbDisabledBgColor;
			}
			&[first] {
				&:before,
				&:after {
					border-left: 10px solid $breadcrumbColor;
				}
			}
		}
	}
}

