@import '../../../../css/variable';

lg-footer {
	display: block;
	color: hsl($hue, 15%, 50%);
	background: darken($backgroundColor, 10%);
	a {
		color: hsl($hue, 15%, 50%);
		text-decoration: underline;
	}
	p {
		width: 100%;
		padding: 15px;
		font-size: 12px;
		text-align: center;
	}
}
