@import '../../../../css/variable';

lg-footer {
	display: block;
	height: $footerHeight;
	font-size: 0.8em;
	color: hsl($hue, 15%, 50%);
	background: darken($backgroundColor, 10%);
	a {
		color: hsl($hue, 15%, 50%);
		text-decoration: underline;
	}
	p {
		padding: 1.5em 0;
		text-align: center;
	}
}
