lg-social-login {
	.table {
		display: table;
		width: 100%;
	}
	.row {
		display: table-row;
	}
	.cell {
		display: table-cell;
		text-align: center;
	}
	img-svg {
		display: inline-block;
		width: 60px;
	}
	a {
		margin: 0;
		text-decoration: none;
		font-size: 20px;
		padding-bottom: 20px;
	}
	comment {
		text-align: center;
	}
}