<breadcrumb>
	<step-1>
		<div class="disable">
			<i class="fa fa-truck" aria-hidden="true"></i>
			<step>Choix du véhicule</step>
		</div>
	</step-1>
	<step-2>
		<div>
			<i class="fa fa-pie-chart" aria-hidden="true" class=""></i>
			<step>Disponibilité</step>
		</div>
	</step-2>
	<step-3>
		<div class="disable">
			<i class="fa fa-money" aria-hidden="true"></i>
			<step>Prix</step>
		</div>
	</step-3>
</breadcrumb>
<formx class="ad" name="carrierCtrl">
	<section class="dark">
		<big-label>Trajet</big-label>
		<label>Départ</label>
		<lg-city title="Ville du chargement" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.tripData.departureCity"></lg-city>
		<label>Arrivée</label>
		<lg-city title="Ville de la livraison" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.tripData.arrivalCity"></lg-city>
		<info-route ng-bind-html="$ctrl.tripData.infoRoute"></info-route>
	</section>
	<section>
		<big-label>Horaires</big-label>
		<label>Date et heure de chargement</label>
		<lg-datetime title="Date et heure" placeholder="Choisir une date" ng-model="$ctrl.tripData.departureDatetime" options="{defaultHour: 14}">
		</lg-datetime>
		<label>Date et heure de livraison</label>
		<lg-datetime title="Date et heure de livraison" placeholder="Date de départ" ng-model="$ctrl.tripData.arrivalDatetime"
			options="{defaultHour: 14}" after="$ctrl.tripData.departureDatetime" offset="$ctrl.tripData.minDuration">
			</lg-datetime>
			<info-route ng-bind-html="$ctrl.tripData.infoDuration"></info-route>
			<br/>
	</section>
	<section  class="dark">
		<big-label>Chargement restant</big-label>
		<label>Dimensions en mètre</label>
		<dimension ng-click="$ctrl.editDimension()">
			<div class="box no-zoom">
				<img-svg src="/img/truck/truck-width.svg"></img-svg>
			</div>
			<div class="box no-zoom">
				<img-svg src="/img/truck/truck-height.svg"></img-svg>
			</div>
			<div class="box no-zoom">
				<img-svg src="/img/truck/truck-depth.svg"></img-svg>
			</div>
		</dimension>
		<lg-dimension title="Dimensions du chargement" ng-model="$ctrl.tripData.dimension">
		</lg-dimension>
	</section>
	<section>
		<lg-error error="$ctrl.trip.error"></lg-error>
		<button ng-click="$ctrl.addTrip()">Valider</button>
	</section>
</form>
