<div class="ad-title">
	<left>
		<img-svg src="/img/frontal-truck.svg"></img-svg>
	</left>
	<right>
		<title>Transporteur</title>
		<subtitle>Etape 2 - Trajet</subtitle>
	</right>
</div>
<button id="specify">Spécifier un trajet</button>
<formx id="form" class="ad" name="carrierCtrl" style="display: none">
	<section class="dark">
		<big-label>Trajet</big-label>
		<label>Départ</label>
		<lg-city title="Ville du chargement" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.carrier.createData.departureCity"></lg-city>
		<label>Arrivée</label>
		<lg-city title="Ville de la livraison" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.carrier.createData.arrivalCity"></lg-city>
		<info ng-bind-html="$ctrl.carrier.createData.infoRoute"></info>
	</section>
	<section>
		<big-label>Horaires</big-label>
		<label>Date et heure de chargement</label>
		<lg-datetime title="Date et heure" placeholder="Choisir une date" ng-model="$ctrl.carrier.createData.departureDatetime" options="{defaultHour: 14}">
		</lg-datetime>
		<label>Date et heure de livraison</label>
		<lg-datetime title="Date et heure de livraison" placeholder="Date de départ" ng-model="$ctrl.carrier.createData.arrivalDatetime"
			options="{defaultHour: 14}" after="$ctrl.carrier.createData.departureDatetime" offset="$ctrl.carrier.createData.minDuration">
			</lg-datetime>
			<info ng-bind-html="$ctrl.carrier.createData.infoDuration"></info>
			<br/>
	</section>
	<section>
		<button ng-click="$ctrl.carrier.create()">Ajouter</button>
	</section>
</formx>
<button>Ne pas spécifier de trajet</button>
<script>
	$("#specify").click(
		function () {
			$("#form").slideToggle();
		}
	);
</script>
