<div class="ad-title">
	<left>
		<img-svg src="/img/frontal-truck.svg"></img-svg>
	</left>
	<right>
		<title>Transporteur</title>
		<subtitle>Etape 2 - Disponibilité</subtitle>
	</right>
</div>
<trajet>
	<ul class="way">
		<li ng-click="$ctrl.select('total')">
			<availability>
				<span>Disponibilité totale</span>
			</availability>
		</li>
		<li ng-click="$ctrl.select('specificTrip')">
			<availability>
				<span>Disponibilité sur un trajet spécifique (ex: retour à vide)</span>
				<i class="fa fa-chevron-right" aria-hidden="true"></i>
			</availability>
		</li>
	</ul>
</trajet>
