<div class="ad-title">
	<h1>Transporteur</h1>
	<img class="lg-svg" src="img/frontal-truck.svg" />
	<subtitle>Modifier un véhicule</subtitle>
</div>
<form class="ad" name="updateCtrl">
	<section>
		<label>Libellé unique du camion</label>
		<input type="text" placeholder="Ex : Camion 1" ng-model="$ctrl.truck.updateData.name" required/>
	</section>
	<section>
		<label>Type</label>
		<input type="choice" choices="$root.config.vehicleTypes" title="Type de véhicule" placeholder="Ex : Benne, Bâché, etc." ng-model="$ctrl.truck.updateData.type"
			required/>
		<label>Remorque</label>
		<comment>Mesures en mètre</comment>
		<truck-dim>
			<dimension>
				<div>
					<img src="img/hauteur.png" />
					<p>Hauteur</p>
					<input type="num" placeholder="H." vertical ng-model="$ctrl.updateData.height" options="{format: 2, step: 0.1}" />
				</div>
				<div>
					<img src="img/profondeur.png" />
					<p>Profondeur</p>
					<input type="num" placeholder="P." vertical ng-model="$ctrl.truck.updateData.deep" options="{format: 2, step: 0.1}" />
				</div>
				<div>
					<img src="img/largeur.png" />
					<p>Largeur</p>
					<input type="num" placeholder="L." vertical ng-model="$ctrl.truck.updateData.width" options="{format: 2, step: 0.1}" />
				</div>
			</dimension>
		</truck-dim>
		<label>Année du camion</label>
		<input type="choice" choices="$root.config.years" title="Année du camion" placeholder="Ex : 2005, 2006, 2007" ng-model="$ctrl.truck.updateData.birthyear"
		/>
		<div class="photo">
			<label>Insérer une photo</label>
			<lg-upload form-data="{suffix: '_ad123'}"></lg-upload>
		</div>
	</section>
	<section>
		<big-label>Origine</big-label>
		<label>Pays</label>
		<input type="choice" choices="$root.config.countries" title="Pays d\'origine" placeholder="Ex : Algérie, Maroc, etc." ng-model="$ctrl.truck.updateData.country"
		/>
		<label>Ville</label>
		<input type="choice" choices="$root.config.cities" title="Ville" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.truck.updateData.city"
		/>
	</section>
	<section>
		<big-label>Chargement</big-label>
		<label>Type</label>
		<input type="choice" choices="$root.config.conditionings" title="Type de conditionnement" placeholder="Ex : Colis, Palettes, Vrac"
			ng-model="$ctrl.truck.updateData.conditioning" />
		<div class="complement">
			<label>Volume max. (en m3)</label>
			<input type="num" placeholder="Volume max." ng-model="$ctrl.truck.updateData.maxVolume" />
		</div>
		<div class="complement">
			<label>Poids max. (en tonne)</label>
			<input type="num" placeholder="Poids max." ng-model="$ctrl.truck.updateData.maxWeight" />
		</div>
	</section>
	<section>
		<lg-error error="$ctrl.truck.error"></lg-error>
		<button ng-click="$ctrl.truck.update();">Enregistrer</button>
	</section>
</form>