<breadcrumb>
	<step start>
		<div>
			<i class="fa fa-truck" aria-hidden="true"></i><br/>
			<span>Véhicule</span>
		</div>
	</step>
	<step>
		<div>
			<i class="fa fa-pie-chart" aria-hidden="true" class=""></i><br/>
			<span>Disponibilité</span>
		</div>
	</step>
	<step first disabled>
		<div>
			<i class="fa fa-money" aria-hidden="true"></i><br/>
			<span>Prix</span>
		</div>
	</step>
</breadcrumb>
<trajet>
	<ul class="way">
		<li ng-click="$ctrl.select('total')">
			<availability>
				<left>
					<label>Disponibilité totale</label>
					<comments>Le vehicule est disponible pour tous types de trajet dans les environs de sa ville d'origine</comments>
				</left>
				<right>

				</right>
			</availability>
		</li>
		<li ng-click="$ctrl.select('specificTrip')">
			<availability>
				<left>
					<label>Disponibilité sur un trajet spécifique</label>
					<comments>ex: retour à vide, espace de chargement restant, etc.</comments>
				</left>
				<right>
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</right>
			</availability>
		</li>
	</ul>
</trajet>
