<div class="ad-title">
	<left>
		<img-svg src="/img/frontal-truck.svg"></img-svg>
	</left>
	<right>
		<title>Transporteur</title>
		<subtitle>Etape 3 - Chargement</subtitle>
	</right>
</div>
<formx class="ad" name="carrierCtrl">
	<section class="dark">
		<big-label>Chargement</big-label>
		<label>Volume max. (en m3)</label>
		<input type="num" placeholder="Volume max." ng-model="$ctrl.carrier.createData.maxVolume" />
		<label>Poids max. (en tonne)</label>
		<input type="num" placeholder="Poids max." ng-model="$ctrl.carrier.createData.maxWeight" />
	</section>
	<section>
		<button ng-click="$ctrl.addLoading()">Ajouter</button>
	</section>
</form>
