<breadcrumb>
	<step-1>
		<div>
			<i class="fa fa-truck" aria-hidden="true"></i>
			<step>Choix du véhicule</step>
		</div>
	</step-1>
	<step-2>
		<div class="disable">
			<i class="fa fa-pie-chart" aria-hidden="true" class=""></i>
			<step>Disponibilité</step>
		</div>
	</step-2>
	<step-3>
		<div class="disable">
			<i class="fa fa-money" aria-hidden="true"></i>
			<step>Prix</step>
		</div>
	</step-3>
</breadcrumb>
<no-vehicle ng-hide="$ctrl.hasTruck">
	<span>Ajouter un véhicule à votre flotte</span>
	<button ui-sref="carrier:create:truck:create"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Continuer</button>
</no-vehicle>
<at-list-one-vehicle ng-show="$ctrl.hasTruck">
	<span>Sélectionner ou ajouter<br/>un véhicule</span>
	<list>
		<item ng-click="$ctrl.selectTruck(truck)" ng-repeat="truck in $ctrl.truck.trucks">
			<left>
				<img ng-show="truck.image === undefined" src="img/truck-default.svg">
				<img ng-show="truck.image.thumbnailUrl" ng-src="{{truck.image.thumbnailUrl}}">
			</left>
			<right>
				<h2>{{truck.name}}</h2>
				<span>{{truck.model}} - {{truck.birthyear}}</span>
				<span>{{truck.transportCategory}} - {{truck.transportTruckType}}</span>
			</right>
		</item>
	</list>
	<lg-hr>ou</lg-hr>
	<button ui-sref="carrier:create:truck:create">Ajouter un nouveau véhicule</button>
	<button ui-sref="carrier:create:availability">Etape suivante</button>
</at-list-one-vehicle>
