<section class="banner">
    <h1>Transporteur</h1>
    <img class="lg-svg" src="img/frontal-truck.svg"/>
    <h2>Déposer une annonce</h2>
</section>
<section class="form">
    <form name="adcarrierCtrl">
        <label>Description du type de véhicule</label>
        <input type="choice" choices="$root.config.vehicleTypes"
            title="Type de véhicule"  placeholder="Ex : Benne, Bâché, etc."
            ng-model="$ctrl.carrier.createData.content.type" required/>
        <br/>
        <hr/>
        <br/>
        
        <label>Dimension de la capacité de la remorque</label>
        <comment>Mesures en mètre</comment>
        <truck-dim>
            <dimension>
                <div>
                    <img src="img/hauteur.png"/>
                    <p>Hauteur</p>
                    <input type="num" placeholder="H." vertical ng-model="addCtrl.vehicle.box.height" options="{format: 2, step: 0.1}"/>
                </div>
                <div>
                    <img src="img/profondeur.png"/>
                    <p>Profondeur</p>
                    <input type="num" placeholder="P." vertical ng-model="addCtrl.vehicle.box.deep" options="{format: 2, step: 0.1}"/>
                </div>
                <div>
                    <img src="img/largeur.png"/>
                    <p>Largeur</p>
                    <input type="num" placeholder="L." vertical ng-model="addCtrl.vehicle.box.width" options="{format: 2, step: 0.1}"/>
                </div>
            </dimension>
        </truck-dim>
        <div class="photo">
            <label>Inserer une photo</label><br/>
            <input type="file" ng-model="addCtrl.vehicle.image" accept="image/*" />
        </div>

        <hr/><br/>

        <label>Pays d'origine du véhicule</label><br/>
        <input type="choice" choices="$root.config.countries"
            title="Pays d\'origine" placeholder="Ex : Algérie, Maroc, etc."
            ng-model="$ctrl.carrier.createData.content.country" />
        <br/>
        <label>Ville</label><br/>
        <input type="choice" choices="$root.config.cities" title="Ville" placeholder="Ex : Oran, Alger, etc."
            ng-model="$ctrl.carrier.createData.content.city" />
        <br/>
        <label>Type de conditionnement</label><br/>
        <input type="choice" choices="$root.config.conditionings" title="Type de conditionnement"
            placeholder="Ex : Colis, Palettes, Vrac"
            ng-model="$ctrl.carrier.createData.content.conditioning" />
        <br/><!--
        <div class="complement">
            <label>Volume maximum de chargement (en m3)</label><br/>
            <button class="plus2">+</button><input type="text" name="" id="" placeholder="42" ng-model="addCtrl.vehicle.maxVolume" /><button class="moins2"> - </button>
        </div>
        <div class="complement">
            <label>Poids maximum de chargement du véhicule (en tonne)</label><br/>
            <button class="plus2">+</button><input type="text" name="" id="" placeholder="35" ng-model="addCtrl.vehicle.maxWeight" /><button class="moins2"> - </button>
        </div>-->
        <label>Année du camion</label><br/>
        <input type="choice" choices="$root.config.years" title="Année du camion" placeholder="Ex : 2005, 2006, 2007"
            ng-model="$ctrl.carrier.createData.content.birthyear" />
        <br/>
        <button ng-click="$ctrl.carrier.createTruck();">Ajouter à ma liste de vehicule ></button>
		<button ng-click="$ctrl.carrier.create();">Envoyer ></button>
    </form>
</section>