installation

<form name="installForm" ng-submit="install()">
    <label for="hostname">Hostname</label>
    <input type="text" id="hostname" ng-model="obj.hostname" /><br/>
    <label for="username">Username</label>
    <input type="text" id="username" ng-model="obj.username" /><br/>
    <label for="password">Password</label>
    <input type="text" id="password" ng-model="obj.password" /><br/>
    <label for="databaseName">Database name</label>
    <input type="text" id="databaseName" ng-model="obj.databaseName" /><br/>

    <input type="submit" value="Install" />
</form>
