/* Liste annonce */
.banner-annonce {
    width: 100%;
    padding: 0 10px;
    background: hsla(0, 0%, 96%, 1);
	text-align: center;

    button {
        height: 45px;
    }

    img {
        width: 25px;
        display: inline-block;
    }

    h1 {
        font-size: 20px;
        margin: 3px 0;
        display: inline-block;
    }

}

.liste-annonce {
    width: 100%;
    display: block;
    padding: 0px;
}

.block-annonce {
    width: 100%;
    font-size: 0px;
    margin: 0px;
    border-bottom: 1px solid hsla(0, 0%, 93%, 1);
}

.identity {
    display: inline-block;
    width: 25%;
    margin: 0px;
    padding: 27px 0px;
    font-size: 27px;
    text-align: center;
    background: hsla(171, 99%, 38%, 1);
    color: white;
}

.details {
    display: inline-block;
    width: 75%;
    margin: 0px;
    padding: 10px;
    text-align: left;
    background-color: white;
}

.details p {
    color: hsla(214, 46%, 25%, 1);
    font-size: 17px;
}

.details-time {
    margin: 5px 0;
}

.size, .origin, .year, .tarif{
    font-size: 14px;
}

.size{
    color: hsla(0, 0%, 84%, 1);
    float: left;
}

.origin{
    color: hsla(171, 99%, 38%, 1);
    float: right;
}

.year {
    float: left;
    color: black;
}

.tarif{
    color: hsla(171, 99%, 38%, 1);
    float: right;
}
