@import '../../../css/color';
sign-form {
	display: block;
	text-align: left;
	width: 100%;
	padding: 0px;
	.table {
		display: table;
		width: 100%;
	}
	.row {
		display: table-row;
	}
	.cell {
		display: table-cell;
		text-align: center;
	}
	img-svg {
		display: inline-block;
		width: 60px;
	}
	a {
		margin: 0px;
		text-decoration: none;
		font-size: 20px;
		padding-bottom: 20px;
	}
	comment {
		text-align: center;
	}
}

lg-user-create-route {
	form {
		div {
			display: block;
			position: relative;
			.fa {
				display: block;
				position: absolute;
				top: 15px;
				left: 88%;
				font-size: 25px;
				color: green;
			}
			.error {
				color: red;
			}
			div {
				display: block;
				span {
					display: inline-block;
					font-size: 13px;
					color: red;
				}
			}
		}
		.profile {
			display: block;
			font-size: 15px;
			text-align: center;
			color: $fontColor;
		}
		.password {
			display: block;
			font-size: 13px;
			text-align: center;
			color: $red;
		}
	}
}


lg-user-signup-success-route {
	display: block;
	padding: 0px 5px;
}

.profil {
	text-align: center;
	width: 100%;
	padding: 0px;
	margin: 20px 0px 10px;
	i {
		font-size: 70px;
	}
	h1 {
		font-size: 30px;
		margin: 10px 0;
	}
	h2 {
		font-size: 30px;
		margin: 10px 0;
	}
}

.edit-profile a {
	display: block;
	text-align: center;
	width: 100%;
}
