@import '../../../css/variable';


lg-user-create-route {
	div {
		display: block;
		position: relative;
		div {
			display: block;
			span {
				display: inline-block;
				font-size: 13px;
				color: red;
			}
		}
	}
	.profile {
		display: block;
		font-size: 15px;
		text-align: center;
		color: $fontColor;
	}
}


lg-user-initiate-password-route {
	h1 {
		display: block;
		margin: 20px 0;
		text-align: center;
		font-size: 20px;
		font-weight: 700;
	}
}

lg-user-signup-success-route {
	display: block;
	padding: 20px;
}

.profil {
	text-align: center;
	width: 100%;
	padding: 0;
	margin: 20px 0 10px;
	i {
		font-size: 70px;
	}
	h1 {
		font-size: 30px;
		margin: 10px 0;
	}
	h2 {
		font-size: 30px;
		margin: 10px 0;
	}
}
