<input ng-hide="$ctrl.show" type="password" name="{{$ctrl.name}}-crypted" placeholder="{{$ctrl.placeholder}}" ng-model="$ctrl.password" />
<span ng-hide="$ctrl.show" class="eye"><i ng-click="$ctrl.toggle();" class="fa fa-eye-slash" aria-hidden="true"></i></span>
<input ng-show="$ctrl.show" type="text" name="{{$ctrl.name}}-clear" placeholder="{{$ctrl.placeholder}}" ng-model="$ctrl.password" />
<span ng-show="$ctrl.show" class="eye"><i ng-click="$ctrl.toggle();" class="fa fa-eye" aria-hidden="true"></i></span>
