@import '../../../css/color';
lg-choice {
	display: block;
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	my-input.filled {
		color: $inputColor;
	}
	.region {
		font-size: 15px;
		color: $thirdColor;
	}
	>icon {
		position: absolute;
		top: 7px;
		right: 19px;
		font-size: 30px;
		i {
			color: $thirdColor;
		}
		svg {
			position: absolute;
			width: 34px;
			left: -35px;
			top: 3px;
			fill: $thirdColor;
		}
	}

	overlay {
		filter {
			display: block;
			width: 100%;
			height: 64px;
			padding: 5px 3px;
			background-color: gray(92%);
			input {
				width: 100%;
				margin: 0 0;
				font-size: 17px;
				padding: 15px 10px;
				border-radius: 3px;
				border: 1px solid $borderColor;
			}
			div.erase {
				top: 65px !important;
			}
		}
	}
}
