@import '../../../css/color';
lg-choice {
	display: block;
	position: relative;
	top: 0px;
	right: 0px;
	width: 100%;
	my-input {
		display: block;
		border: 1px solid $borderColor;
		border-radius: 3px;
		margin: 5px 0px;
		padding-right: 40px;
		color: $placeholderColor;
		width: 100%;
		background-color: white;
	}
	my-input.filled {
		color: $inputColor;
	}
	.region {
		font-size: 15px;
		color: $selectedColor;
	}
	>icon {
		position: absolute;
		top: 7px;
		right: 19px;
		font-size: 30px;
		i {
			color: $selectedColor;
		}
		svg {
			position: absolute;
			width: 34px;
			left: -35px;
			top: 3px;
			fill: $selectedColor;
		}
	}

	overlay {
		filter {
			display: block;
			width: 100%;
			height: 64px;
			padding: 5px 0px;
			background-color: $lightGray;
			input {
				width: 100%;
				margin: 0px 0px;
				font-size: 17px;
				padding: 15px 10px;
				border-radius: 3px;
				border: 1px solid $borderColor;
			}
		}
	}
}
