@import '../../../css/color';

error-message {
	display: block;
	margin: 0px 0 20px;
	font-size: 13px;
	span {
		color: $errorColor;
		font-weight: bold;
	}
}

form {
	div {
		display: block;
		position: relative;	
	}
	.ng-dirty.ng-invalid.ng-touched {
		background-color: hsl(0, 100%, 97%);
		border-color: hsl(0, 100%, 80%);
		my-input {
			background-color: hsl(0, 100%, 97%);
			border-color: hsl(0, 100%, 80%);
		}
	}
	message-form-validator {
		.fa {
			display: block;
			position: absolute;
			top: 15px;
			left: 88%;
			font-size: 25px;
			color: green;
		}
		.error {
			color: red;
		}
		div {
			display: block;
			span {
				display: inline-block;
				font-size: 13px;
				color: red;
			}
		}
		.profile {
			display: block;
			font-size: 15px;
			text-align: center;
			color: $fontColor;
		}

		.password {
			display: block;
			font-size: 13px;
			text-align: center;
			color: $red;
		}
	}
}
