@import '../../../css/variable';

error-message {
	display: block;
	margin: 0 0 20px;
	font-size: 13px;
	span {
		color: $criticalColor;
		font-weight: bold;
	}
}

div {
	display: block;
	position: relative;
}

.ng-dirty.ng-invalid.ng-touched {
	background: hsl(0, 100%, 97%);
	border-color: hsl(0, 100%, 80%);
	my-input {
		background: hsl(0, 100%, 97%);
		border-color: hsl(0, 100%, 80%);
	}
}

message-form-validator {
	display: block;
	position: relative;
	.fa {
		display: block;
		position: absolute;
		top: -43px;
		left: 91%;
		font-size: 25px;
		color: $buttonColor;
	}
	.error {
		color: red;
	}
	div {
		display: block;
		span {
			display: inline-block;
			font-size: 13px;
			color: red;
		}
	}
	.profile {
		display: block;
		font-size: 15px;
		text-align: center;
		color: $fontColor;
	}
}
