<div class="filter-bar clearfix">
	<div class="left">
		<div>
			<span id="noAds" ng-show="$ctrl.filteredlist.length === 0" ng-init="$ctrl.list">Aucune annonce de transporteur</span>
			<span ng-show="$ctrl.filteredlist.length === 1" ng-init="$ctrl.list">1 annonce de transporteur</span>
			<span ng-show="$ctrl.filteredlist.length > 1" ng-init="$ctrl.list">{{$ctrl.filteredlist.length}} annonces de transporteur</span>
			<br>
			<span ng-show="$ctrl.removedByFilterLength === 0"></span>
			<span ng-show="$ctrl.removedByFilterLength === 1" class="total-filtered">1 annonce filtrée</span>
			<span ng-show="$ctrl.removedByFilterLength > 1" class="total-filtered">{{$ctrl.removedByFilterLength}} annonces filtrées</span>
		</div>
	</div>
	<div class="right">
		<lg-filter filter="$ctrl.filter"></lg-filter>
		<lg-orderby order="$ctrl.order"></lg-orderby>
	</div>
</div>
<carrier-list>
	<ad-block ng-repeat="ad in $ctrl.filteredlist | limitTo:$ctrl.limit" ng-click="$root.goToState('carrier:retrieve({ id: '+ ad.id +'})')">
		<header ad-id="{{ad.id}}" ng-if="ad.content.availability === 'specificTrip'">
			<h1>{{ad.content.truck.name}}</h1>
			<h2>
				<created>Publié le {{ad.content.created_t | ts2date | date : "EEEE d LLLL yyyy à H'h'" | ucfirst}}</created>
				<by>Par {{ad.content.login | ucfirst}}</by>
			</h2>
			<h2>
				<date>Départ le {{ad.content.trip.departureDatetime | date : "EEEE d LLLL yyyy à H'h'" | ucfirst}}</date>
				<distance>{{ad.content.trip.distance}}km - {{ad.content.trip.minDuration | duration}}</distance>
			</h2>
			<places>
				<from>
					<labels>
						De :
					</labels>
					<values>
						<city>
							<i class="fa fa-map-marker" aria-hidden="true"></i> {{ad.content.trip.departureCity.city}}</city>
						<region>{{ad.content.trip.departureCity.region}}</region>
					</values>
				</from>
				<to>
					<labels>
						A :
					</labels>
					<values>
						<city>
							<i class="fa fa-map-marker" aria-hidden="true"></i> {{ad.content.trip.arrivalCity.city}}</city>
						<region>{{ad.content.trip.arrivalCity.region}}</region>
					</values>
				</to>
			</places>
		</header>
		<content ng-show="ad.content.availability === 'specificTrip'">
			<content-left>
				<img-svg ng-show="ad.content.truck.image === undefined" src="/img/truck-default.svg"></img-svg>
				<img ng-show="ad.content.truck.image.thumbnailUrl" ng-src="{{ad.content.truck.image.url}}">
			</content-left>
			<content-right>
				<transport-category>{{ad.content.truck.transportCategory}} - {{ad.content.truck.transportTruckType}}</transport-category>
				<model>{{ad.content.truck.model}}</model>
				<rate-km>{{ad.content.pricing.priceWanted / ad.content.trip.distance | currency : '' : 0}} DZD/km</rate-km>
				<rate>{{ad.content.pricing.priceWanted}} DZD</rate>
			</content-right>
		</content>
		<header ad-id="{{ad.id}}" ng-if="ad.content.availability === 'total'">
			<h1>{{ad.content.truck.name}}</h1>
			<div>
				<created>Publié le {{ad.content.created_t | ts2date | date : "EEEE d LLLL yyyy à H'h'" | ucfirst}}</created>
				<by>Par {{ad.content.login | ucfirst}}</by>
			</div>
			<city>
				<i class="fa fa-map-marker" aria-hidden="true"></i> {{ad.content.truck.city.city}}</city>
			<region>{{ad.content.truck.city.region}}</region>
		</header>
		<content ng-show="ad.content.availability === 'total'">
			<content-left>
				<img-svg ng-show="ad.content.truck.image === undefined" src="/img/truck-default.svg"></img-svg>
				<img ng-show="ad.content.truck.image.thumbnailUrl" ng-src="{{ad.content.truck.image.thumbnailUrl}}">
			</content-left>
			<content-right>
				<transport-category>{{ad.content.truck.transportCategory}} - {{ad.content.truck.transportTruckType}}</transport-category>
				<model>{{ad.content.truck.model}}</model>
				<rate>{{ad.content.pricing.priceWantedPerKm}} DZD/km</rate>
			</content-right>
		</content>
	</ad-block>
	<button ng-show="$ctrl.filteredlist.length > 50" class="transparent" ng-click="$ctrl.loadMore()">
		<i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Annonces suivantes</button>
</carrier-list>
<!--<add-ads>
	<button ui-sref="carrier:create"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Ajouter une annonce</button>
</add-ads>-->
