<lg-breadcrumb config="$ctrl.breadcrumb" step="2"></lg-breadcrumb>
<trajet>
	<ul class="way">
		<li id="pr-availability-total" ng-click="$ctrl.select('total')">
			<availability>
				<left>
					<div>Disponibilité totale</div>
					<comments>Le vehicule est disponible pour tous types de trajet dans les environs de sa ville d'origine</comments>
				</left>
				<right>

				</right>
			</availability>
		</li>
		<li id="pr-availability-specific" ng-click="$ctrl.select('specificTrip')">
			<availability>
				<left>
					<div>Disponibilité sur un trajet spécifique</div>
					<comments>ex: retour à vide, espace de chargement restant, etc.</comments>
				</left>
				<right>
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</right>
			</availability>
		</li>
	</ul>
</trajet>
