<div class="ad-title">
	<left>
		<img-svg src="/img/frontal-truck.svg"></img-svg>
	</left>
	<right>
		<title>Transporteur</title>
		<subtitle>Déposer une annonce</subtitle>
	</right>
</div>
<summary>
	<div>
		<steps>
			<step id="pr-select-truck-link" ng-click="$root.goToState('carrier:create:truck:choose')" ng-class="$ctrl.carrierStepManager.getClass(1)">
				<num-step>1</num-step>
				<label ng-show="$ctrl.carrierStepManager.getStep() === 1">Choix du véhicule</label>
				<label ng-hide="$ctrl.carrierStepManager.getStep() === 1">
					<item>
						<left>
							<img-svg ng-show="$ctrl.carrier.createData.truck.image === undefined" src="/img/truck-default.svg"></img-svg>
							<img ng-show="$ctrl.carrier.createData.truck.image.thumbnailUrl" ng-src="{{$ctrl.carrier.createData.truck.image.thumbnailUrl}}">
						</left>
						<right>
							<h2>{{$ctrl.carrier.createData.truck.name}}</h2>
							<span>{{$ctrl.carrier.createData.truck.model}} - {{$ctrl.carrier.createData.truck.birthyear}}</span>
							<span>{{$ctrl.carrier.createData.truck.transportCategory}} - {{$ctrl.carrier.createData.truck.transportTruckType}}</span>
						</right>
					</item>


				</label>
				<chevron>
					<i ng-show="$ctrl.carrierStepManager.getStep() >= 1" class="fa fa-chevron-right" aria-hidden="true"></i>
				</chevron>
			</step>
			<step id="pr-select-availabilities" ng-click="$root.goToState('carrier:create:availability')" ng-class="$ctrl.carrierStepManager.getClass(2)">
				<num-step>2</num-step>
				<label ng-show="$ctrl.carrierStepManager.getStep() <= 2">Disponibilité</label>
				<label ng-hide="$ctrl.carrierStepManager.getStep() <= 2">
					<span ng-show="$ctrl.carrier.createData.availability === 'total'">Disponibilité totale</span>
					<availability ng-show="$ctrl.carrier.createData.availability === 'specificTrip'">
						<date>{{$ctrl.carrier.createData.trip.departureDatetime | date : "EEEE d LLLL yyyy à H'h'" | ucfirst}}</date>
						<distance>{{$ctrl.carrier.createData.trip.distance}}km - {{$ctrl.carrier.createData.trip.minDuration | duration}}</distance>
						<places>
							<from>
								<labels>
									De :
								</labels>
								<values>
									<city><i class="fa fa-map-marker" aria-hidden="true"></i> {{$ctrl.carrier.createData.trip.departureCity.city}}</city>
									<region>{{$ctrl.carrier.createData.trip.departureCity.region}}</region>
								</values>
							</from>
							<to>
								<labels>
									A :
								</labels>
								<values>
									<city><i class="fa fa-map-marker" aria-hidden="true"></i> {{$ctrl.carrier.createData.trip.arrivalCity.city}}</city>
									<region>{{$ctrl.carrier.createData.trip.departureCity.region}}</region>
								</values>
							</to>
						</places>
					</header>
				</label>
				<chevron>
					<i ng-show="$ctrl.carrierStepManager.getStep() >= 2" class="fa fa-chevron-right" aria-hidden="true"></i>
				</chevron>
			</step>
			<step id="pr-select-price" ng-click="$root.goToState('carrier:create:pricing')" ng-class="$ctrl.carrierStepManager.getClass(3)">
				<num-step>3</num-step>
				<label ng-show="$ctrl.carrierStepManager.getStep() <= 3">Prix</label>
				<label ng-show="$ctrl.carrierStepManager.getStep() > 3">
					<span ng-show="$ctrl.carrier.createData.availability === 'total'">
						<span ng-show="$ctrl.carrier.createData.pricing.priceWantedPerKm">Prix : {{$ctrl.carrier.createData.pricing.priceWantedPerKm}} DZD/km</span>
						<span ng-hide="$ctrl.carrier.createData.pricing.priceWantedPerKm">Prix</span>
					</span>
					<span ng-show="$ctrl.carrier.createData.availability === 'specificTrip'">
						<span ng-show="$ctrl.carrier.createData.pricing.priceWanted">Prix : {{$ctrl.carrier.createData.pricing.priceWanted}} DZD</span>
						<span ng-hide="$ctrl.carrier.createData.pricing.priceWanted">Prix</span>
					</span>
				</label>
				<chevron>
					<i ng-show="$ctrl.carrierStepManager.getStep() >= 3" class="fa fa-chevron-right" aria-hidden="true"></i>
				</chevron>
			</step>
		</steps>
		<button id="pr-create-carrier-button" ng-show="$ctrl.carrierStepManager.getStep() === 4 && $ctrl.carrier.type === 'create'" ng-click="$ctrl.carrier.create($ctrl.carrier.createData)">Mettre en ligne mon annonce</button>
		<button id="pr-update-carrier-button" ng-show="$ctrl.carrierStepManager.getStep() === 4 && $ctrl.carrier.type === 'update'" ng-click="$ctrl.carrier.update()">Mettre en ligne mon annonce modifiée</button>
	</div>
</summary>
