<lg-breadcrumb config="$ctrl.breadcrumb" step="2"></lg-breadcrumb>
<trajet>
	<ul class="way">
		<li id="pr-availability-total" ng-click="$ctrl.select('total')">
			<availability>
				<left>
					<div lang="fr">Disponibilité totale</div>
					<div lang="ar">متوفر كلياّ</div>
					<comments lang="fr">Le vehicule est disponible pour tous types de trajet dans les environs de sa ville d'origine</comments>
					<comments lang="ar">هذه المركبة متوفرة كلياّ في نواحي مدينة تواجدها</comments>
				</left>
				<right>

				</right>
			</availability>
		</li>
		<li id="pr-availability-specific" ng-click="$ctrl.select('specificTrip')">
			<availability>
				<left>
					<div lang="fr">Disponibilité sur un trajet spécifique</div>
					<div lang="ar">متوفرة في إتّجاه محدّد</div>
					<comments lang="fr">ex: retour à vide, espace de chargement restant, etc.</comments>
					<comments lang="ar">متوفرة بتاريخ أو وقت معيّن ,أو توفر مكان باقي للشحن في المركبة ,تفادي العودة فارغا بدون شحن </comments>
				</left>
				<right>
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</right>
			</availability>
		</li>
	</ul>
</trajet>
