<breadcrumb>
	<step>
		<div>
			<i class="fa fa-truck" aria-hidden="true"></i><br>
			<span>Véhicule</span>
		</div>
	</step>
	<step>
		<div>
			<i class="fa fa-pie-chart" aria-hidden="true" class=""></i><br>
			<span>Disponibilité</span>
		</div>
	</step>
	<step>
		<div>
			<i class="fa fa-money" aria-hidden="true"></i><br>
			<span>Prix</span>
		</div>
	</step>
</breadcrumb>
<form name="formCtrl" ng-submit="$ctrl.fv.check(formCtrl) && $ctrl.addPricing()" class="ad" novalidate>
	<section ng-show="$ctrl.carrier.createData.availability === 'specificTrip'">
		<label>
			<span>Tarif souhaité pour le trajet en DZD (facultatif)</span>
			<input id="pr-price-wanted" name="priceWanted" type="number" placeholder="Ex: 5000" pattern="[0-9]*" ng-model="$ctrl.pricingData.priceWanted">
		</label>
		<div ng-bind-html="$ctrl.carrier.createData.trip.infoRoute"></div>
		<div class="bold">Prix au km : {{$ctrl.pricingData.priceWanted / $ctrl.carrier.createData.trip.distance | currency : 'DZD' : 0 }}</div>
	</section>
	<section ng-show="$ctrl.carrier.createData.availability === 'total'">
		<label>
			<span>Tarif souhaité en DZD/km (facultatif)</span>
			<input name="priceWantedPerKm" type="number" placeholder="Ex: 50" pattern="[0-9]*" ng-model="$ctrl.pricingData.priceWantedPerKm">
		</label>
	</section>
	<section class="dark">
		<label>
			<span>Commentaire (facultatif)</span>
			<textarea id="pr-comments" ng-model="$ctrl.pricingData.comments"></textarea>
		</label>
	</section>
	<section>
		<button type="submit">Valider</button>
	</section>
</form>
