<breadcrumb>
	<step start>
		<div>
			<i class="fa fa-truck" aria-hidden="true"></i><br/>
			<span>Véhicule</span>
		</div>
	</step>
	<step first disabled>
		<div>
			<i class="fa fa-pie-chart" aria-hidden="true" class=""></i><br/>
			<span>Disponibilité</span>
		</div>
	</step>
	<step disabled>
		<div>
			<i class="fa fa-money" aria-hidden="true"></i><br/>
			<span>Prix</span>
		</div>
	</step>
</breadcrumb>
<form name="formCtrl" ng-submit="$ctrl.fv.check(formCtrl) && $ctrl.addTrip()" class="ad" novalidate>
	<section class="dark">
		<h2>Trajet</h2>
		<label>
			<span>Départ</span>
			<lg-city name="departureCity" title="Ville du chargement" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.tripData.departureCity"
				required></lg-city>
		</label>
		<message-form-validator>
			<error-message ng-show="$ctrl.fv.isError(formCtrl.departureCity)">
				<span ng-show="formCtrl.departureCity.$error.required">La ville du chargement est obligatoire.</span>
			</error-message>
		</message-form-validator>
		<label>
			<span>Arrivée</span>
			<lg-city name="arrivalCity" title="Ville de la livraison" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.tripData.arrivalCity"
				required></lg-city>
		</label>
		<message-form-validator>
			<error-message ng-show="$ctrl.fv.isError(formCtrl.arrivalCity)">
				<span ng-show="formCtrl.arrivalCity.$error.required">La ville de la livraison est obligatoire.</span>
			</error-message>
		</message-form-validator>
		<info-route ng-bind-html="$ctrl.tripData.infoRoute"></info-route>
	</section>
	<section>
		<h2>Horaires</h2>
		<label>
			<span>Date et heure de chargement</span>
			<lg-datetime name="departureDatetime" title="Date et heure" placeholder="Choisir une date" ng-model="$ctrl.tripData.departureDatetime"
				options="{defaultHour: 14}" required>
			</lg-datetime>
		</label>
		<message-form-validator>
			<error-message ng-show="$ctrl.fv.isError(formCtrl.departureDatetime)">
				<span ng-show="formCtrl.departureDatetime.$error.required">La date et heure de chargement est obligatoire.</span>
			</error-message>
		</message-form-validator>
		<label>
			<span>Date et heure de livraison</span>
			<lg-datetime name="arrivalDatetime" title="Date et heure de livraison" placeholder="Date de livraison" ng-model="$ctrl.tripData.arrivalDatetime" options="{defaultHour: 14}"
				after="$ctrl.tripData.departureDatetime" offset="$ctrl.tripData.minDuration" required>
			</lg-datetime>
		</label>
		<message-form-validator>
			<error-message ng-show="$ctrl.fv.isError(formCtrl.arrivalDatetime)">
				<span ng-show="formCtrl.arrivalDatetime.$error.required">La date et heure de livraison est obligatoire.</span>
			</error-message>
		</message-form-validator>
		<info-route ng-bind-html="$ctrl.tripData.infoDuration"></info-route>
		<br/>
	</section>
	<section class="dark">
		<h2>Chargement restant</h2>
		<label>
			<span>Dimensions en mètre</span>
			<dimension ng-click="$ctrl.editDimension()">
				<div class="box no-zoom">
					<img-svg src="/img/truck/truck-width.svg"></img-svg>
				</div>
				<div class="box no-zoom">
					<img-svg src="/img/truck/truck-height.svg"></img-svg>
				</div>
				<div class="box no-zoom">
					<img-svg src="/img/truck/truck-depth.svg"></img-svg>
				</div>
			</dimension>
			<lg-dimension title="Dimensions du chargement" ng-model="$ctrl.tripData.dimension">
			</lg-dimension>
		</label>
	</section>
	<section>
		<lg-error error="$ctrl.trip.error"></lg-error>
		<button type="submit">Valider</button>
	</section>
</form>
