<breadcrumb>
	<step>
		<div>
			<i class="fa fa-truck" aria-hidden="true"></i><br/>
			<span>Véhicule</span>
		</div>
	</step>
	<step first disabled>
		<div>
			<i class="fa fa-pie-chart" aria-hidden="true" class=""></i><br/>
			<span>Disponibilité</span>
		</div>
	</step>
	<step disabled>
		<div>
			<i class="fa fa-money" aria-hidden="true"></i><br/>
			<span>Prix</span>
		</div>
	</step>
</breadcrumb>
<formx class="ad" name="carrierCtrl">
	<section class="dark">
		<label>Immatriculation ou libellé du vehicule</label>
		<input id="pr-vehicle-name" type="text" placeholder="Ex : 123456-123-16" ng-model="$ctrl.truck.createData.name" required/>
		<label>Description succinte du modèle</label>
		<input id="pr-vehicle-description" type="text" placeholder="Ex : Renault D Wide" ng-model="$ctrl.truck.createData.model" required/>
	</section>
	<section>
		<label>Ville d'origine</label>
		<lg-city name="city" title="Ville" placeholder="Ex : Oran, Alger, etc." ng-model="$ctrl.truck.createData.city"></lg-city>
	</section>
	<section>
		<big-label>Transport</big-label>
		<lg-select id="pr-vehicle" ng-model="$ctrl.truck.createData.transportCategory">
			<lg-option value="Camion"><i class="fa fa-truck" aria-hidden="true"></i><span>Camion</span></lg-option>
			<lg-option value="Avion"><i class="fa fa-plane" aria-hidden="true"></i><span>Avion</span></lg-option>
			<lg-option value="Bateau"><i class="fa fa-ship" aria-hidden="true"></i><span>Bateau</span></lg-option>
		</lg-select>

		<div ng-show="$ctrl.truck.createData.transportCategory === 'Camion'">
			<label>Type de camion</label>
			<input id="pr-vehicle-type" type="choice" options="{icon: $root.config.getTruckTypesIcon}" choices="$root.config.transportTruckTypes" title="Type de camion" placeholder="Ex : Benne, Bâché, etc." ng-model="$ctrl.truck.createData.transportTruckType" />
		</div>
		<div ng-show="$ctrl.truck.createData.transportCategory === 'Bateau'">
			<label>Type de bateau</label>
			<input id="pr-vehicle-type" type="choice" choices="$root.config.transportBoatTypes" title="Type de bateau" placeholder="Ex : Barge, Navire  Lo-Lo, etc." ng-model="$ctrl.truck.createData.transportBoatType" />
		</div>
		<div ng-show="$ctrl.truck.createData.transportCategory === 'Avion'">
			<label>Type d'avion</label>
			<input id="pr-vehicle-type" type="choice" choices="$root.config.transportPlaneTypes" title="Type d\'avion" placeholder="Ex : Cargo, Passagers, etc." ng-model="$ctrl.truck.createData.transportPlaneType" />
		</div>
	</section>
	<section class="dark">
		<label>Année du vehicule</label>
		<input id="pr-vehicle-year" type="choice" choices="$root.config.years" title="Année du camion" placeholder="Ex : 2005" ng-model="$ctrl.truck.createData.birthyear" />
		<label>Insérer une photo</label>
		<lg-upload form-data="{suffix: '_ad' + $ctrl.truck.createData.imageId}" ng-model="$ctrl.truck.createData.image"></lg-upload>
	</section>
	<section>
		<lg-error error="$ctrl.truck.error"></lg-error>
		<button id="pr-add-vehicle" ng-click="$ctrl.truck.create()">Ajouter</button>
	</section>
</formx>
