<breadcrumb>
	<step start>
		<div>
			<i class="fa fa-truck" aria-hidden="true"></i><br/>
			<span>Véhicule</span>
		</div>
	</step>
	<step first disabled>
		<div>
			<i class="fa fa-pie-chart" aria-hidden="true" class=""></i><br/>
			<span>Disponibilité</span>
		</div>
	</step>
	<step disabled>
		<div>
			<i class="fa fa-money" aria-hidden="true"></i><br/>
			<span>Prix</span>
		</div>
	</step>
</breadcrumb>
<no-vehicle ng-hide="$ctrl.hasTruck">
	<span>Ajouter un véhicule à votre flotte</span>
	<button id="pr-continue-button" ui-sref="carrier:create:truck:create"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Continuer</button>
</no-vehicle>
<at-list-one-vehicle ng-show="$ctrl.hasTruck">
	<span>Sélectionner ou ajouter<br/>un véhicule</span>
	<list>
		<item id="{{'truck-' + truck.id}}" ng-click="$ctrl.selectTruck(truck)" ng-repeat="truck in $ctrl.truck.trucks">
			<left>
				<img ng-show="truck.image === undefined" src="img/truck-default.svg">
				<img ng-show="truck.image.thumbnailUrl" ng-src="{{truck.image.thumbnailUrl}}">
			</left>
			<right>
				<h2>{{truck.name}}</h2>
				<span>{{truck.model}} - {{truck.birthyear}}</span>
				<span>{{truck.transportCategory}} - {{truck.transportTruckType}}</span>
			</right>
		</item>
	</list>
	<lg-hr>ou</lg-hr>
	<button ui-sref="carrier:create:truck:create">Ajouter un nouveau véhicule</button>
</at-list-one-vehicle>
