<my-head>
	<head-left>
		<i ng-show="$ctrl.isBackPresent" ng-click="$ctrl.off(); $root.back();" class="fa fa-chevron-left" aria-hidden="true"></i>
	</head-left>
	<head-center class="logo" ng-show="!$ctrl.user.account">
		<a ng-click="$ctrl.off()" href="#/"><img src="img/logo.png" /></a>
	</head-center>
	<head-center class="logo" ng-show="$ctrl.user.account">
		<a ng-click="$ctrl.off()" href="#/"><img class="lg-svg" src="img/logo.svg" /><br/>
			{{$ctrl.user.account.content.firstname}} {{$ctrl.user.account.content.lastname | uppercase }}
		</a>
	</head-center>
	<head-right>
		<i ng-click="$ctrl.toggle()" class="fa fa-bars" aria-hidden="true"></i>
	</head-right>
</my-head>

<lg-menu-content class="lg-menu-content">
	<div ng-hide="$ctrl.user.account">
		<a ng-click="$ctrl.toggle();" ui-sref="user:signin"><i class="fa fa-sign-in" aria-hidden="true"></i> <span>Se connecter</span></a>
	</div>
	<div ng-show="$ctrl.user.account">
		<a ng-click="$ctrl.toggle();" href=""><i class="fa fa-tag" aria-hidden="true"></i><span class="notification">2</span><span>Mes propositions</span></a>
		<a ng-click="$ctrl.toggle();" href=""><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span class="notification">1</span><span>Mes engagements</span></a>
		<a ng-click="$ctrl.toggle();" ui-sref="carrier:listMyAd"><i class="fa fa-bullhorn" aria-hidden="true"></i><span class="notification">10</span><span>Mes annonces</span></a>
		<a ng-click="$ctrl.toggle();" ui-sref="user:retrieve"><i class="fa fa-user" aria-hidden="true"></i> <span>Mon profil</span></a>
		<a ng-click="$ctrl.toggle();" ui-sref="truck:list"><i class="fa fa-truck" aria-hidden="true"></i> <span>Mes véhicules</span></a>
		<br/><br/>
		<a ng-click="$ctrl.toggle();" ui-sref="user:signout" class="btn-logout" ><i class="fa fa-sign-out" aria-hidden="true"></i> <span>Se déconnecter</span></a>
		<a ng-click="$ctrl.toggle();" ui-sref="test:calendar"><i class="fa fa-calendar " aria-hidden="true"></i> <span>Test calendar</span></a>
		<a ng-click="$ctrl.toggle();" ui-sref="test"><i class="fa fa-fighter-jet " aria-hidden="true"></i> <span>Test</span></a>
		<a ng-click="$ctrl.toggle();" ui-sref="test2"><i class="fa fa-fighter-jet " aria-hidden="true"></i> <span>Test2</span></a>
		<a ng-click="$ctrl.toggle();" ui-sref="test2"><i class="fa fa-fighter-jet " aria-hidden="true"></i> <span>Test2</span></a>
		<a ng-click="$ctrl.toggle();" ui-sref="test2"><i class="fa fa-fighter-jet " aria-hidden="true"></i> <span>Test2</span></a>
	</div>
</lg-menu-content>

