lg-num {
    display: table;
    width: 100%;
    margin: 5px 0px;
}

lg-num plus, lg-num minus {
    display: table-cell;
    background: hsla(171, 99%, 38%, 1);
    color: white;
    border: 1px solid hsla(0, 0%, 92%, 1);;
    width: 20%;
    height: 55px;
    font-size: 22px;
    line-height: 22px;
    margin: 5px 0px;
    vertical-align: middle;
    text-align: center;
    /* Pour Safari iPhone */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

lg-num minus {
    border-radius: 5px 0 0 5px;
    border-right: none;
}

lg-num plus {
    border-radius: 0 5px 5px 0;
    border-left: none;
}

lg-num my-input {
    display: table-cell;
    width: 60%;
    border-radius: 0px;
    border-left: none;
    border-right: none; 
    vertical-align: top;
    text-align: center;
}

lg-num my-input.filled {
    color: black;
}

lg-num my-input.editing {
    background-color: hsla(0, 0%, 95%, 1);
}


lg-num .fa {
    color: white;
}
